{% extends "layout.html" %}
{% block snippet %}
{% block seocontent %}
<title>Get in touch | Oncore</title>
<meta name="description" content="{{ entry.seoMetaDescription }}">
<meta name="keywords" content="{{ entry.seoMetaKeywords }}">
{% endblock seocontent %}
<!-- Event snippet for Oncore Consumer NZ Web enquiry conversions conversion page -->
<link rel="stylesheet" href="{{ siteUrl}}css/hhs.css" media="all">
<style>
    .labelclass {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #2f3132;
        display: block;
        width: 60%;
        margin: 60px auto 30px auto;
    }
    .radio-toolbar {
        margin: 10px;
        text-align: center;
    }
    .radio-toolbar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    .radio-toolbar input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
    }
    .radio-toolbar label.long {
        width: 232px;
    }

    .radio-toolbar label {
        display: inline-flex;
        height: 76px;
        border: solid 1px #29245e;
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        justify-content: center;
        color: #29245e;
        width: 211px;
        margin: 0 10px;
        align-items: center;
    }

    .radio-toolbar input[type="radio"]:checked + label {
        background-color: #7fca70;
        border-color: #7fca70;
    }
    .form-control.home-form {
        border-radius: 2px;
        background-color: #ffffff;
        border: none;
    }
    .input-label-wrapper {
        max-width: 528px;
        margin: 10px auto;
        float:none
    }
    .grey-container p {
        margin-bottom: 30px;
        max-width: unset;
    }
    #wrapper .grey-container h2 {
        max-width: unset;
    }
    #home-form-submit.submitted {
        width: 50px;
    }

    #home-form-submit:hover {
        color: #fff;
        opacity: 1;
    }

    #home-form-submit::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        border: 3px solid transparent;
        border-top-color: transparent;
        top: 0;
        left: 0;
        border-radius: 40px;
        box-sizing: inherit;
    }

    #home-form-submit.submitted::before {
        animation: loading 1s .25s infinite;
        transition: border-top-color 0s ease-out .25s;
        border-top-color: #29245E;
    }


    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    #s2-submit.submitted {
        width: 50px;
    }

    #s2-submit:hover {
        color: #fff;
        opacity: 1;
    }

    #s2-submit::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        border: 3px solid transparent;
        border-top-color: transparent;
        top: 0;
        left: 0;
        border-radius: 40px;
        box-sizing: inherit;
    }

    #s2-submit.submitted::before {
        animation: loading 1s .25s infinite;
        transition: border-top-color 0s ease-out .25s;
        border-top-color: #29245E;
    }
    .submitbutton {
        margin: 0 auto;
        outline: none;
        width: 200px;
        height: 50px;
        line-height: 46px;
        background-color: #7FCA70;
        box-shadow: inset 0 0 0 0px #ccc;
        border: 0;
        border-radius: 40px;
        color: #171431;
        position: relative;
        padding: 0;
        cursor: pointer;
        font-size: 18px;
        text-transform: uppercase;
        transition: width .25s;
    }
    .grey-container p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: center;
        color: #2f3132;
    }
    .grey-container .row p {
        width: 50%;
    }
    .grey-container .contact p {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        color: #333333;
        text-align: left;
        width: 100%
    }
    .grey-container .contact span {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #333333;
    }

    .grey-container .contact a {
        background-color: #7fca70;
        color: #ffffff;
        width: 73%;
        border-radius: 24px;
        padding: 11px 30px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
    }
    
    .radio-toolbar label {
        cursor: pointer;
    }
    .input-label-wrapper label {
        font-family: Montserrat;
        font-size: 16px;
    }
    @media only all and (min-width: 1024px) {
        .labelclass {
            margin-top: 110px
        }
    }

    @media only all and (max-width: 768px) {
        .radio-toolbar label {
            margin: 10px auto;
        }
        .labelclass, .grey-container .row p {
            width: 100%;
        }

        .radio-toolbar label.long {
            width: 211px;
        }
    }
    @media only all and (max-width: 767px) {
        .radio-toolbar {
            display: block;
            margin-top: 0;
        }
        #wrapper .grey-container .contact div {
            margin-bottom: 30px;
        }
    }
</style>
{% endblock snippet %}

{% block content %}

<div class="grey-container">
    <div class="inner">
        {% if craft.app.request.getSegment(3) == "stage2"  %}
        <h2>We need to know the property owner’s details to enable us to help you with your enquiry

        </h2>
        <p>Please can you provide us with the property owner or property manager’s details so that we can help you with this enquiry
        </p>
        <div class="enquiry-form">
            <form action="/forms/hhs-enquiry-stage2.php" method="post" id="hhs-stage2">
                <input type="hidden" name="tenant-email" id="tenant-email"/>
                <input type="hidden" name="tenant-name" id="tenant-name"/>
                <input type="hidden" name="tenant-phone" id="tenant-phone"/>
                <input type="hidden" name="tenant-address" id="tenant-address"/>


                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <label for="formf-firstname">Property owners / property managers name</label>
                        <input type="text" class="form-control home-form"
                               aria-label="First name" name="firstname" id="formf-firstname"
                               data-prefix="formf"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <label for="formf-email">Property owners / property managers email address
                        </label>
                        <input type="text" class="form-control home-form"
                               name="email" id="formf-email" data-prefix="formf"/>
                    </div>
                </div>

                <!--address -->
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <label for="formf-tel">Property owners / property managers phone number
                        </label>
                        <input type="tel" class="form-control home-form phone-input"
                               name="tel" id="formf-tel"
                               data-prefix="formf" data-phoneformat="yes">
                    </div>
                </div>


                <div class="row tick">
                    <div class="col-sm-12 col-xs-12 input-label-wrapper">
                        <input type="checkbox" class="uniform-styles" name="privacy"
                               id="formf-privacy" checked="checked" data-prefix="formf"/>
                        <label for="formf-privacy">I confirm that I am permitted to share their information with you.</label>
                    </div>
                </div>
                <div class="recaptcha-holder"></div>
                <input type="hidden" value="HHS Enquiry - Stage 2" name="formname">

                <div class="row tick">
                    <div class="col-md-6 col-xs-12 input-label-wrapper">
                        <button type="submit" class="btn btn-primary btn-block submitbutton" id="s2-submit">Submit</button>

                    </div>
                </div>
                <div id="prog1" class="progress" style="display: none;"></div>
            </form>
        </div>
        {% else %}

        <h2>READY TO GET HEALTHY HOMES COMPLIANT? GET IN TOUCH!
        </h2>
        <p>Give Oncore a call, or make an online enquiry to arrange a free consultation. We’ll conduct a thorough Healthy Homes inspection, provide you with a clear report and a free quote, then make any necessary repairs or upgrades needed, with minimal disruption to your day-to-day life.</p>
        <div class="enquiry-form">
            <form action="/forms/hhs-enquiry.php" method="post" id="hhs-enquiry">
                <!--<input type="hidden" name="g-recaptcha-response" id="captcha"/>-->
                <div class="row">
                    <div class="col-md-12">
                        <label class="labelclass">How Can We Help You?</label>
                        <div class="radio-toolbar">
                            <input type="radio" id="inspection" name="how" value="Free Inspection & Report">
                            <label for="inspection">Free Inspection & Report</label>

                            <input type="radio" id="repair" name="how" value="Free Quotes">
                            <label for="repair">Free Quotes</label>

                            <input type="radio" id="both" name="how" value="Both">
                            <label for="both">Both</label>
                        </div>
                    </div>
                </div>

                <div class="row" id="scroll-to">
                    <label class="labelclass">Where is your rental property located?</label>
                    <p>Providing us with your property’s location enables us to quickly connect you with an available inspector or repair and maintenance specialist in your area. </p>
                    <div class="col-md-12 input-label-wrapper">
                        <input type="text" class="form-control home-form" name="location" id="geocomplete-s2" placeholder="Search for address" aria-label="Address" onFocus="geolocate()">
                    </div>
                </div>
                <label class="labelclass">Finally, we just need the following information to contact you with your estimate and get started on getting your property Healthy Homes compliant! </label>
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <label for="formf-firstname">First Name</label>
                        <input type="text" class="form-control home-form"
                               aria-label="First name" name="firstname" id="formf-firstname"
                               data-prefix="formf"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <label for="formf-lastname">Last Name</label>
                        <input type="text" class="form-control home-form"
                               aria-label="Last name" name="lastname"
                               id="formf-lastname" data-prefix="formf"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <label for="formf-email">Email</label>
                        <input type="text" class="form-control home-form"
                               name="email" id="formf-email" data-prefix="formf"/>
                    </div>
                </div>

                <!--address -->
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <!--<input type="tel" name="p-car-tel" class="form-control home-form"-->
                        <!--placeholder="Enter phone number" aria-label="Phone number"-->
                        <!--data-prefix="c-car"/>-->
                        <label for="formf-tel">Phone</label>
                        <input type="tel" class="form-control home-form phone-input"
                               name="tel" id="formf-tel"
                               data-prefix="formf" data-phoneformat="yes">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <!--<label for="formf-email">Your Physical Address</label>-->
                        <!--<input type="text" class="form-control home-form" placeholder=""-->
                               <!--name="address" id="formf-address" data-prefix="formf" onFocus="geolocate()"/>-->
                        <label>Which of the following best describes your connection to this property?</label>
                        <div class="radio-toolbar">
                            <input type="radio" id="Tenant" name="which" value="Tenant">
                            <label for="Tenant">Tenant</label>

                            <input type="radio" id="Owner" name="which" value="Owner">
                            <label for="Owner">Owner</label>

                            <input type="radio" id="Manager" name="which" value="Property Manager">
                            <label for="Manager">Property Manager</label>
                        </div>
                    </div>
                </div>

                <div class="row tick">
                    <div class="col-sm-12 col-xs-12 input-label-wrapper">
                        <input type="checkbox" class="uniform-styles" name="privacy"
                               id="formf-privacy" checked="checked" data-prefix="formf"/>
                        <label for="formf-privacy"> I have read, understood and accepted the <a
                                href="/privacy-statement/" target="_blank">Privacy Policy</a>.</label>
                    </div>
                </div>
                <div class="row tick">
                    <div class="col-sm-12 col-xs-12 input-label-wrapper">
                        <input type="checkbox" class="uniform-styles" name="subscribe" id="formf-subscribe"
                               checked="checked"/>
                        <label for="formf-subscribe"> I consent to receiving marketing emails.</label>
                    </div>
                </div>
                <div class="recaptcha-holder"></div>
                <input type="hidden" value="HHS Enquiry" name="formname">

                <div class="row tick">
                    <div class="col-md-6 col-xs-12 input-label-wrapper">
                        <button type="submit" class="btn btn-primary btn-block submitbutton" id="home-form-submit">Submit</button>

                    </div>
                </div>
                <div id="prog1" class="progress" style="display: none;"></div>
            </form>
            <div style="height: 49px" class="justmobile"></div>

        </div>
        {% endif %}
        <h2>CONTACT DETAIL</h2>
        <div class="contact row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <p>Nationwide Phone Number</p>
                <a href="tel:0800 33 66 55">0800 33 66 55</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <p>Head Office Physical Address:</p>
                <span>Level 1, 287 Parnell Road,<br/>Parnell, Auckland, 1052<br/>New Zealand</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <p>Head Office Postal Address:</p>
                <span>PO Box 37-941,<br/>Parnell, Auckland, 1151<br/>New Zealand</span>
            </div>
        </div>
    </div>
    {% if (currentSite.name == 'oncore.local') or (currentSite.name=='Oncore Dev') %}
    <input type="hidden" id="dev-site" value="1">

    {% endif %}
</div>

{% endblock content %}
{% block scripts %}
<!--<script type="text/javascript">-->
    <!--window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName }}";-->
    <!--window.csrfTokenValue = "{{ craft.app.request.csrfToken }}";-->
<!--</script>-->
<script>
    $('input[type=radio][name=how]').change(function() {
        $('html, body').animate({scrollTop: $('#scroll-to').offset().top - 130}, 1000);
    });

    var $submit = $("#home-form-submit");
    function submitHHSEnquiry(form) {

        $(form).append('<input type="text" name="frompage" style="display:none;" value="' + window.location.hostname + window.location.pathname + '" />');
        // if (!$("input[name='how']:checked").val()) {
        //     alert('Nothing is checked!');
        // }
        // else {
        //     alert('One of the radio buttons is checked!');
        // }

        var valifirstname = submitValidation('formf-firstname', 'required', 'firstname');
        var valilastname = submitValidation('formf-lastname', 'required', 'lastname');
        var valiemail = submitValidation('formf-email', 'email');
        var valitel = submitValidation('formf-tel', 'required');
        var valilocation = submitValidation('geocomplete-s2', 'required', 'location');
        var valiprivacy = submitValidation('formf-privacy', 'privacy');
        if (valifirstname === "invalid" || valilastname === "invalid" || valiemail === "invalid" || valitel === "invalid" || valiprivacy === "invalid" || valilocation === "invalid") {
            $('.pageform #prog1').fadeOut(200);
            if ($layoutStyle == "mobile") {
                $('html, body').animate({scrollTop: $("#hhs-enquiry").offset().top}, 150, 'swing');
            }
            return false;
        }
        $submit.addClass('submitted');
        $submit.html("");

        $.ajax({
            url: $(form).attr("action"),
            type: "POST",
            data: $(form).serialize(),
            success: function (response) {
                $submit.removeClass('submitted');
                $submit.html("SUBMIT");

                if (response.match(/ContainsLink/i)) {
                    //Display error message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('You cannot enter a link for these fields.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else if (response.match(/NoPrivacy/i)) {
                    //Display try again message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('You must read and accept the Privacy Policy in order to continue.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else if (response.match(/Invalid/i)) {
                    //Display try again message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('There was an error, please try again.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else if (response.match(/Unsuccessful/i)) {
                    //Display failure message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('Your form could not be submitted. Please try again later or call us on 0800 33 60 33.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else if (response.match(/EnquirySent/i)) {
                    //Display success message in place of form for spammer but dont track submission
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform.formholder').html('<h2>Thank you for your enquiry, we will be in touch soon.</h2>');
                }
                else if (response.match(/NoCaptcha/i)) {
                    //Display try again message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('Please confirm you are not a robot.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else if (response.match(/Tenant/i)) {
                    //redirect to tenant stage 2 form
                    if($("#dev-site").val() == 1) {
                        window.location.href = "/hhs-enquiry-page/get-in-touch/stage2";
                    } else {
                        window.location.href = "/healthy-homes-standard/get-in-touch/stage2";
                    }
                }
                else {
                    ga('send', 'event', 'Enquiry submitted', 'Submit enquiry', 'Oncore Contact - General Enquiry');
                    //fbq('track', 'ENQUIRY_SUBMITTED', {action: 'submit_enquiry', label: 'Encore Contact - General Enquiry'});
                    //fbq('track', 'Lead');
                    window.location.href = "/thank-you";
                }
            },
            error: function () {
                $submit.removeClass('submitted');
                $submit.html("SUBMIT");
                //Display failure message above form
                $('.pageform #prog1').fadeOut(200);
                $('.pageform .instructions').html('Your form could not be submitted. Please try again later.').css({
                    'color': 'red',
                    'display': 'block'
                });
                //if ($layoutStyle != null) { if ($layoutStyle == "mobile") {var formPos = $(window).scrollTop() - 180;$("html, body").animate({ scrollTop: formPos }, "slow");}}
            }
        });
    }

    var $s2Submit = $("#s2-submit");
    function submitHHSStage2 (form) {
        $(form).append('<input type="text" name="frompage" style="display:none;" value="' + window.location.hostname + window.location.pathname + '" />');
        // if (!$("input[name='how']:checked").val()) {
        //     alert('Nothing is checked!');
        // }
        // else {
        //     alert('One of the radio buttons is checked!');
        // }
        $("#tenant-email").val($.cookie("tenant-email"));
        $("#tenant-name").val($.cookie("tenant-name"));
        $("#tenant-phone").val($.cookie("tenant-phone"));
        $("#tenant-address").val($.cookie("tenant-address"));

        var valifirstname = submitValidation('formf-firstname', 'required', 'firstname');
        var valiemail = submitValidation('formf-email', 'email');
        var valitel = submitValidation('formf-tel', 'required');
        var valiprivacy = submitValidation('s2-privacy', 'privacy');
        if (valifirstname === "invalid" || valiemail === "invalid" || valitel === "invalid" || valiprivacy === "invalid") {
            $('.pageform #prog1').fadeOut(200);
            if ($layoutStyle == "mobile") {
                $('html, body').animate({scrollTop: $("#hhs-enquiry").offset().top}, 150, 'swing');
            }
            return false;
        }
        $s2Submit.addClass('submitted');
        $s2Submit.html("");
        $.ajax({
            url: $(form).attr("action"),
            type: "POST",
            data: $(form).serialize(),
            success: function (response) {
                $submit.removeClass('submitted');
                $submit.html("SUBMIT");

                if (response.match(/ContainsLink/i)) {
                    //Display error message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('You cannot enter a link for these fields.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else if (response.match(/NoPrivacy/i)) {
                    //Display try again message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('You must read and accept the Privacy Policy in order to continue.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else if (response.match(/Invalid/i)) {
                    //Display try again message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('There was an error, please try again.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else if (response.match(/Unsuccessful/i)) {
                    //Display failure message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('Your form could not be submitted. Please try again later or call us on 0800 33 60 33.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else if (response.match(/EnquirySent/i)) {
                    //Display success message in place of form for spammer but dont track submission
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform.formholder').html('<h2>Thank you for your enquiry, we will be in touch soon.</h2>');
                }
                else if (response.match(/NoCaptcha/i)) {
                    //Display try again message above form
                    $('.pageform #prog1').fadeOut(200);
                    $('.pageform .instructions').html('Please confirm you are not a robot.').css({
                        'color': 'red',
                        'display': 'block'
                    });
                }
                else {
                    ga('send', 'event', 'Enquiry submitted', 'Submit enquiry', 'Oncore Contact - General Enquiry');
                    //fbq('track', 'ENQUIRY_SUBMITTED', {action: 'submit_enquiry', label: 'Encore Contact - General Enquiry'});
                    //fbq('track', 'Lead');
                    window.location.href = "/thank-you";
                }
            },
            error: function () {
                $submit.removeClass('submitted');
                $submit.html("SUBMIT");
                //Display failure message above form
                $('.pageform #prog1').fadeOut(200);
                $('.pageform .instructions').html('Your form could not be submitted. Please try again later.').css({
                    'color': 'red',
                    'display': 'block'
                });
                //if ($layoutStyle != null) { if ($layoutStyle == "mobile") {var formPos = $(window).scrollTop() - 180;$("html, body").animate({ scrollTop: formPos }, "slow");}}
            }
        });
    }
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('geocomplete-s2')),
            {types: ['geocode']});
        // Set initial restrict to the greater list of countries.
        autocomplete.setComponentRestrictions(
            {'country': ['nz']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        // autocomplete.addListener('place_changed', fillInAddress);

        auto = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('formf-address')),
            {types: ['geocode']});
        // Set initial restrict to the greater list of countries.
        auto.setComponentRestrictions(
            {'country': ['nz']});
    }


    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
                auto.setBounds(circle.getBounds());
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTEHgtybheiHQDKtSYECAdxV0YJvtfPqE&libraries=places&callback=initAutocomplete" async defer></script>

{% endblock scripts %}