{% extends "layout.html" %}
{% block snippet %}
{% block seocontent %}
<title>{{ entry.seoPageTitle }} | Oncore</title>
<meta name="description" content="{{ entry.seoMetaDescription }}">
<meta name="keywords" content="{{ entry.seoMetaKeywords }}">
{% endblock seocontent %}
<!-- Event snippet for Oncore Consumer NZ Web enquiry conversions conversion page -->
<link rel="stylesheet" href="{{ siteUrl}}css/hhs.css" media="all">

{% endblock snippet %}

{% block content %}

<div id="wideslideshow" class="overlay white">
    <img class="notmobile" src="{{ siteUrl }}images/hhs/HeroBanner.jpg"
         alt="Oncore - The key to faster, smoother jobs"/>
    <img class="justmobile" src="{{ siteUrl }}images/hhs/Hero-mobile.jpg"
         alt="Oncore - The key to faster, smoother jobs"/>
    <div class=" overlay-container white">
        <div class="inner relative-inner">
            <div class="inner container-box">
                <h1>ONCORE CAN HELP YOU WITH YOUR HEALTHY <br class="not768"/> HOMES COMPLIANCE</h1>
                <!--// home stay with the compliance in one line-->
                <div class="intro-bottom">From 1st December 2020, most landlords are legally required to include a statement of the current level of compliance with the Healthy Homes Standards in all new, varied, or renewed tenancy agreements.
                </div>
                <button onclick="location.href='/healthy-homes-standard/get-in-touch'" class="cta-button">BOOK AN INSPECTION*
                </button>
                <span class="learn-more">Learn More</span>

            </div>
        </div>
    </div>
</div>

<div class="white-container">
    <div class="inner">
    <span class="t-c">*Your $99 inspection and report fee does not include GST.

</span>
    </div>
    <h2 class="heading">WE'LL TAKE CARE OF EVERYTHING</h2>
    <p>By working with Oncore, you avoid having to hire multiple contractors. We’re your single point of contact, from conducting a thorough inspection and providing you with a comprehensive report, to ensuring every aspect of your home is
        Healthy Homes compliant. A complete one stop shop!
    </p>

    <div class="services-image-block inner">
        <div class="fleft image-holder"></div>
        <!--<img class="fleft" src="{{ siteUrl }}images/hhs/before-whole-house_1.svg">-->
        <div class="fleft">
            <div class="content-box">
                <div class="title">WHAT PARTS OF YOUR HOME NEED TO BE COMPLIANT?</div>
                <div class="content">
                    <p>Oncore can conduct a thorough inspection to identify which aspects of your home fail to meet the Healthy Homes Standards.</p>
                    <div class="toggle-list">
                        <li class="main-component">Whole House</li>
                        <div class="detail">
                            <div class="col-md-10">
                                <ul>
                                    <li>There must be no unreasonable gaps or holes in walls, ceilings, windows, skylights, floors, and doors, as these may be responsible for causing noticeable draughts.
                                    </li>
                                    <li>Ceiling insulation must be at least 120mm thick, be in reasonable condition, and adhere to the 2008 Building Code minimum, meeting the R-value for your zone.
                                    </li>
                                    <li>Underfloor insulation must meet a minimum R-value of 1.3.
                                    </li>
                                    <li>Unused fireplaces and chimneys must be closed off.
                                    </li>
                                    <li>If your property has an enclosed subfloor, it must have a ground moisture barrier.
                                    </li>
                                    <li>There must be at least one photoelectric smoke alarm on each level of the property.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Kitchen</li>
                        <div class="detail">
                            <div class="col-md-10">
                                <ul>
                                    <li>Must have windows, doors, or a skylight, that can be fixed open and are more than 5% of the floor area.
                                    </li>
                                    <li>There must be no noticeable draughts.
                                    </li>
                                    <li>Must have an extractor fan that vents to the outside.
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Living Room</li>
                        <div class="detail">
                            <div class="col-md-10">
                                <ul>
                                    <li>An approved fixed wall heater sufficient to heat the largest living room to at least 18 degrees.
                                    </li>
                                    <li>Must have windows, doors, or a skylight, that can be fixed open, and are more than 5% of the floor area.
                                    </li>
                                    <li>There must be no noticeable draughts.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Bathroom</li>
                        <div class="detail">
                            <div class="col-md-10">
                                <ul>
                                    <li>Must have an extractor fan that vents to the outside.
                                    </li>
                                    <li>There must be no noticeable draughts.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Bedrooms</li>
                        <div class="detail">
                            <div class="col-md-10">
                                <ul>
                                    <li>Must have photoelectric smoke alarms within 3m of each bedroom door.
                                    </li>
                                    <li>Must have windows, doors, or a skylight, that can be fixed open, and are more than 5% of the floor area.
                                    </li>
                                    <li>There must be no noticeable draughts.
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!--<div class="toggle-list">-->
                        <!--<li class="main-component">Insulation</li>-->
                        <!--<div class="detail">-->
                            <!--<div class="col-md-6">-->
                                <!--<li>Ceiling Insulation</li>-->
                                <!--<li>Underfloor Insulation</li>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="toggle-list">
                        <li class="main-component">Gutters, Downpipes, & Drainage</li>
                        <div class="detail">
                            <div class="col-md-6">
                                <ul>
                                    <li>There must be efficient drainage for removal of water.
                                    </li>
                                    <li>Must be unblocked and in good working condition.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <h2 class="heading" id="insulation-block">WHAT ARE THE HEALTHY HOMES STANDARDS AND HOW CAN WE HELP YOU MEET THEM?</h2>
    <div class="inner">
        <div class="three-blocks">
            <div class="col-md-2  col-sm-12">
                <li class="heating chose">Heating</li>
                <li class="insulation ">Insulation</li>
                <li class="ventilation">Ventilation</li>
                <li class="draught">Draught Stopping</li>
                <li class="moist">Moisture Ingress And Drainage</li>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="fleft image-holder"></div>
                <!--<img class="fleft" src="{{ siteUrl }}images/hhs/Insulation.jpg">-->
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="fleft">
                    <div class="content-box">
                        <div class="title">Heating</div>
                        <div class="content">
                            <p>
                                The main or largest living room must have an approved fixed wall heater capable of heating the room to a minimum of 18 degrees celsius. In most cases this will be a larger fixed heating device like an electric heater, heat pump, wood burner, or flued gas heater. Open fires or unfueled combustion heaters don’t count.
                            </p>
                            <p>
                                Oncore can help you meet these standards quickly. We can provide you with a heating inspection. If we find your property is currently not up to standard, we’ll update your heating to meet the requirements.

                            </p>

                        </div>
                        <a href="/healthy-homes-standard/get-in-touch">BOOK AN INSPECTION*</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h3>WHO DO THESE STANDARDS IMPACT?</h3>
            <p class="after-text">The Healthy Homes Standards affect landlords and their tenants. Landlords are required by law to meet the minimum housing requirements set out in the Healthy Homes Standards. If a landlord is non-compliant, a tenant can apply to the Tenancy Tribunal for a monetary order and/or a work order.
                The Tribunal may award a financial penalty of up to $4,000 against the landlord, which is usually paid to the tenant.</p>
            <h3>WHEN DO PROPERTY FIXES NEED TO BE COMPLETED?</h3>
            <p class="after-text">From 1st July 2021, landlords must ensure that all rental homes comply with the Standards within 90 days of any new or renewed tenancy.

                By 1st July 2024, all rental homes must comply with the Standards, regardless of when the tenancy began. </p>
        </div>

    </div>
</div>

<div class="grey-container">
    <div class="process inner">
        <h2>THE ONCORE HEALTHY HOMES PROCESS</h2>
        <div class="col-md-2 col-sm-2 proven">
            <img src="/images/hhs/step1.svg" alt="enquiry">
            <span class="title">ENQUIRE</span>
            <p>Get in touch with us </p>
            <div class="cta"><a href="/healthy-homes-standard/get-in-touch">START HERE NOW</a></div>
        </div>
        <div class="col-md-1 col-sm-1 arrow">
            <img class="notmobile" src="/images/hhs/arrow-right.svg" alt="arrow">
            <img class="justmobile" src="/images/hhs/arrow-down.svg" alt="arrow">
        </div>

        <div class="col-md-2 col-sm-2 project">
            <img src="/images/hhs/step2.svg" alt="inspect">
            <span class="title">INSPECT</span>
            <p>We’ll conduct a thorough inspection
            </p></div>
        <div class="col-md-1 col-sm-1 arrow">
            <img class="notmobile" src="/images/hhs/arrow-right.svg" alt="arrow">
            <img class="justmobile" src="/images/hhs/arrow-down.svg" alt="arrow">
        </div>
        <div class="col-md-2 col-sm-2 response"><img src="/images/hhs/step3.svg" alt="report"><span class="title">REPORT & QUOTE</span>
            <p>We’ll provide you with a comprehensive report and free quote
            </p>
        </div>
        <div class="col-md-1 col-sm-1 arrow">
            <img class="notmobile" src="/images/hhs/arrow-right.svg" alt="arrow">
            <img class="justmobile" src="/images/hhs/arrow-down.svg" alt="arrow">
        </div>
        <div class="col-md-2 col-sm-2 response"><img src="/images/hhs/step4.svg" alt="improve"><span class="title">IMPROVE</span>
            <p>We'll make your home fully Healthy Homes Compliant </p>
        </div>
    </div>
</div>

<div class="white-container">
    <h2>COMPLIANCE TIMEFRAMES</h2>
    <div class="timeline inner">
        <div class="col-md-3 col-sm-12">
            <div class="text-container first">
                <span class="date">1st December 2020</span>
                <p>New, varied, and renewed tenancy agreements must include specific information regarding the property's current level of Healthy Homes compliance.</p>
                <span class="note">Note that this is not required if the tenancy is a fixed term agreement that ends prior to 1st July 2021.</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="text-container second">
                <span class="date">1st July 2021</span>
                <p>Landlords must ensure that all rental homes comply with the Standards within 90 days of any new or renewed tenancy.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="text-container third">
                <span class="date">1st July 2023</span>
                <p>All Kainga Ora Homes and houses rented out by Housing New Zealand and Community Housing Providers must meet the Standards.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="text-container forth">
                <span class="date">1st July 2024</span>
                <p>All rental homes must comply with the Standards regardless of when the tenancy began.</p>
            </div>
        </div>

    </div>
    <div class="cta">
        <!--https://www.oncoreservice.co.nz/healthy-homes-standard/get-in-touch.-->
        <a class="justmobile" href="/healthy-homes-standard/get-in-touch">BOOK AN INSPECTION*</a>
    </div>
</div>


<div class="grey-container three-boxes">
    <div class="process inner">
        <h2>WHY CHOOSE ONCORE</h2>
        <div class="col-md-4 col-sm-4 proven">
            <div class="box">
                <img src="/images/hhs/proven-process.svg" alt="simple">
                <span class="title">SIMPLE</span>
                <p>Oncore’s streamlined process ensures your property exceeds the national standards. We can provide you with a property inspection and report,
                    get you a free quote, and then make any necessary improvements.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 project">
            <div class="box">
                <img src="/images/hhs/project-management.svg" alt="easy">
                <span class="title">EASY</span>
                <p>With Oncore, you don’t need to worry about following up with contractors and keeping projects on track. Tell us what you want and we’ll take care of it.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 response">
            <div class="box">
                <img src="/images/hhs/fast-time.svg" alt="fast">
                <span class="title">FAST</span>
                <p>We understand the importance of fast and reliable service. Call or message us and we’ll get back to you within 2 business days—no exceptions! </p>
            </div>
        </div>

    </div>
</div>

<div class="cta-block">
    <div class="inner">
        <h2>GET IN TOUCH</h2>
        <p>Are you unsure whether your property will meet the Healthy Homes Standards? Contact us now for an inspection!*

        </p>
        <div class="cta">
        <a href="/healthy-homes-standard/get-in-touch">BOOK NOW</a>
        </div>
    </div>
</div>

<div class="white-container inner" id="location">
    <h2>OUR LOCATIONS</h2>
    <p>We have specialists located throughout New Zealand. Enter your location below to find a maintenance specialist near you.</p>

    <div id="list-page">
        {% set myEntryQuery = craft.entries().section('location').all() %}
        {% for entry in myEntryQuery %}
        <input type="hidden" class="full-location" value="{{entry.url}}|{{entry.title}}">
        {% for contact in entry.contactAddress %}
        <input type="hidden"
               value="{{ contact.address }}|{{ entry.uri }}|{{ entry.h1heading }}|{{ contact.coveredAreas }}|{{ entry.title }}| {{contact.latitude}} | {{contact.longitude}}"
               class="address"/>
        {% endfor %}
        {% endfor %}
        <div class="location col-md-6 col-sm-12">
            <div id="find-location">
                <div class="search-location">
                    <input class="inputBox form-control" type="text" name="destination" id="destination" maxlength="35">
                    <input type="submit" class="form" id="form" value="">
                </div>
                <span class="or">or</span>
                <button id="current-location">Use my current location</button>
            </div>
            <div class="help-text">
                <p class="list-toggle">Can’t find what you’re looking for? <a href="#" class="list-toggl">Try view our full
                    list of locations.</a></p>
                <p class="support">Your browser does not support location detection.</p>
            </div>
            <div id="list-view">
                {% for entry in myEntryQuery %}
                <div class="col-md-12 col-sm-12 ">
                    <img src="/images/hhs/location.svg" alt="marker"><a href="{{ entry.url }}">{{ entry.title }}</a> <img
                        class="arrow" style="margin-top: -4px; display: none" src="/svg/arrow.svg" alt="Get in touch">
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div id="map-view">
                <div id="map-section"></div>
                <!--<div class="col-md-6 col-sm-6" id="nearby-location"></div>-->
            </div>

        </div>


        {#{contact_address_sera}#}
        {#<input type="hidden" value="{address}|{url_title}|{page_h1_heading_sera}|{areas}" class="address"/>#}
        {#{/contact_address_sera}#}

        {# Create an entry query with the 'section' and 'limit' parameters #}
        {# {% set myEntryQuery = craft.entries().section('articlePage').limit(4) %} #}


    </div>
</div>
 <!--<div id="sticky-green">-->
    <!--<div class="inner">-->
        <!--<div class="col-md-5 col-sm-6">-->
            <!--<span>* Your inspection fee will be fully refunded if you choose Oncore to complete the compliance work on your property.</span>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-1"></div>-->
        <!--<div class="col-md-3 col-sm-5">-->
            <!--<a href="/healthy-homes-standard/get-in-touch">BOOK AN INSPECTION*</a>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

{% endblock content %}
{% block scripts %}
<script src="{{ siteUrl}}js/map-location.js?v=3"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuHcqN5QvGKS2Jq7Q44V_jiohv9MxJQZM&callback=initMap&libraries=geometry"></script>
{% endblock scripts %}