{% extends "layout.html" %}
{% block snippet %}
{% block seocontent %}
<title>{{ entry.seoPageTitle }} | Oncore</title>
<meta name="description" content="{{ entry.seoMetaDescription }}">
<meta name="keywords" content="{{ entry.seoMetaKeywords }}">
{% endblock seocontent %}
<!-- Event snippet for Oncore Consumer NZ Web enquiry conversions conversion page -->
<style>


</style>
{% endblock snippet %}

{% block content %}

<div id="wideslideshow" class="overlay white">
    <img src="{{ siteUrl }}images/homepage-banner.jpg"
         alt="Oncore - The key to faster, smoother jobs"/>

    <div class=" overlay-container white">
        <div class="inner relative-inner">
            <div class="inner container-box">
                <h1>ONCORE CAN HELP YOU WITH YOUR HEALTHY HOME STANDARDS COMPLIANCE</h1>
                <div class="intro-bottom">From July 2020 onwards, most landlords are legally required to include a statement of the current level of compliance with the
                    Healthy Home Standards in all new or varied tenancy agreements.
                </div>
                <button onclick="location.href='/contact-us/project-enquiry'" class="cta-button">BOOK A FREE INSPECTION
                </button>
                <span class="learn-more">Learn more</span>
            </div>
        </div>
    </div>
</div>

<div class="white-container">
    <h2 class="heading">WE'LL TAKE CARE OF EVERYTHING</h2>
    <span>By working with Oncore, you avoid having to hire mutiple providers for different works. We'll act as your single point of contact, from conducting a thorough inspection
    to ensuring every aspect of your home is Healthy Homes compliant!</span>
    <div class="services-image-block">
        <img class="fleft" src="https://www.dev.oncoreservice.co.nz/images/Traffic-Team-large.jpg">
        <div class="fleft">
            <div class="content-box">
                <div class="title">WHAT PARTS OF YOUR HOME NEED TO BE COMPLIANT</div>
                <div class="content"><p>Oncore can conduct a thorough inspection to identify which aspects of your home fail to meet the Healthy Home Standards. If you choose us to help
                you amend these issues, we'll fully refund the inspection fee!</p></div>
                <a href="">BOOK A FREE INSPECTION</a>
            </div>
        </div>
    </div>
    <h2 class="heading">WHAT ARE THE HEALTHY HOME STANDARDS AND HOW WE HELP YOU MEET THEM?</h2>
    <div class="inner">
        <div class="services-image-block">
            <img class="fleft" src="https://www.dev.oncoreservice.co.nz/images/Traffic-Team-large.jpg">
            <div class="fleft">
                <div class="content-box">
                    <div class="title">INSULATION</div>
                    <div class="content">
                        <p>To meet the newly introduced HHS, existing ceiling insulation must be at least 120mm thick. Alternatively, ceiling and underfloor insulation must meet
                        the Requirements set out in the 2008 Build Code</p>
                        <p>Oncore can help you meet these standards. We can provide you with an insulation inspection. If we find your property is currently not up to standard, we'll update your
                        insulation to meet the requirements.</p>

                    </div>
                    <a href="">BOOK A FREE INSPECTION</a>
                </div>
            </div>
        </div>
        <h3>WHO DO THESE STANDARDS IMPACT?</h3>
        <p>The Healthy Home Standards affect landlords and their tenants. Landlords will be required by law to meet the minimum housing requirements set out in the HHS</p>
        <h3>WHEN DO PROPERTY FIXES NEED TO BE IN COMPLIANCE BY?</h3>
        <p>Most private landlords and boarding houses must ensure their properties comply with the HHS by 1st July 2021. Kainga Ora Homes and Communities and registered
        Community Housing Provider houses must comply by 1st July 2023.</p>
    </div>
</div>

<div class="grey-container inner">
    <div class="process">
        <h2>THE ONCORE HHS PROCESS</h2>
        <div class="col-md-4 col-sm-4 proven"><img src="/svg/proven-process.svg" alt=""><span class="title">INQUIRE</span>
            <p>Get in touch with us </p>
            <a href="">START HERE NOW</a>
        </div>
        <div class="col-md-4 col-sm-4 project"><img src="/svg/project-management.svg" alt=""><span class="title">INSPECT</span>
            <p>We'll conduct a refundable inspection</p></div>
        <div class="col-md-4 col-sm-4 response"><img src="/svg/fast-response.svg" alt=""><span class="title">IMPROVE</span>
            <p>We'll make your home HHS Compliant </p></div>
    </div>
</div>

<div class="white-container">
    <h2>COMPLIANCE TIMEFRAMES</h2>
    <p>Most private rental properties must comply with the Healthy Home Standards within 90 days of a tenancy. Follow the chart below to see the date that applies to your property.</p>

    <a href="">BOOK A FREE INSPECTION</a>
</div>


<div class="grey-container inner">
    <div class="process">
        <h2>WHY CHOOSE ONCORE</h2>
        <div class="col-md-4 col-sm-4 proven"><img src="/svg/proven-process.svg" alt=""><span class="title">PROVEN PROCESS</span>
            <p>Oncore's streamlined process ensures your property exceeds the national standards. We can provide you with a property inspection and make
            any necessary improvements.</p>
        </div>
        <div class="col-md-4 col-sm-4 project"><img src="/svg/project-management.svg" alt=""><span class="title">PROJECT MANAGEMENT</span>
            <p>With Oncore, you don't need to worry about following up with contractors and keeping projects on track. Tell us what you want and we'll take
            care of it</p></div>
        <div class="col-md-4 col-sm-4 response"><img src="/svg/fast-response.svg" alt=""><span class="title">FAST RESPONSE TIMES</span>
            <p>We understand the importance of fast and reliable service. Call or message us and we'll get back to you within 48 hours-no exceptions!</p></div>
    </div>
</div>

<div class="cta-block inner">
    <h2>GET IN TOUCH</h2>
    <p>Are you unsure wheather or not your property will meet the Healthy Home Standards? Contact us now for a fully refundable inspection!</p>
    <a href="">BOOK NOW</a>
</div>

<div class="white-container inner">
    <h2>OUR LOCATIONS</h2>
    <p>We have specialists located throughout New Zealand. Enter your location below to find a maintenance specialist near you.</p>
</div>
{% endblock content %}
{% block scripts %}
<script>

</script>
{% endblock scripts %}