{% extends "layout.html" %}
{% block snippet %}
{% block seocontent %}
<title>{{ entry.seoPageTitle }} | Oncore</title>
<meta name="description" content="{{ entry.seoMetaDescription }}">
<meta name="keywords" content="{{ entry.seoMetaKeywords }}">
{% endblock seocontent %}
<!-- Event snippet for Oncore Consumer NZ Web enquiry conversions conversion page -->
<link rel="stylesheet" href="{{ siteUrl}}css/hhs.css" media="all">

{% endblock snippet %}

{% block content %}

<div id="wideslideshow" class="overlay white">
    <img src="{{ siteUrl }}images/hhs/HeroBanner.jpg"
         alt="Oncore - The key to faster, smoother jobs"/>

    <div class=" overlay-container white">
        <div class="inner relative-inner">
            <div class="inner container-box">
                <h1>ONCORE CAN HELP YOU WITH YOUR HEALTHY HOME STANDARDS COMPLIANCE</h1>
                <div class="intro-bottom">From July 2020 onwards, most landlords are legally required to include a statement of the current level of compliance with the
                    Healthy Home Standards in all new or varied tenancy agreements.
                </div>
                <button onclick="location.href='/contact-us/project-enquiry'" class="cta-button">BOOK A FREE INSPECTION
                </button>
                <span class="learn-more">Learn more</span>
            </div>
        </div>
    </div>
</div>

<div class="white-container">
    <h2 class="heading">WE'LL TAKE CARE OF EVERYTHING</h2>
    <p>By working with Oncore, you avoid having to hire mutiple providers for different works. We'll act as your single point of contact, from conducting a thorough inspection
    to ensuring every aspect of your home is Healthy Homes compliant!</p>

    <div class="services-image-block">
        <div class="fleft image-holder"></div>
        <!--<img class="fleft" src="{{ siteUrl }}images/hhs/before-whole-house_1.svg">-->
        <div class="fleft">
            <div class="content-box">
                <div class="title">WHAT PARTS OF YOUR HOME NEED TO BE COMPLIANT</div>
                <div class="content">
                    <p>Oncore can conduct a thorough inspection to identify which aspects of your home fail to meet the Healthy Home Standards. If you choose us to help
                    you amend these issues, we'll fully refund the inspection fee!</p>
                    <div class="toggle-list">
                        <li class="main-component">Whole house</li>
                        <div class="detail">
                            <div class="col-md-6">
                                <li>- Ceiling Insulation</li>
                                <li>- Underfloor Insulation</li>
                                <li>- Subfloors</li>
                            </div>
                            <div class="col-md-6">
                                <li>- Skylights</li>
                                <li>- Unused Fireplaces/Chimneys</li>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Kitchen</li>
                        <div class="detail">
                            <div class="col-md-6">
                                <li>- Ceiling Insulation</li>
                                <li>- Underfloor Insulation</li>
                                <li>- Subfloors</li>
                            </div>
                            <div class="col-md-6">
                                <li>- Skylights</li>
                                <li>- Unused Fireplaces/Chimneys</li>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Living room</li>
                        <div class="detail">
                            <div class="col-md-6">
                                <li>- Ceiling Insulation</li>
                                <li>- Underfloor Insulation</li>
                                <li>- Subfloors</li>
                            </div>
                            <div class="col-md-6">
                                <li>- Skylights</li>
                                <li>- Unused Fireplaces/Chimneys</li>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Bathroom</li>
                        <div class="detail">
                            <div class="col-md-6">
                                <li>- Ceiling Insulation</li>
                                <li>- Underfloor Insulation</li>
                                <li>- Subfloors</li>
                            </div>
                            <div class="col-md-6">
                                <li>- Skylights</li>
                                <li>- Unused Fireplaces/Chimneys</li>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Bedrooms</li>
                        <div class="detail">
                            <div class="col-md-6">
                                <li>- Ceiling Insulation</li>
                                <li>- Underfloor Insulation</li>
                                <li>- Subfloors</li>
                            </div>
                            <div class="col-md-6">
                                <li>- Skylights</li>
                                <li>- Unused Fireplaces/Chimneys</li>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Insulation</li>
                        <div class="detail">
                            <div class="col-md-6">
                                <li>- Ceiling Insulation</li>
                                <li>- Underfloor Insulation</li>
                                <li>- Subfloors</li>
                            </div>
                            <div class="col-md-6">
                                <li>- Skylights</li>
                                <li>- Unused Fireplaces/Chimneys</li>
                            </div>
                        </div>
                    </div>
                    <div class="toggle-list">
                        <li class="main-component">Gutters & Drainage</li>
                        <div class="detail">
                            <div class="col-md-6">
                                <li>- Ceiling Insulation</li>
                                <li>- Underfloor Insulation</li>
                                <li>- Subfloors</li>
                            </div>
                            <div class="col-md-6">
                                <li>- Skylights</li>
                                <li>- Unused Fireplaces/Chimneys</li>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <h2 class="heading">WHAT ARE THE HEALTHY HOME STANDARDS AND HOW WE HELP YOU MEET THEM?</h2>
    <div class="inner">
        <div class="three-blocks">
            <div class="col-md-2">
                <li>Heating</li>
                <li>Insulation</li>
                <li>Ventilation</li>
                <li>Draught Stopping</li>
                <li>Moisture Ingress And Drainage</li>
            </div>
            <div class="col-md-5">
                <img class="fleft" src="{{ siteUrl }}images/hhs/Insulation.jpg">
            </div>
            <div class="col-md-5">
                <div class="fleft">
                    <div class="content-box">
                        <div class="title">INSULATION</div>
                        <div class="content">
                            <p>To meet the newly introduced HHS, existing ceiling insulation must be at least 120mm thick. Alternatively, ceiling and underfloor insulation must meet
                                the Requirements set out in the 2008 Build Code</p>
                            <p>Oncore can help you meet these standards. We can provide you with an insulation inspection. If we find your property is currently not up to standard, we'll update your
                                insulation to meet the requirements.</p>

                        </div>
                        <a href="">BOOK A FREE INSPECTION</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h3>WHO DO THESE STANDARDS IMPACT?</h3>
            <p class="after-text">The Healthy Home Standards affect landlords and their tenants. Landlords will be required by law to meet the minimum housing requirements set out in the HHS</p>
            <h3>WHEN DO PROPERTY FIXES NEED TO BE IN COMPLIANCE BY?</h3>
            <p class="after-text">Most private landlords and boarding houses must ensure their properties comply with the HHS by 1st July 2021. Kainga Ora Homes and Communities and registered
                Community Housing Provider houses must comply by 1st July 2023.</p>
        </div>

    </div>
</div>

<div class="grey-container">
    <div class="process inner">
        <h2>THE ONCORE HHS PROCESS</h2>
        <div class="col-md-4 col-sm-4 proven"><img src="/svg/proven-process.svg" alt=""><span class="title">INQUIRE</span>
            <p>Get in touch with us </p>
            <div class="cta"><a href="">START HERE NOW</a></div>

        </div>
        <div class="col-md-4 col-sm-4 project"><img src="/svg/project-management.svg" alt=""><span class="title">INSPECT</span>
            <p>We'll conduct a refundable inspection</p></div>
        <div class="col-md-4 col-sm-4 response"><img src="/svg/fast-response.svg" alt=""><span class="title">IMPROVE</span>
            <p>We'll make your home HHS Compliant </p></div>
    </div>
</div>

<div class="white-container">
    <h2>COMPLIANCE TIMEFRAMES</h2>
    <p>Most private rental properties must comply with the Healthy Home Standards within 90 days of a tenancy. Follow the chart below to see the date that applies to your property.</p>
    <div class="timeline">

    </div>
    <a href="">BOOK A FREE INSPECTION</a>
</div>


<div class="grey-container three-boxes">
    <div class="process inner">
        <h2>WHY CHOOSE ONCORE</h2>
        <div class="col-md-4 col-sm-4 proven">
            <div class="box">
                <img src="/svg/proven-process.svg" alt="">
                <span class="title">PROVEN PROCESS</span>
                <p>Oncore's streamlined process ensures your property exceeds the national standards. We can provide you with a property inspection and make
                any necessary improvements.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 project">
            <div class="box">
                <img src="/svg/project-management.svg" alt="">
                <span class="title">PROJECT MANAGEMENT</span>
                <p>With Oncore, you don't need to worry about following up with contractors and keeping projects on track. Tell us what you want and we'll take
                    care of it</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 response">
            <div class="box">
                <img src="/svg/fast-response.svg" alt="">
                <span class="title">FAST RESPONSE TIMES</span>
                <p>We understand the importance of fast and reliable service. Call or message us and we'll get back to you within 48 hours-no exceptions!</p>
            </div>
        </div>

    </div>
</div>

<div class="cta-block">
    <div class="inner">
        <h2>GET IN TOUCH</h2>
        <p>Are you unsure wheather or not your property will meet the Healthy Home Standards? Contact us now for a fully refundable inspection!</p>
        <div class="cta">
        <a href="">BOOK NOW</a>
        </div>
    </div>
</div>

<div class="white-container inner">
    <h2>OUR LOCATIONS</h2>
    <p>We have specialists located throughout New Zealand. Enter your location below to find a maintenance specialist near you.</p>

    <div id="list-page">
        {% set myEntryQuery = craft.entries().section('location').all() %}
        {% for entry in myEntryQuery %}
        <input type="hidden" class="full-location" value="{{entry.url}}|{{entry.title}}">
        {% for contact in entry.contactAddress %}
        <input type="hidden"
               value="{{ contact.address }}|{{ entry.uri }}|{{ entry.h1heading }}|{{ contact.coveredAreas }}|{{ entry.title }}| {{contact.latitude}} | {{contact.longitude}}"
               class="address"/>
        {% endfor %}
        {% endfor %}
        <div class="location col-md-6">
            <div id="find-location">
                <div class="search-location">
                    <input class="inputBox form-control" type="text" name="destination" id="destination" maxlength="35">
                    <input type="submit" class="form" id="form" value="Find">
                </div>
                <span class="or">or</span>
                <button id="current-location">Use my current location</button>
            </div>
            <div class="help-text">
                <p class="list-toggle">Can’t find what you’re looking for? <a href="#" class="list-toggl">Try view our full
                    list of locations.</a></p>
                <p class="support">Your browser does not support location detection.</p>
            </div>
            <div id="list-view">
                {% for entry in myEntryQuery %}
                <div class="col-md-12 col-sm-12 ">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="{{ entry.url }}">{{ entry.title }}</a> <img
                        class="arrow" style="margin-top: -4px; display: none" src="/svg/arrow.svg" alt="Get in touch">
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <div id="map-view">
                <div id="map-section"></div>
                <!--<div class="col-md-6 col-sm-6" id="nearby-location"></div>-->
            </div>

        </div>


        {#{contact_address_sera}#}
        {#<input type="hidden" value="{address}|{url_title}|{page_h1_heading_sera}|{areas}" class="address"/>#}
        {#{/contact_address_sera}#}

        {# Create an entry query with the 'section' and 'limit' parameters #}
        {# {% set myEntryQuery = craft.entries().section('articlePage').limit(4) %} #}


    </div>
</div>
<!--<div id="sticky-green">-->
    <!--<div class="inner">-->
        <!--<div class="col-md-5">-->
            <!--<span>* Your inspection fee will be fully refunded if you choose Oncore to complete the compliance work on your property.</span>-->
        <!--</div>-->
        <!--<div class="col-md-4"></div>-->
        <!--<div class="col-md-3">-->
            <!--<a href="">BOOK A FREE INSPECTION</a>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

{% endblock content %}
{% block scripts %}
<script src="{{ siteUrl}}js/map-location.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuHcqN5QvGKS2Jq7Q44V_jiohv9MxJQZM&callback=initMap&libraries=geometry"></script>
{% endblock scripts %}