{% extends "layout.html" %}
{% block snippet %}
{% block seocontent %}
<title>{{ entry.seoPageTitle }} | Oncore</title>
<meta name="description" content="{{ entry.seoMetaDescription }}">
<meta name="keywords" content="{{ entry.seoMetaKeywords }}">
<link rel="stylesheet" href="{{ siteUrl}}css/service-landing-page.css" media="all">
<link rel="stylesheet" href="{{ siteUrl}}css/hhs.css" media="all">

{% endblock seocontent %}
<!-- Event snippet for Oncore Consumer NZ Web enquiry conversions conversion page -->

<style>
    .trigger {
        background: #f1f1f1 !important;
    }

    #submit {
        background-color: #077b3a;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
        font-size: 1.4em;
        padding: 15px 35px !important;
        border-radius: 25px !important
    }
    .blog-image-block {
        margin: 40px auto !important;
    }
    #video {
        margin: 0px;
    }
    .services-image-block#map-block img{width:30%; margin-top:-70px;margin-right:20%;margin-bottom:30px}
    .services-image-block#map-block .content{margin-left:40%;margin-top:100px}
    .services-image-block#map-block .content .title{font-size:35px;font-weight:800;line-height:1.54;color:#333333}
    .services-image-block#map-block .content p{font-size:22px;font-weight:500;line-height:1.45;color:#333333;}
    .services-image-block#map-block .content .locations-link{font-size:16px;font-weight:600;line-height:1.63;color:#00973a}
    .services-image-block#map-block .content .locations-link i{margin-left:20px}
    .search-box{margin-top:15px}
    .search-box #search{float:left;border-radius:24px;border-color:#979797;width:70%;margin:0 10px 15px 0; height: 47px; background-color: #f1f1f1; box-shadow: none}
    .search-box #find{float:left;width:25%;margin-bottom:15px;font-weight: 700;}
    @media only all and (max-width: 1025px) and (min-width: 48em){
        .services-image-block#map-block .content{margin-left:30px;margin-top:30px}
        .services-image-block#map-block img{width:45%;margin-top:-20px;margin-right:30px}
    }
    @media only all and (max-width: 47.937em){
        .services-image-block#map-block img{width:70%;margin-top:30px}
        .services-image-block#map-block .content{margin:0;padding:30px 20px}
        .inner, .testimonial-slider .testimonial-box div{padding-left: 20px; padding-right: 20px}
        .blog-image-block {
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .inner.breadcrumheader {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    ul#search-result{margin-bottom:15px}ul#search-result li{width:100%;height:73px;border-radius:9px;box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.23);background-color:#ffffff;margin-bottom:15px;transition:0.3s}ul#search-result li.error{color:#b00321;padding:30px}ul#search-result li a{display:inline-block;width:100%;padding:20px 30px}ul#search-result li a i.fa-map-marker{position:absolute;font-size:30px}ul#search-result li a i.fa-long-arrow-right{float:right;margin-top:10px}ul#search-result li a span{display:inline-block;line-height:35px;margin-left:30px;font-size:16px;font-weight:600}
    #wideslideshow.poa-handbook a.btn-blue.enquiry-link {
        margin: 0 auto;
        display: inline-block;
        float: none;
        margin-top: 20px;
    }
    #wideslideshow.poa-handbook a.read-more {
        display: inline-block;
        margin-top: 15px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.63;
        text-shadow: 1px 2px 4px #ffffff;
    }
    div#wideslideshow.overlay.poa-handbook {
        background:none;
    }
    div#wideslideshow.overlay.poa-handbook img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;

    }
    @media only all and (min-width: 78em){
        #content.panorama {
            padding: 5px 0 0;
        }
    }
    div#wideslideshow.overlay.poa-handbook .overlay-container {
        background-image: none;
    }
    .blue-box {
        background-color: #e6e9ef;
        margin-top: 50px;
    }
    .blue-box p, .blue-box button{
        font-family: Montserrat;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #ffffff;
        padding: 40px 30px;
    }
    .blue-box p {
        padding-bottom: 30px;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #29245e;
    }
    .blue-box button {
        padding: 20px 20px;
        border-radius: 50px;
        border: solid 2px #4c983b;
        background-color: transparent;
        font-size: 20px;
        font-size: 20px;
        margin-left: 30px;
        margin-bottom: 40px;
        color: #4c983b;
    }
    div#wideslideshow.overlay.poa-handbook.covid .overlay-container .text-content .heading-content,div#wideslideshow.overlay.poa-handbook.covid .overlay-container .text-content .intro-bottom {
        text-align: left;
    }
    div#wideslideshow.overlay.covid .overlay-container .text-content {
        left: 10%;
        right: unset;
    }
    #wideslideshow.poa-handbook.covid a.btn-blue.enquiry-link {
        float: left;
    }

    .covid-tes-box {
        margin-top: 50px;
    }

    .covid-tes-box .what {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #333333;
        text-transform: uppercase;
        background: url(/design/covid/quote-icon.svg);
        background-repeat: no-repeat;
        background-position: right;
        padding-top: 20px;
    }
    .covid-tes-box .covid-test p{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #00973A;
    }
    @media only all and (max-width: 47.937em){
        div#wideslideshow.overlay.covid .overlay-container .text-content{
            left: 0;
            right: 0;
        }
    }
    .complete-project {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        width: 70%;
        margin: 0 auto;
    }
    .cta-btn {
        margin : 0 auto;
    }

    .blog-image-block .content-box a.btn, .cta-btn {
        width: 250px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #171431;
        background-color: #7fca70;
    }
    div#wideslideshow.overlay .intro-bottom {
        width:100%;
    }

    #content-body .pagecopy .text-after p{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #333333;
    }
    @media only all and (max-width: 1024px) {
        div#wideslideshow.overlay.poa-handbook .overlay-container .text-content .heading-content{
            font-size: 22px;
        }
        .landscape .content-box .intro-bottom, div#wideslideshow.overlay.poa-handbook .overlay-container .text-content .intro-bottom {
            font-size: 16px
        }
        .complete-project {
            width: 100%;
            padding: 0 20px;
            padding-top: 20px;
        }
    }
    @media only all and (max-width: 767px) {
        div#wideslideshow.overlay.poa-handbook {
            height: 600px;
        }
        .landscape .content-box .intro-bottom, div#wideslideshow.overlay.poa-handbook .overlay-container .text-content .intro-bottom {
            padding-left: 0px;
        }
        .content-header .header {
            margin-left: 0px;
        }
    }
</style>
{% endblock snippet %}

{% block content %}

<div id="wideslideshow" class="overlay white poa-handbook covid">
    <img alt="what we do" class="" src="{{ siteUrl }}panorama/{{ entry.heroImage.first().Filename }}">
    <div class="overlay-container">
        <div class="text-content">
            <div class="heading-content">
                {{ entry.heroImageHeading }}
            </div>
            <div class="intro-bottom">{{ entry.textAfterH1Heading }}
            </div>
            <a class="btn-blue enquiry-link start-project" role="button" style="margin-right: 10px;">Contact Us</a>
            <a class="btn-blue enquiry-link white" role="button"
               href="/offers/get-a-free-digital-copy-of-renovate-handbook" target="_blank">Get free renovation guide</a>
        </div>
    </div>
</div>

<div class="inner breadcrumheader">
    <div class="content-header">

        <h1 class="header"> {{ entry.pageH1Heading }}</h1>
    </div>
    <!--<div id="wideslideshow">-->
    <!--{panorama_slideshow_images_page}-->
    <!--<img src="{pano-image-page}" alt="{alt-pano-image-page}"/>-->
    <!--{/panorama_slideshow_images_page}-->
    <!--</div>-->
    <section id="content" class="panorama content-container blog-section" role="main">

        <div class="clearfix">
            <div id="content-body">

                <div class="pagecopy">
                    <div class="text-after">{{ entry.textAfterH1HeadingBottom }}</div>
                    <!-- blue box testimonial here -->
                    <div class="blue-box">
                        {{ entry.pageContent }}
                        <button class="start-project">BOOK A FREE VIRTUAL CONSULTATION NOW</button>
                    </div>
                </div>

            </div>
            <div id="content-right">
                <div class="banner">
                    <div class="header">Other types of landscaping</div>

                </div>
            </div>
        </div>
    </section>

</div>

<div>
    {% set matrixBlock = entry.imageBlock %}
    {% for key,block in matrixBlock %}
        <div class="blog-image-block clearfix inner" id="content-">
            <img src="{{ siteUrl }}articleBanner/{{ block.image.first().Filename }}" alt="{{block.imageAltText}}" {% if block.imageAlignment == "left" %} class=" fleft" {% else %} class=" fright" {% endif %} />
            <div class="fleft">
                <div class="content-box">
                    <div class="title">{{ block.heading }}</div>
                    <div class="content">{{ block.bodyContent }}</div>
                    <a class="btn btn-primary btn-block inline-btn start-project" href="#">
                        Book a FREE Video Call
                    </a>
                </div>
            </div>
        </div>
    {% if key == 1 %}
    <div style="background-color: #004220; padding-bottom: 20px; height: 100%; background:url('/images/service-page/oncore-bg.jpg');">
        <p class="complete-project">
            ONCORE CAN HELP YOU WITH YOUR HEALTHY HOMES COMPLIANCE

        </p>
        <a class="btn btn-primary btn-block inline-btn cta-btn" href="/healthy-homes-standard/">
            LEARN MORE
        </a>
    </div>
    {% endif %}
    {% endfor%}

</div>


<div class="grey-container three-boxes">
    <div class="process inner">
        <h2>WHY CHOOSE ONCORE</h2>
        <div class="col-md-4 col-sm-4 proven">
            <div class="box">
                <img src="/images/hhs/proven-process.svg" alt="simple">
                <span class="title">SIMPLE</span>
                <p>Oncore’s streamlined process ensures your property exceeds the national standards. We can provide you with a property inspection and report,
                    get you a free quote, and then make any necessary improvements.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 project">
            <div class="box">
                <img src="/images/hhs/project-management.svg" alt="easy">
                <span class="title">EASY</span>
                <p>With Oncore, you don’t need to worry about following up with contractors and keeping projects on track. Tell us what you want and we’ll take care of it.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 response">
            <div class="box">
                <img src="/images/hhs/fast-time.svg" alt="fast">
                <span class="title">FAST</span>
                <p>We understand the importance of fast and reliable service. Call or message us and we’ll get back to you within 2 business days—no exceptions! </p>
            </div>
        </div>

    </div>
</div>

<div class="white-container inner" id="location">
    <h2>OUR LOCATIONS</h2>
    <p>We have specialists located throughout New Zealand. Enter your location below to find a maintenance specialist near you.</p>

    <div id="list-page">
        {% set myEntryQuery = craft.entries().section('location').all() %}
        {% for entry in myEntryQuery %}
        <input type="hidden" class="full-location" value="{{entry.url}}|{{entry.title}}">
        {% for contact in entry.contactAddress %}
        <input type="hidden"
               value="{{ contact.address }}|{{ entry.uri }}|{{ entry.h1heading }}|{{ contact.coveredAreas }}|{{ entry.title }}| {{contact.latitude}} | {{contact.longitude}}"
               class="address"/>
        {% endfor %}
        {% endfor %}
        <div class="location col-md-6 col-sm-12">
            <div id="find-location">
                <div class="search-location">
                    <input class="inputBox form-control" type="text" name="destination" id="destination" maxlength="35">
                    <input type="submit" class="form" id="form" value="">
                </div>
                <span class="or">or</span>
                <button id="current-location">Use my current location</button>
            </div>
            <div class="help-text">
                <p class="list-toggle">Can’t find what you’re looking for? <a href="#" class="list-toggl">Try view our full
                    list of locations.</a></p>
                <p class="support">Your browser does not support location detection.</p>
            </div>
            <div id="list-view">
                {% for entry in myEntryQuery %}
                <div class="col-md-12 col-sm-12 ">
                    <img src="/images/hhs/location.svg" alt="marker"><a href="{{ entry.url }}">{{ entry.title }}</a> <img
                        class="arrow" style="margin-top: -4px; display: none" src="/svg/arrow.svg" alt="Get in touch">
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div id="map-view">
                <div id="map-section"></div>
                <!--<div class="col-md-6 col-sm-6" id="nearby-location"></div>-->
            </div>

        </div>


        {#{contact_address_sera}#}
        {#<input type="hidden" value="{address}|{url_title}|{page_h1_heading_sera}|{areas}" class="address"/>#}
        {#{/contact_address_sera}#}

        {# Create an entry query with the 'section' and 'limit' parameters #}
        {# {% set myEntryQuery = craft.entries().section('articlePage').limit(4) %} #}


    </div>
</div>
<!--{% include 'includes/footer-banner.html' %}-->
{% endblock content %}
{% block scripts %}
<script>
    $(".start-project").click(function () {
        window.location.href('/contact-us/project-enquiry/')
    })
</script>
<script src="{{ siteUrl}}js/map-location.js?v=1"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuHcqN5QvGKS2Jq7Q44V_jiohv9MxJQZM&callback=initMap&libraries=geometry"></script>
{% endblock scripts %}