
<div id="wideslideshow" class="overlay white banner">
    <img src="{{siteUrl}}images/Bitmap.jpg" alt="Oncore - The key to faster, smoother jobs"/>
    <div class="overlay-container white">
        <div class="inner">
        <h1>Ready to start a project?</h1>
        <div class="intro-bottom">Oncore specialises in doing everything related to taking care of your home, building
            or office. Get in touch today!
        </div>
        <button onclick="location.href='{{siteUrl}}contact-us/project-enquiry'" class="cta-button">Get in touch</button>
        </div>
    </div>
</div>