<footer id="footer" class="clearfix">
    <div class="clearfix">
        <section id="firstchild">
            <div class="nav-top">
                <h2><a href="/what-is-zones/landscape-design-and-garden-maintenance/">What We Do</a></h2>
                <ul>
                    <li><a href="{link}">Types Of Jobs</a></li>
                    <li><a href="{link}">How We Work With You</a></li>
                </ul>
            </div>
            <h2><a href="/contact-us/">Get In Touch</a></h2>
            <ul>
                <li><a href="/contact-us/project-enquiry/">Project Enquiry</a></li>
                <li><a href="/contact-us/franchise-opportunities/">Franchising Enquiry</a></li>
                <li><a href="{link}">Career Enquiry</a></li>
            </ul>
        </section>

        <section>
            <div class="nav-top">

                <h2><a href="/case-studies/">Work We’ve Done</a></h2>
                <ul>
                    <li><a href="{link}">Our Projects</a></li>
                </ul>
            </div>
            <h2><a href="/landscape-designers/">About us</a></h2>
            <ul>
                <li><a href="{link}">Our People</a></li>
                <li><a href="{link}">Our Partner</a></li>
                <li><a href="{link}">Our History</a></li>
            </ul>
        </section>

        <section class="notmobile">
            <div class="nav-top">

                <h2><a href="/landscaping-ideas/">Blog</a></h2>
                <ul>
                    <li><a href="{link}">Advice Articles</a></li>
                    <li><a href="{link}">News Articles</a></li>
                </ul>
            </div>
            <h2><a href="/">Competitions</a></h2>
            <ul>
                <li><a href="{link}">Competitions</a></li>
            </ul>
        </section>

        <section class="justmobile">
            <h2><a href="/landscaping-ideas/">Blog</a></h2>
            <ul>
                <li><a href="{link}">Advice Articles</a></li>
                <li><a href="{link}">News Articles</a></li>
            </ul>
        </section>
        <section class="justmobile">
            <h2><a href="/">Competitions</a></h2>
            <ul>
                <li><a href="{link}">Competitions</a></li>
            </ul>
        </section>

        <section class="form">
            <div class="nav-top">
                <h2>Sign up to our newsletter</h2>
                <p>Join our mailing list to receive inspirational ideas and advice for your home renovation.</p>
                <!--<a class="subscribe" onclick="ga('send', 'event', 'Open Newsletter Subscribe popup', 'Click to Newsletter Subscribe popup', 'Newsletter Subscribe popup button');" href="/forms/subscribe/?layout=enquiry&amp;ajax=true&amp;width=680&amp;height=500" rel="prettyPhoto[ajax] nofollow">Sign Up</a>-->
                <a class="subscribe" onclick="ga('send', 'event', 'Open Newsletter Subscribe popup', 'Click to Newsletter Subscribe popup', 'Newsletter Subscribe popup button');" >Sign Up</a>
                <!--add script for modal form please-->
                <!--add script to add share later please-->
            </div>
            <div id="desktop-share"></div>

        </section>
        <div class="adwordstracking-footer"></div>
    </div>

    <section id="footer-tools">
        <div class="wrapper">
            <!-- <div id="choose-country">
            <label for="choose-site">Select your region: </label><select id="choose-site" aria-label="Region">
            <option value="{site_url_global}">Global</option>
            <option value="{site_url_au}">Australia</option>
            <option value="{site_url_uk}">United Kingdom</option>
            <option value="" selected="selected">New Zealand</option>
            </select>
            </div> -->
            <div class="clearfix">
                <p class="fleft"><span class="f-copyright">&copy; 2019 Oncore Services</span> <span class="notmobile">| </span><span class="f-links"><a href="/privacy-statement/">Privacy Statement</a></span><br />
                    <span class="f-by">Website strategy and design by <a href="http://www.traffic.net.nz/" target="_blank">Traffic New Zealand Ltd.</a></span></p>
            </div>
        </div>
    </section>
</footer>
