<nav role="navigation" id="topnav">
    <div id="sitebanner" class="clearfix">
        <!--<div class="row mobile-nav">-->
        <!--<div class="col-xs-1"></div>-->
        <!--<p class="fleft col-xs-5 col-sm-5"><a href="/"><img src="images/Oncore-logo.png"-->
        <!--alt="Oncore"/></a></p>-->
        <!---->
        <!--<div class="col-xs-2"></div>-->
        <!--</div>-->
        <div id="mobile-menu-link" class="col-xs-2 col-sm-2 "></div>
        <div class="fleft logo"><a href="/"><img src="images/Oncore-logo.png"
                                                 alt="Oncore"/></a></div>


        <ul id="site-main" class="fleft notmobile notipad">
            <li class="dropdown">
                <a href="/types-of-jobs" class="dropbtn">What We Do </a>
                <div class="dropdown-btn"></div>
                <div class="dropdown-content">
                    <a class="dropdown-links" href="/types-of-jobs">Types of Jobs</a>
                    <a class="dropdown-links" href="/how-we-work">How We Work With You</a>
                </div>
            </li>


            <!--<li class="dropdown">-->
            <!--<a href="{site_url}photo-gallery/" class="dropbtn">Work We’ve Done</a>-->
            <!--<div class="dropdown-btn workwedone"></div>-->
            <!--<div class="dropdown-content">-->
            <!--<a class="dropdown-links" href="{site_url}case-studies/">Our Projects</a>-->
            <!--<a class="dropdown-links" href="{site_url}customer-testimonials/">Testimonials</a>-->
            <!--</div>-->
            <!--</li>-->

            <li class="dropdown"><a href="{site_url}landscape-designers/locations/" class="dropbtn">Our
                Locations</a></li>


            <li class="dropdown">
                <a href="/contact-us/enquire-about-landscaping-services/" class="dropbtn">Get In Touch</a>
                <div class="dropdown-btn"></div>
                <div class="dropdown-content">
                    <a class="dropdown-links" href="/contact-us/enquire-about-landscaping-services/">Project Enquiry</a>
                    <a class="dropdown-links" href="/contact-us/franchise-opportunities/">Franchising Enquiry</a>
                    <a class="dropdown-links" href="/contact-us/trade-jobs/">Career Enquiry</a>
                </div>
            </li>
        </ul>
        <div class="phone-top">
            <a class="notmobile" href="tel:0800 33 66 55" type="tel"><span>0800 33 66 55</span></a>
            <a href="tel:0800 33 66 55"  class="justmobile"><img src="svg/baseline-phone.svg"></a>
        </div>

    </div>

</nav>