<nav role="navigation" id="topnav">
    <div id="sitebanner" class="clearfix">
        <!--<div class="row mobile-nav">-->
        <!--<div class="col-xs-1"></div>-->
        <!--<p class="fleft col-xs-5 col-sm-5"><a href="/"><img src="images/Oncore-logo.png"-->
        <!--alt="Oncore"/></a></p>-->
        <!---->
        <!--<div class="col-xs-2"></div>-->
        <!--</div>-->
        <div id="mobile-menu-link" class="col-xs-2 col-sm-2 "></div>
        <div class="fleft logo">
            <a href="{% if craft.request.getSegment(1) == 'healthy-homes-standard' %}/healthy-homes-standard{% else %}/{% endif %}"><img src="{{ siteUrl}}images/Oncore-logo.png"
                                                 alt="Oncore"/></a></div>


        <ul id="site-main" class="fleft notmobile notipad">
            <!--<li class="dropdown">-->
                <!--<a href="/types-of-jobs" class="dropbtn">What We Do </a>-->
                <!--<div class="dropdown-btn"></div>-->
                <!--<div class="dropdown-content">-->
                    <!--<a class="dropdown-links" href="/types-of-jobs">Types of Jobs</a>-->
                    <!--<a class="dropdown-links" href="/how-we-work">How We Work With You</a>-->
                <!--</div>-->
            <!--</li>-->


            <!--<li class="dropdown">-->
            <!--<a href="{site_url}photo-gallery/" class="dropbtn">Work We’ve Done</a>-->
            <!--<div class="dropdown-btn workwedone"></div>-->
            <!--<div class="dropdown-content">-->
            <!--<a class="dropdown-links" href="{site_url}case-studies/">Our Projects</a>-->
            <!--<a class="dropdown-links" href="{site_url}customer-testimonials/">Testimonials</a>-->
            <!--</div>-->
            <!--</li>-->

            <!--<li class="dropdown"><a href="" class="dropbtn">Our-->
                <!--Locations</a></li>-->
            <li class="dropdown"><a href="{{ siteUrl}}/" class="
                {% if craft.request.getSegment(1) == '' %}current {% endif %}dropbtn">Our Services</a></li>
 
            <li class="dropdown"><a href="{{ siteUrl}}healthy-homes-standard/" class="
                {% if craft.request.getSegment(1) == 'healthy-homes-standard' %}current {% endif %}dropbtn">Healthy Homes Solutions</a></li>
            
            <li class="dropdown"><a href="{% if craft.request.getSegment(1) == 'healthy-homes-standard' %}{{ siteUrl}}healthy-homes-standard#location{% else %}{{ siteUrl}}locations{% endif %}" class="
            {% if craft.request.getSegment(1) == 'locations' %}current {% endif %}dropbtn">Our Locations</a></li>
            
           


            <li class="dropdown">
                <a href="{% if craft.request.getSegment(1) == 'healthy-homes-standard' %}{{ siteUrl}}healthy-homes-standard/get-in-touch{% else %}{{ siteUrl}}contact-us/project-enquiry/{% endif %}" class="{% if craft.request.getSegment(1) == 'contact-us' %}current {% endif %}dropbtn">Get In Touch</a>
                
                <div class="dropdown-btn"></div>
                    <div class="dropdown-content">
                        <a class="dropdown-links" href="/contact-us/project-enquiry/">General Enquiry</a>
                        <a class="dropdown-links" href="/contact-us/franchise-opportunities/">Business Opportunities</a>
                </div>
            </li>
        </ul>
        <div class="phone-top">
            <a class="notmobile" href="tel:0800 33 66 55" type="tel"><span>0800 33 66 55</span></a>
            <a href="tel:0800 33 66 55"  class="justmobile"><img src="{{ siteUrl}}svg/baseline-phone.svg"></a>
        </div>
        <div id="menu-mobile" style="display: none">
            <div id="mobile-menu-close"><span>✖</span></div>
            <ul id="menu-main">
                <!--<li>-->
                    <!--<h2><a href="#what-we-do">What We Do</a></h2> <div class="dropdown-btn"></div>-->
                    <!--<ul>-->
                        <!--<li><a href="/">Types Of Jobs</a></li>-->
                        <!--<li><a href="/">How We Work With You</a></li>-->
                    <!--</ul>-->

                <!--</li>-->
                <!--<li>--> 
                    <!--<h2><a>Work We’ve Done</a></h2><div class="dropdown-btn workwedone"></div>-->
                    <!--<ul>-->
                        <!--<li><a class="dropdown-links" href="/">Our Projects</a></li>-->
                        <!--<li><a class="dropdown-links" href="/">Testimonials</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <li>
                    <h2>
                        <a 
                {% if craft.request.getSegment(1) == "locations" %} class="current" {% endif %} href="{{ siteUrl}}locations">Our Locations</a>
                    </h2>
                </li>
            

                
                <li>
                    <h2>
                        <a {% if craft.request.getSegment(2) == "franchise-opportunities" %} class="current" {% endif %} href="{{ siteUrl}}contact-us/franchise-opportunities/">
                            Franchise Opportunities
                        </a>
                    </h2>
                </li>
               
                <li><h2><a 
                {% if craft.request.getSegment(1) == "contact-us" %} class="current" {% endif %} href="{{ siteUrl}}contact-us/project-enquiry/">Get In Touch</a></h2></li>
               
                <li>
                    <h2><a>Get In Touch</a></h2><div class="dropdown-btn"></div>
                    <ul>
                        <li><a class="dropdown-links" href="/contact-us/project-enquiry/">Project Enquiry</a>
                        </li>
                        <li><a class="dropdown-links" href="/contact-us/franchise-opportunities/">Franchising Enquiry</a>
                        </li>
                    
                    </ul>
                </li>
                <li class="phone-mobile"><h2><a href="#" type="tel">0800 33 66 55</a></h2></li>

            </ul>

        </div>
    </div>


</nav>