<div class="pagination inner">
    <div class="row clearfix" id="link-tools">
        {% if filter == 0 %}
            <div class="col-md-4 col-sm-4 col-xs-3 prev">
                {% if pageInfo.prevUrl %}
                    <a href="{{ pageInfo.prevUrl }}" class="fleft">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        <div class="fright notmobile">Previous</div>
                    </a>
                {% endif %}

            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 center">
                {% for page, url in pageInfo.getPrevUrls(5) %}
                    <a href="{{ url }}">{{ page }}</a>
                {% endfor %}
                {% if pageInfo.getPrevUrls() is not empty and pageInfo.getNextUrls() is not empty %}
                    <span class="current">{{ pageInfo.currentPage }}</span>
                {% endif %}
                {% for page, url in pageInfo.getNextUrls(5) %}
                    <a href="{{ url }}">{{ page }}</a>
                {% endfor %}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-3 next">
                {% if pageInfo.nextUrl %}
                    <a href="{{ pageInfo.nextUrl }}" class="fright">
                        <span class="notmobile">Next</span>
                        <div class="fright">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>

                    </a>
                {% endif %}
            </div>
        {% else %}

            <div class="col-md-4 col-sm-4 col-xs-3 prev">
                {% if pageInfo.prevUrl %}
                    {% if type is empty %}
                            <a href="{{ pageInfo.prevUrl }}" class="fleft">
                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                <div class="fright notmobile">Previous</div>
                            </a>
                        </div>
                    {% else %}
                            <a href="{{ pageInfo.prevUrl }}?type={{ type }}" class="fleft">
                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                <div class="fright notmobile">Previous</div>
                            </a>
                    {% endif %}
                {% endif %}
            </div>



            <div class="col-md-4 col-sm-4 col-xs-6 center">
                {% for page, url in pageInfo.getPrevUrls(5) %}
                    {% if type is defined %}
                        {% if type is empty %}
                            <a href="{{ url }}">{{ page }}</a>
                        {% else %}
                            <a href="{{ url }}?type={{ type }}">{{ page }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if pageInfo.getPrevUrls() is not empty and pageInfo.getNextUrls() is not empty %}
                    <span class="current">{{ pageInfo.currentPage }}</span>
                {% endif %}

                {% for page, url in pageInfo.getNextUrls(5) %}
                    {% if type is defined %}
                        {% if type is empty %}
                            <a href="{{ url }}">{{ page }}</a>
                        {% else %}
                            <a href="{{ url }}?type={{ type }}">{{ page }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
    <div class="col-md-4 col-sm-4 col-xs-3 next">

            {% if pageInfo.nextUrl %}
            {% if type is defined %}
                {% if type is empty %}
                        <a href="{{ pageInfo.nextUrl }}" class="fright">
                            <span class="notmobile">Next</span>
                            <div class="fright">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </div>

                        </a>
                    </div>
                {% else %}
                        <a href="{{ pageInfo.nextUrl }}?type={{ type }}" class="fright">
                            <span class="notmobile">Next</span>
                            <div class="fright">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </div>

                        </a>
                {% endif %}
            {% endif %}

            {% endif %}
        {% endif %}
    </div>

</div>
</div>