#map-section {
    height: 550px;
    margin-bottom: 30px !important
}

.map-title {
    font-weight: bold;
    color: #0079bb
}

.inputBox {
    width: 40%;
    height: 48px;
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#form {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px #4fae47;
    color: #ffffff;
    background-color: #4fae47;
    width: 136px;
    height: 48px;
    font-size: 14px;
    font-weight: bold;
    float: left;
}

#current-location {
    border-radius: 4px;
    border: solid 1px #4fae47;
    color: #ffffff;
    background-color: #4fae47;
    width: 267px;
    height: 48px;
    font-size: 14px;
    font-weight: bold;
    float: left;
}

.or {
    float: left;
    line-height: 48px;
    margin: auto 20px;
}

#find-location {
    display: inline;
}

.inner.location {
    height: auto;
    overflow: auto;
}

@media only all and (max-width: 48em) {
    #current-location, .search-location {
        width: 100%;
    }

    #form {
        width: 30%;
    }

    #destination {
        width: 70%;
    }

    .inner.location {
        margin-bottom: .67em;
    }

    #list-view .col-md-4 {
        padding-bottom: 0px;
    }
}

@media only all and (min-width: 48em) and (max-width: 64em) {
    #current-location {
        width: 220px;
    }

    #form {
        width: 116px;
    }

    #destination {
        width: 40%;
    }

    .inner.location {
        margin-bottom: .67em;
    }
}

.full-width-text-left {
    margin-bottom: 0px !important;
}

.help-text {
    margin-top: 23px !important;
}

.help-text p {
    font-size: 16px;
}

#nearby-location {
    margin: 10px auto;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
    height: 550px;
}

.nearby-list {
    margin-top: 20px;
    width: 100%;
    height: 93px;
    list-style-type: none;
    border-radius: 6px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 500;
    line-height: 98px;
    margin-bottom: 9px;
    padding-left: 20px;
    color: #4fae47
}

#map-view {
    overflow: auto;
    height: auto;
    margin-bottom: 50px;
}

#list-page .list-toggle {
    margin-bottom: 30px;
}
#list-view .col-md-4 {
    padding-left: 0px;
    padding-bottom: 30px;
}

#list-view {
    margin-top: 50px;
}

#list-view .back {
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 50px;
}

#list-view h2 {
    margin-bottom: 30px;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 500;
}

#list-view div.col-md-12 {
    margin: 15px 0px;
}

#list-view a {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #4fae47;
}

#list-view a:hover + .arrow {
    display: inline !important;
    opacity: 0.7;
}

#list-view .back a {
    font-family: "Open Sans";
    font-size: 16px;
    text-decoration: underline;
}

.nearby-list:hover {
    cursor: pointer;
    opacity: 0.7;
}

#number-location {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 500;
    margin-top: 50px;
}

@media only all and (max-width: 767px) {
    #nearby-location {
        overflow: auto;
        height: auto;
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 30px;
    }

    .nearby-list {
        font-size: 16px;
    }

    #list-view .col-md-4 {
        margin-top: 30px;
    }
    #sticky-green {
        display: none !important;
    }
}

@media only all and (min-width: 767px) and (max-width: 1024px) {
    .nearby-list {
        font-size: 20px;
    }
}

#list-view .fa {
    font-size: 25px;
    color: #4fae47;
    margin-right: 20px;
}

#nearby-location .fa {
    font-size: 35px;
    padding-right: 15px;
    line-height: 93px;
    color: #4fae47;

}
/*end map*/
/*start new location style*/
#form {
    width: 40px;
    height: 40px;

}
.inputBox {
    height: 40px;
    max-width: 250px;
}
#current-location {
    max-width: 200px;
    height: 40px;
}
.or {
    line-height: 40px;
    margin: auto 15px;
}
.help-text,  .white-container p.help-text, .white-container .help-text a, .white-container p.list-toggle{
    width: 100%;
    float: left;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: normal;
    text-align: left;
}
.toggle-list {
    height: 100%;
    overflow: auto;
    list-style-type: none;
}
.list-toggl {
    height: 100%;
    overflow: auto;
    list-style-type: none;
}

/*end new location*/
.white-container, .grey-container {
    height: auto;
    overflow: auto;
}
div#wideslideshow.overlay .overlay-container div.inner.relative-inner {
    width: 100%;
    height: 100%;
}
div#wideslideshow.overlay .overlay-container div.inner.container-box {
    width: 50%;
    height: 160%;
    /*top: -63px;*/
    top: -347px;
    /*border-radius: 0;*/
    border-radius: 50%;
    /*border-bottom-right-radius: 70%;*/
    opacity: 0.88;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
div#wideslideshow.overlay .overlay-container div.inner.container-box h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #0d0c22;
    margin-top: 400px;
    width: 655px;
    padding-left: 50px;
}
div#wideslideshow.overlay .overlay-container div.inner.container-box .intro-bottom {
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d0c22;
    width: 80%;
    padding-left: 50px;
}
div#wideslideshow.overlay .overlay-container div.inner.container-box .cta-button {
    margin-left: 50px;
    background-color: #7fca70;
    color: #333333;
    width: auto;
    padding: 0 20px;
    border-radius: 24px;
}
#wrapper div#wideslideshow.overlay .overlay-container div.inner.container-box .learn-more {
    border-radius: 24px;
    border: solid 1px #979797;
    color: #333333;
    height: 48px;
    width: auto;
    padding: 11px 20px;
}
#wrapper .white-container h2.heading, #wrapper .white-container h2, #wrapper .grey-container h2  {
    font-family: Montserrat;
    font-size: 30px;
    line-height: 1.33;
    text-align: center;
    color: #000000;
    margin: 80px auto 20px auto;
    font-weight: normal;
    max-width: 800px;
}
.white-container p, .grey-container p  {
    font-family: Poppins;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #2f3132;
    max-width: 800px;
    margin: 0 auto 80px auto;
}
.services-image-block .content-box {
    margin: 0 auto;
    padding: 0 20px;
}

.services-image-block .content-box .title {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #4c983b;
}
.services-image-block .content-box .content p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #2f3132;
    text-align: left;
    margin-bottom: 30px;
}
.services-image-block .content-box .main-component {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin: 8px auto;
    cursor: pointer;
}
.services-image-block .content-box .detail {
    display: none;
}
.services-image-block .content-box .detail li {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #333333;
}
@media only screen and (min-width: 48em){
    div.services-image-block div.fleft.image-holder {
        width: 49%;
        height: 800px;
        background: url("/images/hhs/old house.svg") no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    div.services-image-block div.fleft.image-holder.whole {
        background: url("/images/hhs/whole-house.svg") no-repeat;
    }
    div.services-image-block div.fleft.image-holder.kitchen {
        background: url("/images/hhs/kitchen.svg") no-repeat;
    }
    div.services-image-block div.fleft.image-holder.bathroom {
        background: url("/images/hhs/bathroom.svg") no-repeat;
    }
    div.services-image-block div.fleft.image-holder.insulation {
        background: url("/images/hhs/insulation.svg") no-repeat;
    }div.services-image-block div.fleft.image-holder.roof {
         background: url("/images/hhs/roof-01.svg") no-repeat;
     }
    div.services-image-block div.fleft.image-holder.bedroom {
        background: url("/images/hhs/bedroom.svg") no-repeat;
    }
    div.services-image-block div.fleft.image-holder.living {
        background: url("/images/hhs/livingroom.svg") no-repeat;
    }
}

.three-blocks .image-holder {
    width: 100%;
    height: 400px;
    background: url("/images/hhs/Insulation.jpg") no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}


@media only all and (min-width: 1440px){
    #wrapper .inner {
        width: 1440px;
    }
}
#wrapper .white-container h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #4c983b;
}
#wrapper .white-container p.after-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #2f3132;
    text-align: left;
    max-width: 100%;
}
#wrapper .grey-container {
    background-color: #e6e9ef;
    padding-bottom: 90px;
}
#wrapper .grey-container img{
    display: block;
    margin: 0 auto;
    height: 120px;
    width: auto;
}
#wrapper .grey-container .arrow {
    margin-top: 50px
}
#wrapper .grey-container .arrow img {
    width: 50%;
    height: auto;
}
#wrapper .grey-container .process span.title{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    letter-spacing: normal;
    color: #4c983b;
    display: block;
    text-align: center;
    margin: 10px auto 0 auto;
}
#wrapper .grey-container .process p{
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #333333;
    width: 100%;
    margin-bottom: 15px;
}
#wrapper .grey-container .process .cta {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
#wrapper .grey-container.three-boxes .process p{
    text-align: left;

}
#wrapper .grey-container .process h2 {
    margin-bottom: 80px;
}

#wrapper .grey-container.three-boxes .box {
    box-shadow: 20px 20px 40px 0 #dbdbdf, -20px -20px 40px 0 rgba(255, 255, 255, 0.76), -1px -1px 2px 0 #ffffff;
    background-color: #e6e9ef;
    min-height: 358px;
    padding: 40px 30px;
    margin: 0 20px;
}
#wrapper .grey-container.three-boxes .box img {
    margin: 0;
    height: 60px;
    width: auto;
}
#wrapper .grey-container.three-boxes .box .title {
    text-align: left;
}
#wrapper .grey-container.three-boxes .process p {
    margin: 0px;
    width: 100%;
}


.three-blocks {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.three-blocks img {
    width: 100%;
    height: 100%;
}
.three-blocks li {
    list-style-type: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    border-bottom: solid 1px #979797;
    padding: 15px 0px;
    width: 80%;
    cursor: pointer;
}
.three-blocks li.chose {
    color: #4fae47;
}
.three-blocks .content-box {
    padding: 0
}
.three-blocks .content-box .content {
    padding-bottom: 20px;
}
.three-blocks .content-box .title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 15px;
}
.three-blocks .content-box .content p{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 20px;
}
.three-blocks .content-box a, #wrapper .grey-container .process a {
    background-color: #7fca70;
    color: #333333;
    width: auto;
    border-radius: 24px;
    padding: 11px 20px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1.143rem;
    margin-top: 20px;
}
#wrapper .grey-container .process a {
    padding: 11px 12px;
    font-size: 12px;
}
.white-container .col-md-10 h3 {
    margin-top: 50px;
}
.white-container .col-md-10 p {
    margin-bottom: 50px;
}
.cta-block {
    background: url("/images/hhs/GetInTouch.jpg") no-repeat;
    background-position: center;
    min-height: 350px;
    padding: 70px 0px;
}
.cta-block h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.cta-block p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    max-width: 700px;
    margin: 20px auto 50px auto;
}
.cta-block .cta {
    display: block;
    width: 100%;
    text-align: center;
}
.cta-block a {
    background-color: #7fca70;
    color: #333333;
    width: auto;
    border-radius: 24px;
    padding: 11px 20px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1.143rem;
    margin-top: 20px;
}
#sticky-green {
    height: 110px;
    background-color: #4fae47;
    padding: 10px 0;
    display: flex;
    align-items: center;
    position:static;
    bottom: 0;
    width:100%;
    z-index:100;
}
#sticky-green .inner {
    display: flex;
    align-items: center;
}
#sticky-green span {
    color: #ffffff;
    font-size: 20px;
    font-family: "Open Sans";
}
#sticky-green a {
    background-color: #e6e9ef;
    color: #333333;
    width: auto;
    border-radius: 24px;
    padding: 11px 20px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1.143rem;
}
.timeline {
    background: url("/images/hhs/timeline.svg") no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    min-height: 700px;
}
.timeline .col-md-3 {
    position: relative;
    min-height: 700px;
}
.timeline .first {
    top: 12%;
    left: 24%;
}.timeline .second {
     bottom:10%;
     left: 16%;
}.timeline .third {
      top: 12%;
      left: 7%;
}.timeline .forth {
       bottom: 22%;
       left: -2%;
}

.timeline .date {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4c983b;
}
.timeline .text-container {
    position: absolute;
    max-width: 95%;
}
.timeline p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    text-align: left;
    margin-bottom: 0px;
}
.timeline .note {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.71;
    letter-spacing: normal;
    color: #29245e;
}
.white-container .cta {
    display: block;
    width: 100%;
    text-align: center;
    margin: 80px auto;
}
.white-container .cta a {
    background-color: #7fca70;
    color: #333333;
    width: auto;
    border-radius: 24px;
    padding: 11px 20px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 1.143rem;
    margin-top: 20px;
}

@media only all and (max-width: 767px) {
    div#wideslideshow.overlay .overlay-container {
        position: absolute;
        background: none;
        top: 0;
    }
    div#wideslideshow.overlay .overlay-container div.inner.relative-inner{
        padding: 0;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box {
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
    div#wideslideshow.overlay .overlay-container .relative-inner div.inner.container-box h1 {
        margin-top: 0;
        padding: 40px 20px 20px 20px;
        width: 100%;
    }
    div#wideslideshow.overlay .overlay-container .relative-inner div.inner.container-box .intro-bottom {
        width: 100%;
        padding: 0 20px;
    }
    #wrapper div#wideslideshow.overlay .overlay-container div.inner.container-box .learn-more {
        display: block;
        float: left;
        margin-left: 20px;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box .cta-button {
        margin-left: 20px;
    }
    div#wideslideshow.overlay {
        max-height: 601px;
    }
}
@media only all and (max-width: 768px) {

    .white-container {
        padding: 0 20px;
    }
    #wrapper .white-container .inner {
        padding: 0px;
    }
    .services-image-block .content-box .title {
        font-size: 22px;
    }
    #wrapper .white-container h2.heading, #wrapper .white-container h2, #wrapper .grey-container h2{
        font-size: 22px;
        margin: 60px auto 20px auto;
    }
    #wrapper .white-container h2.heading, #wrapper .white-container .process, .services-image-block {
        padding: 0px;
    }
    .services-image-block {
        overflow: auto;
        height: auto;
    }
    .white-container p, .grey-container p {
        font-size: 16px;
        margin-bottom: 60px;
    }
    .services-image-block .content-box .content p {
        font-size: 16px
    }
    .services-image-block .content-box {
        padding: 0px;
    }

    .three-blocks li {
        width: 100%;
        padding: 9px 0px;
    }
    .three-blocks .col-sm-12, .three-blocks .content-box{
        padding: 10px 0px;
    }
    .three-blocks .content-box{
        padding-bottom: 50px;
    }

    .three-blocks .content-box .content p, #wrapper .white-container p.after-text{
        font-size: 14px
    }
    .white-container .col-md-10 {
        padding: 10px 0px;
    }
    #wrapper .white-container h3 {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #4c983b;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    #wrapper .grey-container .process h2 {
        margin: 40px auto 10px auto;
    }
    #wrapper .grey-container .process span.title {
        margin-top: 0px
    }
    #wrapper .grey-container .arrow img {
        height: 50px;
        width: auto;
    }
    #wrapper .grey-container {
        padding-bottom: 40px;
    }
    .timeline {
        background: url("/images/hhs/timeline map.svg") no-repeat;
        position: relative;
    }
    .timeline .text-container {
        position: absolute;
        max-width: 100%;
        left: 40px !important;
    }
    .white-container .timeline .first p {
        margin-bottom: 5px;
    }
    .timeline .col-md-3 {
        position: static;
        height: 210px;
        overflow: auto;
        min-height: unset;
    }
    .timeline .first {
        top: 0;
    }
    .timeline .second {
        top: 281px;
    }
    .timeline .third {
        top: 493px;
    }
    .timeline .forth {
        top: 658px;
    }
    .white-container .cta {
        margin: 50px auto;
    }
    #wrapper .grey-container.three-boxes .box {
        margin: 40px 0px;
    }
    .location {
        overflow: auto;
    }
    #map-view {
        margin-top: 30px;
    }
    .grey-container .col-sm-2 {
        width: 100%
    }
    .grey-container .arrow {
        width: 100%;
    }
    .grey-container .arrow .notmobile {
        display: none !important;
    }
    .grey-container .arrow .justmobile {
        display: block !important;
    }
    .three-blocks {
        display: block;
    }
    
}
@media only all and (min-width: 1024px) and (max-width: 1400px) {
    div#wideslideshow.overlay .overlay-container div.inner.relative-inner {
        padding: 0;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box {
        top: -274px;
        padding: 0;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box h1 {
        margin-top: 277px;
        font-size: 25px;
        width: 100%;
        padding-left: 20px;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box .intro-bottom {
        padding-left: 20px;
        font-size: 18px;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box .cta-button {
        margin-left: 20px;
    }
    #wrapper div#wideslideshow.overlay .overlay-container div.inner.container-box .learn-more {
        margin-left: 20px;
        float: left;
        margin-top: 0;
        width: 250px;
    }
    .three-blocks .content-box .content p {
        font-size: 16px;
        margin-bottom: 5px;
    }
    #wrapper .grey-container.three-boxes .box {
        min-height: 451px;
    }
    #sticky-green a {
        font-size: 13px;
    }
    #sticky-green span {
        font-size: 16px;
    }
}
@media only all and (min-width: 768px) and (max-width: 1023px) {
    #sticky-green a {
        font-size: 13px;
    }
    #sticky-green span {
        font-size: 16px;
    }
    div#wideslideshow.overlay .overlay-container div.inner.relative-inner {
        padding: 0;
        margin-left: 0;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box {
        top: -200px;
        padding: 0;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box h1 {
        margin-top: 200px;
        font-size: 20px;
        width: 100%;
        padding-left: 20px;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box .intro-bottom {
        padding-left: 20px;
        font-size: 16px;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box .cta-button {
        margin-left: 20px;
    }
    #wrapper div#wideslideshow.overlay .overlay-container div.inner.container-box .learn-more {
        margin-left: 20px;
        float: left;
        margin-top: 0;
        width: 250px;
    }
}

@media only all and (width: 768px) {
    div.services-image-block div.fleft.image-holder {
        display: none;
    }
    .services-image-block .content-box {
        width: 100%;
    }
    #wrapper .grey-container .arrow img {
        width: 100%;
    }
    #wrapper .grey-container .process p {
        width: 100%;
    }
    #wrapper .grey-container .process a {
        font-size: 12px;
    }
    .timeline {
        min-height: 750px;
    }
    .timeline span, .timeline p {
        display: block;
        float: left;
        width: 70%;
    }
    #wrapper .inner {
        width: 100% !important;
    }
    #wrapper .grey-container.three-boxes .process p {
        font-size: 16px;
    }
    #wrapper .grey-container .process span.title {
        font-size: 18px;
        line-height: 1.4;
        margin: 15px 0;
    }
    #wrapper .grey-container.three-boxes .box img {
        height: 40px;
    }
    #wrapper .grey-container.three-boxes .box {
        min-height: 476px;
    }
    div#wideslideshow.overlay .overlay-container div.inner.container-box h1 {
        margin-top: 220px;
    }
}