{% extends "layout.html" %}

{% block snippet %}
    {% block seocontent %}
        <title>{{ entry.seoPageTitle }}</title>
        <meta name="description"
              content="{{ entry.seoMetaDescription }}">
        <meta name="keywords" content="{{ entry.seoMetaKeywords }}">
    {% endblock seocontent %}
    <!-- Event snippet for Oncore Consumer NZ Web enquiry conversions conversion page -->

{% endblock snippet %}
{% block content %}

    {#{% include 'includes/header-banner.html'  with { 'image' : entry.bannerimage.first().Filename, 'h1': entry.h1heading, 'breadcrumb': '<a#}
    {#href="/" >Home</a> / <a href="/contact-us/project-enquiry/">Get In Touch</a> / <a class="bold" href="/contact-us/project-enquiry/">Project Enquiry</a>' } %}#}
    <div id="wideslideshow" class="overlay white article-page">
        <img src="{{ siteUrl }}articleBanner/{{ entry.articleBanner.first().Filename }}"
             alt="Oncore - The key to faster, smoother jobs"/>
        <div class=" overlay-container white">
            <div class="inner">
                <div class="title-box">
                    <h1>{{ entry.title }}</h1>
                    <p>{{ entry.smallerHeading }}</p>
                    <span class="minute">
                        <img src="/svg/clock.svg" alt=""
                                              style="width: 18px; margin-top: -4px; margin-right: 10px;">
                        {{ entry.minuteToRead }} minutes read</span><span
                            class="author"> By {{ entry.articleAuthor }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-scrolling">
        <a href="/articles" onclick="history.back();return false;" class="view"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Back to articles</b></a>
        <ul class="sns-share notmobile"><li><a href="javascript:sharePage('facebook')"><i class="fa fa-facebook-official"></i></a></li><li><a href="javascript:sharePage('linkedin')"><i class="fa fa-linkedin-square"></i></a></li><li><a href="javascript:sharePage('twitter')"><i class="fa fa-twitter"></i></a></li></ul>
    </div>

    <div class="article-section article-page">
        {#summary text here#}
        <div class="content-body inner intro">{{ entry.articleIntro }}</div>


        {% set matrixBlock = entry.articleBlock %}
        {#table of content here #}
        <ul class="inner">
            {% for block in matrixBlock %}
                {% if block.type == "paragraph" %}

                    <li><a class="heading-links" style="color: #4ca845">{{ block.heading }}</a> <img class="light-arrow"
                                                                                                     src="/svg/light-arrow-down.svg"
                                                                                                     alt=""><img
                                style="display: none" class="green-arrow" src="/svg/green-arrow-down.svg" alt=""></li>
                {% endif %}
            {% endfor %}
        </ul>
        {#content matrix for each paragraph here#}
        {% for block in matrixBlock %}
            {% if block.type == "paragraph" %}
                <div class="inner heading"><h2>{{ block.heading }}</h2><span class="back-to-top notmobile">Back to top</span>
                </div>
                <div class="content-body inner">{{ block.body | nl2br | raw }}</div>
                {% if block.pullTextLeft is not empty and block.pullImageRight is not empty %}
                    <div class="content-with-image inner">

                        <div class="fleft">
                            <div class="content-body">{{ block.pullTextLeft | nl2br  }}</div>
                        </div>
                        <div class="fright"><img
                                    src="{{ siteUrl }}/articleBanner/{{ block.pullImageRight.first().Filename }}"
                                    alt="">
                            {% if block.imageCaption is not empty %}
                                <span class="image-caption">{{ block.imageCaption }}</span>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

                {% if block.pullTextRight is not empty and block.pullImageLeft is not empty %}
                    <div class="content-with-image inner">


                        <div class="fleft"><img
                                    src="{{ siteUrl }}/articleBanner/{{ block.pullImageLeft.first().Filename }}"
                                    alt="">
                            {% if block.imageCaption is not empty %}
                                <span class="image-caption">{{ block.imageCaption | nl2br }}</span>
                            {% endif %}
                        </div>
                        <div class="fright">
                            <div class="content-body">{{ block.pullTextRight | nl2br }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if block.fullWidthImage is not empty %}
                    <div class="inner">
                        <img width="100%" src="{{ siteUrl }}/articleBanner/{{ block.fullWidthImage.first().Filename }}"
                             alt="">
                        {% if block.imageCaption is not empty %}
                            <span class="image-caption">{{ block.imageCaption | nl2br }}</span>
                        {% endif %}
                    </div>
                {% endif %}
                {% if block.pullQuoteImage is not empty and block.pullQuoteText is not empty %}
                    <div class="comment-with-image">
                        <div class="fleft">
                            <img width="100%" height="466px"
                                 src="{{ siteUrl }}/articleBanner/{{ block.pullQuoteImage.first().Filename }}"
                                 alt="">
                            {% if block.imageCaption is not empty %}
                                <span class="image-caption">{{ block.imageCaption | nl2br }}</span>
                            {% endif %}
                        </div>

                        <div class="fright">
                            <div class="content-body">{{ block.pullQuoteText | nl2br }}</div>
                            <div class="content-author">{{ block.pullQuoteTextAuthor }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if block.extraContent is not empty %}
                    <div class="content-body inner">{{ block.extraContent | nl2br }}</div>
                {% endif %}

            {% endif %}
        {% endfor %}
        {#get previous and next entry#}
        <div class="inner">
            <div class="row clearfix" id="link-tools">
                <div class="col-md-4 col-sm-4 col-xs-3 prev">
                    {% set prevEntries = entry.getPrev(craft.entries.section('articlePage')) %}
                    {% if prevEntries|length %}
                        <a href="{{ prevEntries.url() }}" class="fleft">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                            <div class="fright notmobile">Previous</div>
                            </a>
                    {% endif %}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 center">
                    <a href="javascript:sharePage('facebook')"><i class="fa fa-facebook-official"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:sharePage('linkedin')"><i class="fa fa-linkedin-square"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:sharePage('twitter')"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-3 next">
                    {% set nextEntries = entry.getNext(craft.entries.section('articlePage')) %}
                    {% if nextEntries|length %}
                        <a href="{{ nextEntries.url() }}" class="fright">
                            <span class="notmobile">Next</span>
                            <div class="fright">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </div>

                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {#get list of three related entry#}
        {% set query = craft.entries.section('articlePage').id('not ' ~ entry.id).limit(3) %}
        {% if query|length %}

            {% set prevEntries = clone(query).order('postDate desc').all() %}
            {#{% set prevEntries = clone(query).postDate('> ' ~ entry.postDate.timestamp).order('postDate desc').all() %}#}
            <div class="related-articles">
                <div class="inner one-line">
                    {% for entry in prevEntries %}
                        <div class="col-md-4 col-sm-4" onclick="location.href='{{entry.url()}}'">
                            <div class="article-box">
                                <div class="image-box">
                                    <img src="{{ siteUrl }}articleBanner/{{ entry.articleBanner.first().Filename }}"
                                         alt="">
                                </div>
                                <div class="content-box">
                                    <p class="title">{{ entry.title }}</p>
                                    <div class="description"><p>{{ entry.articleIntro }}</p></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% include 'includes/footer-banner.html' %}

    </div><!-- end .inner -->

{% endblock content %}

{% block scripts %}
    <!--<script src="https://www.google.com/recaptcha/api.js?render=6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH"></script>-->
    <!--<script src="{{ siteUrl }}js/recaptcha.js"></script>-->

    <script>

        scrollDown($(".meet-director"), $(".track-record"));
        scrollDown($(".find-out-more"), $(".services-three-cols"));
        scrollDown($(".cta-button"), $(".form-banner"));
        scrollDown($(".back-to-top"), $("#wideslideshow"));
        $("fieldset.testinput").css("display", "none");
        var titleLength = 47;
        var descriptionLength = 180;
        if ($(window).width() >= 768 && $(window).width() < 1248) {
            titleLength = 35;
            descriptionLength = 120;
            $(".article-box .title").each(function(){
                $(this).css("font-size", "20px");
            });
            $(".article-box .description p").each(function(){
                $(this).css("font-size", "14px");
            })
        }
        trimText(titleLength, $(".article-box .title"));
        trimText(descriptionLength, $(".article-box .description p"));

        function trimText(count, object) {
            object.each(function () {
                var content = $(this).text();
                if (content.length > count) {

                    var c = content.substr(0, count);
                    $(this).html(c + "...");
                }
            })
        }

        $(".heading-links").hover(function () {
                $(this).siblings(".green-arrow").css("display", "inline");
                $(this).siblings(".light-arrow").css("display", "none");
                $(this).css("text-decoration", "underline");
            }, function () {
                $(this).siblings(".light-arrow").css("display", "inline");
                $(this).siblings(".green-arrow").css("display", "none");
                $(this).css("text-decoration", "none");
            }
        );

        $(".heading-links").click(function () {
            var that = $(this);

            $(".heading h2").each(function () {
                if (that.html() === $(this).html()) {
                    $('html, body').animate({scrollTop: $(this).offset().top - 130}, 1000);
                }
            });
        });
        $(window).scroll(function(){
            var p=$(window).scrollTop();
            var navtop = $("#wideslideshow").offset().top;
            var blogtop = $(".article-section").offset().top;
            if(p>blogtop){
                if($(window).width()<768){
                    $(".blog-scrolling").css({ top: 0 });
                }else{
                    $(".blog-scrolling").css({ top: navtop });
                }
                $(".blog-scrolling").show(200);
            }else{ $(".blog-scrolling").hide(200);
            }
        });

    </script>
{% endblock scripts %}