{% extends "layout.html" %}
{% block snippet %}
    {% block seocontent %}
        <title>{{ entry.seoPageTitle }} | Oncore</title>
        <meta name="description"
              content="{{ entry.seoMetaDescription }}">
        <meta name="keywords" content="{{ entry.seoMetaKeywords }}">
    {% endblock seocontent %}
    <!-- Event snippet for Oncore Consumer NZ Web enquiry conversions conversion page -->

{% endblock snippet %}
{% block content %}
    <div id="list-page">
    {% if craft.request.getSegment(1) == "articles" %}
        {% include 'includes/header-banner.html'  with { "image" : entry.bannerimage.first().Filename, "h1": "Articles", "breadcrumb": "<a
        href='/' >Home</a> / <a href='/articles/'>Blog</a>  / <a class='bold' href='/articles/'>Articles</a>" } %}
    {% elseif craft.request.getSegment(1) == "offers" %}
        {% include 'includes/header-banner.html'  with { "image" : entry.bannerimage.first().Filename, "h1": "Offers", "breadcrumb": "<a
        href='/' >Home</a> / <a class='bold' href='/offers/'>Offers</a>" } %}
    {% endif %}

    <div class="inner full-width-text-left list-page">
        <div class="col-md-8 col-xs-12">
            <p>{{ entry.pageIntroductionBoldText }}</p>
            <p class="cta-text">{{ entry.pageIntroductionSmallerText }}</p>
        </div>
        <div class="col-md-4 col-xs-12 innermobile">
            <button onclick="location.href='/contact-us/project-enquiry'" class="cta-button">Get in
                touch
            </button>
        </div>
    </div>

    {% if craft.request.getSegment(1) != "offers" %}
        <div class="filter inner">
            <span>Filter by: <a href="{{ siteUrl }}articles?type=repairs">Repair </a>Region Category</span>
        </div>
    {% endif %}

    {# find the wished category #}
    {# {% set category = craft.categories.group('projectType').title('repairs').first() %} #}
    {# Create an entry query with the 'section' and 'limit' parameters #}
    {# {% set myEntryQuery = craft.entries().section('articlePage').relatedTo(category).limit(4) %} #}

    {% if craft.request.getSegment(1) == "articles" %} {#if articles page #}
        {% set type = craft.request.getParam('type') %}
        {% if type is empty %} {# no filter in the page#}
            {% set myEntryQuery = craft.entries().section('articlePage').limit(3) %}
        {% else %} {# get entry based on the filter #}
            {% set typeCat = craft.categories.group('projectType').slug(type) %}
            {% set myEntryQuery = craft.entries().section('articlePage').relatedTo(typeCat).limit(3) %}
        {% endif %}
    {% else %} {# if offer pages #}
        {% set myEntryQuery = craft.entries().section('offerPage').limit(3) %}
    {% endif %}


    {# Create an entry query with the 'section' and 'limit' parameters #}
    {# {% set myEntryQuery = craft.entries().section('articlePage').limit(4) %} #}

    {% paginate myEntryQuery as pageInfo, pageEntries %}
    {# Display the entries #}

    <div class="list-block inner">
        {% include 'includes/article-block-list.html'  with { 'pageEntries' : pageEntries } %}
        {% if craft.request.getSegment(1) == "offers" %} {#theres no category needed so no filter in pagination #}
            {% include 'includes/pagination-listpage.html'  with { "filter" : 0, "pageInfo": pageInfo } %}
        {% else %}
            {% include 'includes/pagination-listpage.html'  with { "filter" : 1, "pageInfo": pageInfo, "type": type } %}
        {% endif %}
    </div>
    {% include 'includes/footer-banner.html' %}
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        var titleLength = 47;
        var descriptionLength = 180;
        if ($(window).width() >= 768 && $(window).width() < 1024){
            titleLength = 35;
            descriptionLength = 120;
        }
        trimText(titleLength, $(".article-box .title"));
        trimText(descriptionLength, $(".article-box .description p"));
        function trimText(count, object){
            object.each(function () {
                var content = $(this).text();
                if (content.length > count) {

                    var c = content.substr(0, count);
                    $(this).html(c + "...");
                }
            })
        }
    </script>
{% endblock scripts %}