{% extends "layout.html" %}
{% block seocontent %}
<title>Contact Us - {{entry.h1heading}}</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock seocontent %}


{% block content %}

{% include 'includes/header-banner.html'  with { 'image' : entry.bannerimage.first().Filename, 'h1': entry.h1heading, 'breadcrumb': '<a
        href="/" >Home</a> / <a href="/contact-us/project-enquiry/">Get In Touch</a> / <a class="bold" href="/contact-us/project-enquiry/">Project Enquiry</a>' } %}

<div class="inner enquiry-page">
    <section id="content" class="panorama contact" role="main">
        <div class="clearfix">
            <div id="content-body" class="form">
                <div class="content-left inner">
                    <!--<div class="intro clearfix">-->
                    <!--<h1>{contactus_bus_h1_heading}</h1>-->
                    <!--</div>-->
                    <div class="pagecopy">{{entry.pageIntroduction}}</div>
                    <br class="notmobile notipad"><br class="notmobile notipad">

                    <div class="notmobile contact-us-desktop">
                        {{entry.contactDetail}}
                        <div>

                            <!--<h2>Other Enquiries Types</h2> <br>-->
                            <!--<ul>-->
                                <!--<li><a href="/contact-us/project-enquiry">Project Enquiry</a></li>-->
                                <!--<li><a href="/contact-us/franchise-opportunities/">Franchise Enquiry</a></li>-->
                                <!--<li><a href="/contact-us/trade-jobs">Career Enquiry</a></li>-->
                            <!--</ul>-->
                        </div>
                    </div>
                </div>
            </div>

            <div id="content-right">
                <div class="theformarea-c formholder">
                    <p class="enquiry-title">Project enquiry</p>
                    <p class="instructions-c" style="display: none;"></p>
                    <form action="/forms/general-enquiry.php" method="post" id="project-job"
                          name="myform-builder-job" enctype="multipart/form-data">
                        <input type="hidden" name="g-recaptcha-response" id="captcha"/>

                        <div class="row">
                            <div class="col-md-12 input-label-wrapper">
                                <label class="labelname" for="formf-firstname">First Name</label>
                                <input type="text" class="form-control"
                                       aria-label="First name" name="firstname" id="formf-firstname"
                                       data-prefix="formf"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-label-wrapper">
                                <label class="labelname">Last Name</label>
                                <input type="text" class="form-control"
                                       aria-label="Last name" name="lastname" id="formf-lastname" data-prefix="formf"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-label-wrapper">
                                <label class="labelname">Email Address</label>
                                <input type="text" name="email" class="form-control" aria-label="Email address" id="formf-email"
                                       data-prefix="formf"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-label-wrapper">
                                <label class="labelname">Phone</label>
                                <!--<input type="tel" name="p-car-tel" class="form-control"-->
                                <!--placeholder="Enter phone number" aria-label="Phone number"-->
                                <!--data-prefix="c-car"/>-->
                                <div class="input-group" style="display: inline">
                                    <div aria-label="Country code" class="phone-code"> <span>+64</span></div>
                                    <input type="tel" class="form-control phone-input" aria-label="Phone number" name="tel" id="formf-tel" data-prefix="formf" data-phoneformat="yes">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-xs-12 input-label-wrapper">
                                <label class="labelname">Message (Optional)</label>
                                <textarea rows="8" name='enquiry' class="form-control col-xs-12" aria-label="Message"></textarea>
                            </div>
                        </div>
                        <fieldset class="clearfix testinput">
                            <legend></legend>
                            <label id="c-enq-website" class="input fullwidth"><span>Prove you are human by leaving this field blank</span>
                                <input type="text" name="website" autocomplete="off"/></label>
                        </fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 input-label-wrapper">
                                <input type="checkbox" class="uniform-styles" name="privacy" checked
                                       id="formf-privacy" aria-label="Privacy" {if "{site_version}" != "version-uk"}
                                checked{/if} data-prefix="c-car" />
                                <label for="formf-privacy"> I have read, understood and accepted the <a
                                        href="/privacy-statement/" target="_blank">Privacy Policy</a>.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 input-label-wrapper">
                                <input type="checkbox" class="uniform-styles" name="subscribe" checked
                                       id="formf-subscribe" aria-label="Subscribe" {if "{site_version}" !=
                                "version-uk"} checked{/if} />
                                <label for="formf-subscribe"> I consent to receiving advice and information relating
                                    to home improvements.</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-12 input-label-wrapper">
                                <button type="submit" class="btn btn-primary btn-block" id="c-car-submit">Submit Enquiry
                                </button>
                            </div>
                        </div>

                    </form>
                    <div id="prog1" class="progress" style="display: none;"></div>
                </div>
                <div class="adwordstracking"></div>
            </div>

            <div class="contact-us-mobile ">
                {{entry.contactDetail}}
                <div>

                    <!--<h2>Other Enquiries Types</h2><br>-->
                    <!--<ul>-->
                        <!--<li><a href="/contact-us/project-enquiry">Project Enquiry</a></li>-->
                        <!--<li><a href="/contact-us/franchise-opportunities/">Franchise Enquiry</a></li>-->
                        <!--<li><a href="/contact-us/trade-jobs">Career Enquiry</a></li>-->
                    <!--</ul>-->
                </div>
            </div>

    </section>
    <div class="sep footersep"></div>

</div><!-- end .inner -->

{% endblock content %}

{% block scripts %}
<!--<script src="https://www.google.com/recaptcha/api.js?render=6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH"></script>-->

<script>
    scrollDown($(".meet-director"), $(".track-record"));
    scrollDown($(".find-out-more"), $(".services-three-cols"));
    scrollDown($(".cta-button"), $(".form-banner"));
    $("fieldset.testinput").css("display", "none");
</script>

<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH', {action: 'homepage'}).then(function (token) {
            $('#captcha').val(token);
        }); // this one when form submit please
    });
</script>
{% endblock scripts%}