{% extends "layout.html" %}
{% block snippet %}

{% block seocontent %}
<title>Have repairman at your door in minutes | Oncore NZ</title>
<meta name="description" content="Oncore provides fast, simple and professional installation, repair and maintenance services. Call now and have one of our people at your door in minutes!">
<meta name="keywords" content="handyman, hire a hubby, repairman, auckland, cheap, affordable, on call, callout, quote, Repairs, Property maintenance,
Decorating, Painting, Gibbing and plastering, Plumbing, Electrical, Double glazing retrofitting, Double glazing replacements, Home automation,
Insulation, Leak repairs, Roofing and spouting, Windows and doors, Cupboards and shelves, Carpet and flooring, Tiling,
Locks and handles, Furniture assembly, Appliance fitting, Appliance installation, Air conditioning installation, Heat pump installation,
Water blasting, Building cleaning, Roof cleaning, Path, driveway cleaning, Car park maintenance, Gutter cleaning, Paving, Bricklaying, Concreting, Fence and gate repairs, Garden maintenance, Pergola assembly, Garden shed assembly">
{% endblock seocontent %}
<style>
    span.location-des {
        font-family: "Open Sans";
        font-size: 14px;
        font-style: italic;
        line-height: 1.36;
        color: #8e8e8e;
    }
</style>
{% endblock snippet %}

{% block content %}

{% include 'includes/header-banner.html'  with { 'image' : entry.bannerimage.first().Filename, 'h1': entry.h1heading, 'breadcrumb': '<a
        href="/" >Home</a> / <a href="/contact-us/project-enquiry/">Get In Touch</a> / <a class="bold" href="/contact-us/project-enquiry/">Project Enquiry</a>' } %}

<div class="inner enquiry-page">
    <section id="content" class="panorama contact" role="main">
        <div class="clearfix">
            <div id="content-body" class="form">
                <div class="content-left inner">
                    <!--<div class="intro clearfix">-->
                    <!--<h1>{contactus_bus_h1_heading}</h1>-->
                    <!--</div>-->
                    <div class="pagecopy">{{entry.pageIntroduction}}</div>
                    <br class="notmobile notipad"><br class="notmobile notipad">

                    <div class="notmobile contact-us-desktop">
                        {{entry.contactDetail}}
                        <div>

                            <!--<h2>Other Enquiries Types</h2> <br>-->
                            <!--<ul>-->
                                <!--<li><a href="/contact-us/project-enquiry">Project Enquiry</a></li>-->
                                <!--<li><a href="/contact-us/franchise-opportunities/">Franchise Enquiry</a></li>-->
                                <!--<li><a href="/contact-us/trade-jobs">Career Enquiry</a></li>-->
                            <!--</ul>-->
                        </div>
                    </div>
                </div>
            </div>

            <div id="content-right">
                <div class="theformarea-c formholder">
                    <p class="enquiry-title">Project enquiry</p>
                    <p class="instructions-c" style="display: none;"></p>
                    <form action="/forms/general-enquiry.php" method="post" id="project-job"
                          name="myform-builder-job" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-12 input-label-wrapper">
                                <label class="labelname" for="formf-firstname">First Name</label>
                                <input type="text" class="form-control"
                                       aria-label="First name" name="firstname" id="formf-firstname"
                                       data-prefix="formf"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-label-wrapper">
                                <label class="labelname">Last Name</label>
                                <input type="text" class="form-control"
                                       aria-label="Last name" name="lastname" id="formf-lastname" data-prefix="formf"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-label-wrapper">
                                <label class="labelname">Email Address</label>
                                <input type="text" name="email" class="form-control" aria-label="Email address" id="formf-email"
                                       data-prefix="formf"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-label-wrapper">
                                <label class="labelname">Property Location</label>
                                <select name="location" id="" class="form-control" required >
                                    <option value="" disabled selected hidden>Select location</option>
                                    <option value="AKL - Auckland City Centre">AKL - Auckland City Centre</option>
                                    <option value="AKL - Avondale">AKL - Avondale</option>
                                    <option value="AKL - Balmoral">AKL - Balmoral</option>
                                    <option value="AKL - Blockhouse Bay">AKL - Blockhouse Bay</option>
                                    <option value="AKL - Broadway Park">AKL - Broadway Park</option>
                                    <option value="AKL - Eden Terrace">AKL - Eden Terrace</option>
                                    <option value="AKL - Ellerslie">AKL - Ellerslie</option>
                                    <option value="AKL - Epsom">AKL - Epsom</option>
                                    <option value="AKL - Freemans Bay">AKL - Freemans Bay</option>
                                    <option value="AKL - Glen Innes">AKL - Glen Innes</option>
                                    <option value="AKL - Glendowie">AKL - Glendowie</option>
                                    <option value="AKL - Grafton">AKL - Grafton</option>
                                    <option value="AKL - Greenlane">AKL - Greenlane</option>
                                    <option value="AKL - Grey Lynn">AKL - Grey Lynn</option>
                                    <option value="AKL - Herne Bay">AKL - Herne Bay</option>
                                    <option value="AKL - Hillsborough">AKL - Hillsborough</option>
                                    <option value="AKL - Kingsland">AKL - Kingsland</option>
                                    <option value="AKL - Kohimarama">AKL - Kohimarama</option>
                                    <option value="AKL - Lynfield">AKL - Lynfield</option>
                                    <option value="AKL - Meadowbank">AKL - Meadowbank</option>
                                    <option value="AKL - Mission Bay">AKL - Mission Bay</option>
                                    <option value="AKL - Morningside">AKL - Morningside</option>
                                    <option value="AKL - Mount Albert">AKL - Mount Albert</option>
                                    <option value="AKL - Mount Eden">AKL - Mount Eden</option>
                                    <option value="AKL - Mount Roskill">AKL - Mount Roskill</option>
                                    <option value="AKL - Mount Roskill South">AKL - Mount Roskill South</option>
                                    <option value="AKL - Mount Wellington">AKL - Mount Wellington</option>
                                    <option value="AKL - New Windsor">AKL - New Windsor</option>
                                    <option value="AKL - Newmarket">AKL - Newmarket</option>
                                    <option value="AKL - Newton">AKL - Newton</option>
                                    <option value="AKL - One Tree Hill">AKL - One Tree Hill</option>
                                    <option value="AKL - Onehunga">AKL - Onehunga</option>
                                    <option value="AKL - Orakei">AKL - Orakei</option>
                                    <option value="AKL - Oranga">AKL - Oranga</option>
                                    <option value="AKL - Otahuhu">AKL - Otahuhu</option>
                                    <option value="AKL - Owairaka">AKL - Owairaka</option>
                                    <option value="AKL - Panmure">AKL - Panmure</option>
                                    <option value="AKL - Parnell">AKL - Parnell</option>
                                    <option value="AKL - Penrose">AKL - Penrose</option>
                                    <option value="AKL - Point Chevalier">AKL - Point Chevalier</option>
                                    <option value="AKL - Point England">AKL - Point England</option>
                                    <option value="AKL - Ponsonby">AKL - Ponsonby</option>
                                    <option value="AKL - Remuera">AKL - Remuera</option>
                                    <option value="AKL - Royal Oak">AKL - Royal Oak</option>
                                    <option value="AKL - Saint Heliers">AKL - Saint Heliers</option>
                                    <option value="AKL - Saint Johns">AKL - Saint Johns</option>
                                    <option value="AKL - Saint Johns Park">AKL - Saint Johns Park</option>
                                    <option value="AKL - Saint Marys Bay">AKL - Saint Marys Bay</option>
                                    <option value="AKL - Sandringham">AKL - Sandringham</option>
                                    <option value="AKL - Selwyn Village">AKL - Selwyn Village</option>
                                    <option value="AKL - Southdown">AKL - Southdown</option>
                                    <option value="AKL - Tamaki">AKL - Tamaki</option>
                                    <option value="AKL - Ellerslie">AKL - Ellerslie</option>
                                    <option value="AKL - Te Papapa">AKL - Te Papapa</option>
                                    <option value="AKL - Three Kings">AKL - Three Kings</option>
                                    <option value="AKL - Wai O Taiki Bay">AKL - Wai O Taiki Bay</option>
                                    <option value="AKL - Waikowhai">AKL - Waikowhai</option>
                                    <option value="AKL - Waterview">AKL - Waterview</option>
                                    <option value="AKL - Wesley">AKL - Wesley</option>
                                    <option value="AKL - Western Springs">AKL - Western Springs</option>
                                    <option value="AKL - Westfield">AKL - Westfield</option>
                                    <option value="AKL - Westmere">AKL - Westmere</option>
                                    <option value="AKL - Omiha">AKL - Omiha</option>
                                    <option value="AKL - Onetangi">AKL - Onetangi</option>
                                    <option value="AKL - Blackpool">AKL - Blackpool</option>
                                    <option value="AKL - Oneroa">AKL - Oneroa</option>
                                    <option value="AKL - Ostend">AKL - Ostend</option>
                                    <option value="AKL - Palm Beach">AKL - Palm Beach</option>
                                    <option value="AKL - Surfdale">AKL - Surfdale</option>
                                    <option value="AKL - Church Bay">AKL - Church Bay</option>
                                    <option value="AKL - Claris">AKL - Claris</option>
                                    <option value="AKL - Motairehe">AKL - Motairehe</option>
                                    <option value="AKL - Okiwi">AKL - Okiwi</option>
                                    <option value="AKL - Okupu">AKL - Okupu</option>
                                    <option value="AKL - Orapiu">AKL - Orapiu</option>
                                    <option value="AKL - Port Fitzroy">AKL - Port Fitzroy</option>
                                    <option value="AKL - Rakino Island">AKL - Rakino Island</option>
                                    <option value="AKL - Stony Batter">AKL - Stony Batter</option>
                                    <option value="AKL - Tryphena">AKL - Tryphena</option>
                                    <option value="AKL - Whangaparapara">AKL - Whangaparapara</option>
                                    <option value="BHE - Blenheim">BHE - Blenheim</option>


                                    <option value="CHC - Kaiapoi">CHC - Kaiapoi</option>
                                    <option value="CHC - Oxford">CHC - Oxford</option>
                                    <option value="CHC - Rangiora">CHC - Rangiora</option>
                                    <option value="CHC - Southbrook">CHC - Southbrook</option>
                                    <option value="CHC - Sefton">CHC - Sefton</option>
                                    <option value="CHC - Woodend">CHC - Woodend</option>
                                    <option value="CHC - Ashley">CHC - Ashley</option>
                                    <option value="CHC - Ashley Gorge">CHC - Ashley Gorge</option>
                                    <option value="CHC - Bexley">CHC - Bexley</option>
                                    <option value="CHC - Carleton">CHC - Carleton</option>
                                    <option value="CHC - Clarkville">CHC - Clarkville</option>
                                    <option value="CHC - Coldstream">CHC - Coldstream</option>
                                    <option value="CHC - Cust">CHC - Cust</option>
                                    <option value="CHC - Eyreton">CHC - Eyreton</option>
                                    <option value="CHC - Eyrewell Forest">CHC - Eyrewell Forest</option>
                                    <option value="CHC - Fernside">CHC - Fernside</option>
                                    <option value="CHC - Flaxton">CHC - Flaxton</option>
                                    <option value="CHC - Horrellville">CHC - Horrellville</option>
                                    <option value="CHC - Loburn North">CHC - Loburn North</option>
                                    <option value="CHC - Mapleham">CHC - Mapleham</option>
                                    <option value="CHC - Ohapuku">CHC - Ohapuku</option>
                                    <option value="CHC - Ohoka">CHC - Ohoka</option>
                                    <option value="CHC - Okuku">CHC - Okuku</option>
                                    <option value="CHC - Pegasus">CHC - Pegasus</option>
                                    <option value="CHC - Springbank">CHC - Springbank</option>
                                    <option value="CHC - Swannanoa">CHC - Swannanoa</option>
                                    <option value="CHC - The Warren">CHC - The Warren</option>
                                    <option value="CHC - Waikuku">CHC - Waikuku</option>
                                    <option value="CHC - Wharfedale">CHC - Wharfedale</option>
                                    <option value="CHC - Burnham">CHC - Burnham</option>
                                    <option value="CHC - Darfield">CHC - Darfield</option>
                                    <option value="CHC - Kirwee">CHC - Kirwee</option>
                                    <option value="CHC - Leeston">CHC - Leeston</option>
                                    <option value="CHC - Lincoln">CHC - Lincoln</option>
                                    <option value="CHC - Prebbleton">CHC - Prebbleton</option>
                                    <option value="CHC - Rolleston">CHC - Rolleston</option>
                                    <option value="CHC - Southbridge">CHC - Southbridge</option>
                                    <option value="CHC - Tai Tapu">CHC - Tai Tapu</option>
                                    <option value="CHC - Arthurs Pass">CHC - Arthurs Pass</option>
                                    <option value="CHC - Aylesbury">CHC - Aylesbury</option>
                                    <option value="CHC - Blenheim">CHC - Bankside</option>
                                    <option value="CHC - Bankside">CHC - Blenheim</option>
                                    <option value="CHC - Cass">CHC - Cass</option>
                                    <option value="CHC - Blenheim">CHC - Blenheim</option>
                                    <option value="CHC - Castle Hill">CHC - Castle Hill</option>
                                    <option value="CHC - Coalgate">CHC - Coalgate</option>
                                    <option value="CHC - Dunsandel">CHC - Dunsandel</option>
                                    <option value="CHC - Glentunnel">CHC - Glentunnel</option>
                                    <option value="CHC - Greendale">CHC - Greendale</option>
                                    <option value="CHC - Hororata">CHC - Hororata</option>
                                    <option value="CHC - Lake Coleridge">CHC - Lake Coleridge</option>
                                    <option value="CHC - Lake Ellesmere">CHC - Lake Ellesmere</option>
                                    <option value="CHC - Motukarara">CHC - Motukarara</option>
                                    <option value="CHC - Sedgemere">CHC - Sedgemere</option>
                                    <option value="CHC - Sheffield">CHC - Sheffield</option>
                                    <option value="CHC - Springfield">CHC - Springfield</option>
                                    <option value="CHC - Springston">CHC - Springston</option>
                                    <option value="CHC - Weedons">CHC - Weedons</option>
                                    <option value="CHC - West Melton">CHC - West Melton</option>
                                    <option value="CHC - Windwhistle">CHC - Windwhistle</option>
                                    <option value="CHC - Akaroa">CHC - Akaroa</option>
                                    <option value="CHC - Addington">CHC - Addington</option>
                                    <option value="CHC - Aidanfield">CHC - Aidanfield</option>
                                    <option value="CHC - Aranui">CHC - Aranui</option>
                                    <option value="CHC - Avondale">CHC - Avondale</option>
                                    <option value="CHC - Avonhead">CHC - Avonhead</option>
                                    <option value="CHC - Avonside">CHC - Avonside</option>
                                    <option value="CHC - Beckenham">CHC - Beckenham</option>
                                    <option value="CHC - Belfast">CHC - Belfast</option>
                                    <option value="CHC - Bexley">CHC - Bexley</option>
                                    <option value="CHC - Bishopdale">CHC - Bishopdale</option>
                                    <option value="CHC - Bromley">CHC - Bromley</option>
                                    <option value="CHC - Broomfield">CHC - Broomfield</option>
                                    <option value="CHC - Bryndwr">CHC - Bryndwr</option>
                                    <option value="CHC - Burnside">CHC - Burnside</option>
                                    <option value="CHC - Burwood">CHC - Burwood</option>
                                    <option value="CHC - Casebrook">CHC - Casebrook</option>
                                    <option value="CHC - Cashmere">CHC - Cashmere</option>
                                    <option value="CHC - Chaneys">CHC - Chaneys</option>
                                    <option value="CHC - Christchurch City Centre">CHC - Christchurch City Centre</option>
                                    <option value="CHC - Clifton">CHC - Clifton</option>
                                    <option value="CHC - Dallington">CHC - Dallington</option>
                                    <option value="CHC - Edgeware">CHC - Edgeware</option>
                                    <option value="CHC - Fendalton">CHC - Fendalton</option>
                                    <option value="CHC - Ferrymead">CHC - Ferrymead</option>
                                    <option value="CHC - Halswell">CHC - Halswell</option>
                                    <option value="CHC - Harewood">CHC - Harewood</option>
                                    <option value="CHC - Heathcote Valley">CHC - Heathcote Valley</option>
                                    <option value="CHC - Hei Hei">CHC - Hei Hei</option>
                                    <option value="CHC - Hillmorton">CHC - Hillmorton</option>
                                    <option value="CHC - Hillsborough">CHC - Hillsborough</option>
                                    <option value="CHC - Hoon Hay">CHC - Hoon Hay</option>
                                    <option value="CHC - Hornby">CHC - Hornby</option>
                                    <option value="CHC - Huntsbury">CHC - Huntsbury</option>
                                    <option value="CHC - Hyde Park">CHC - Hyde Park</option>
                                    <option value="CHC - Ilam">CHC - Ilam</option>
                                    <option value="CHC - Islington">CHC - Islington</option>
                                    <option value="CHC - Linwood">CHC - Linwood</option>
                                    <option value="CHC - Mairehau">CHC - Mairehau</option>
                                    <option value="CHC - Marshland">CHC - Marshland</option>
                                    <option value="CHC - Masham">CHC - Masham</option>
                                    <option value="CHC - Merivale">CHC - Merivale</option>
                                    <option value="CHC - Middleton">CHC - Middleton</option>
                                    <option value="CHC - Moncks Bay">CHC - Moncks Bay</option>
                                    <option value="CHC - Mount Pleasant">CHC - Mount Pleasant</option>
                                    <option value="CHC - Harewood">CHC - Harewood</option>
                                    <option value="CHC - Harewood">CHC - Harewood</option>
                                    <option value="CHC - Harewood">CHC - Harewood</option>



                                    <option value="WEL - Wellington Central">WEL - Wellington Central</option>
                                    <option value="WEL - Porirua">WEL - Porirua</option>
                                    <option value="WEL - Upper Hutt">WEL - Upper Hutt</option>
                                    <option value="WEL - Lower Hutt">WEL - Lower Hutt</option>
                                    <option value="WEL - Kapiti">WEL - Kapiti</option>
                                    <option value="WEL - Petone">WEL - Petone</option>
                                    <option value="WEL - Otaki">WEL - Otaki</option>
                                    <option value="WEL - Miramar">WEL - Miramar</option>
                                    <option value="WEL - Lyall Bay">WEL - Lyall Bay</option>
                                    <option value="Rather not say">Rather not say</option>
                                </select>
                                <span class="location-des">We ask for property location to enable us to seamlessly connect you with a maintenance specialist in your area. </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-label-wrapper">
                                <label class="labelname">Phone</label>
                                <!--<input type="tel" name="p-car-tel" class="form-control"-->
                                <!--placeholder="Enter phone number" aria-label="Phone number"-->
                                <!--data-prefix="c-car"/>-->
                                <div class="input-group" style="display: inline">
                                    <div aria-label="Country code" class="phone-code"> <span>+64</span></div>
                                    <input type="tel" class="form-control phone-input" aria-label="Phone number" name="tel" id="formf-tel" data-prefix="formf" data-phoneformat="yes">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-xs-12 input-label-wrapper">
                                <label class="labelname">Message (Optional)</label>
                                <textarea rows="8" name='enquiry' class="form-control col-xs-12" aria-label="Message"></textarea>
                            </div>
                        </div>
                        <fieldset class="clearfix testinput">
                            <legend></legend>
                            <label id="c-enq-website" class="input fullwidth"><span>Prove you are human by leaving this field blank</span>
                                <input type="text" name="website" autocomplete="off"/></label>
                        </fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 input-label-wrapper">
                                <input type="checkbox" class="uniform-styles" name="privacy" checked
                                       id="formf-privacy" aria-label="Privacy" {if "{site_version}" != "version-uk"}
                                checked{/if} data-prefix="c-car" />
                                <label for="formf-privacy"> I have read, understood and accepted the <a
                                        href="/privacy-statement/" target="_blank">Privacy Policy</a>.</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 input-label-wrapper">
                                <input type="checkbox" class="uniform-styles" name="subscribe" checked
                                       id="formf-subscribe" aria-label="Subscribe" {if "{site_version}" !=
                                "version-uk"} checked{/if} />
                                <label for="formf-subscribe"> I consent to receiving advice and information relating
                                    to home improvements.</label>
                            </div>
                        </div>
                        <!--<div class="row ">-->

                            <!--<div class="col-md-12 col-sm-12 col-xs-12">-->

                                <!--<div class="g-recaptcha" data-sitekey="6LcttIoUAAAAAF_p6R9ImzklFK80LCC72PsjbTvb"></div>-->

                            <!--</div>-->
                        <!--</div>-->
                        <input type="hidden" value="Project Enquiry" name="formname">
                        <div class="recaptcha-holder"></div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12 input-label-wrapper">
                                <button type="submit" class="btn btn-primary btn-block" id="c-car-submit">Submit Enquiry
                                </button>
                            </div>
                        </div>

                    </form>
                    <div id="prog1" class="progress" style="display: none;"></div>
                </div>
                <div class="adwordstracking"></div>
            </div>

            <div class="contact-us-mobile ">
                {{entry.contactDetail}}
                <div>

                    <!--<h2>Other Enquiries Types</h2><br>-->
                    <!--<ul>-->
                        <!--<li><a href="/contact-us/project-enquiry">Project Enquiry</a></li>-->
                        <!--<li><a href="/contact-us/franchise-opportunities/">Franchise Enquiry</a></li>-->
                        <!--<li><a href="/contact-us/trade-jobs">Career Enquiry</a></li>-->
                    <!--</ul>-->
                </div>
            </div>

    </section>
    <div class="sep footersep"></div>

</div><!-- end .inner -->

{% endblock content %}

{% block scripts %}
<!--<script src="https://www.google.com/recaptcha/api.js?render=6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH"></script>-->
<!--<script src="{{ siteUrl}}js/recaptcha.js"></script>-->

<script>
    scrollDown($(".meet-director"), $(".track-record"));
    scrollDown($(".find-out-more"), $(".services-three-cols"));
    scrollDown($(".cta-button"), $(".form-banner"));
    $("fieldset.testinput").css("display", "none");
</script>

<script>
    // grecaptcha.ready(function () {
    //     grecaptcha.execute('6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH', {action: 'homepage'}).then(function (token) {
    //         $('#captcha').val(token);
    //     }); // this one when form submit please
    // });
</script>
{% endblock scripts%}