{% extends "layout.html" %}
{% block seocontent %}
<title>Franchise Enquiry</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock seocontent %}


{% block content %}

<div style="position: relative">
    <div id="wideslideshow" class="overlay white franchise">
        <img class="notmobile" src="images/Oncore-Handypeople.jpg" alt="Oncore - The key to faster, smoother jobs"/>
        <div class="overlay-container white">
            <h1>Looking for a business opportunity that offers freedom and security?</h1>
            <div class="intro-bottom">Oncore offers a steady stream of income and world-class business support.
            </div>
            <p class="learn-more">Learn more <img style="width: 12px" src="svg/baseline-keyboard_arrow_down-24px.svg">
            </p>
        </div>
    </div>

</div>

<div>
    <h1>What is <strong>Oncore</strong></h1>
    <ul>
        <li>	• 	We are New Zealand’s go-to maintenance and repairs company</li>
        <li>    • 	Bringing work to you through our national and regional partnerships</li>
        <li>    • 	Trusted by insurance companies and property managers</li>
        <li>    • 	Established supply partners - Refresh and Zones</li>
        <li>    • 	One point of contact provides clients with a reliable, professional experience</li>
    </ul>
</div>

<div>
    <div class="row services-three-cols" id="services-box">
        <div class="col-md-4 col-sm-4">
            <div class="three-cols">
                <div class="box-icon">vision</div>
                <div class="box-title">
                </div>
                <p>Oncore aims to be the main supplier of insurance claim maintenance and repair services in New Zealand.
                    Through our partnerships, and by providing an unmatched quality of customer service, you can begin
                    your business with a high likelihood of an instant workflow and income. </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="three-cols">
                <div class="box-icon">Services</div>
                <div class="box-title">
                </div>
                <p>Oncore offers both residential and commercial repairs, maintenance and installations.
                    Examples of our work include leaky home repairs, moss and mould removal, general cleaning,
                    air conditioning installation and carpeting. Oncore provides solutions for
                    whatever maintenance issues a homeowner may be facing.  </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="three-cols">
                <div class="box-icon">Point of difference</div>
                <div class="box-title">
                </div>
                <p>Oncore is a standout in its field due to its partnerships and processes. Our partnerships
                    with insurance companies and property managers mean that their customers can
                    enjoy a high quality service, and you can start out with a secure business platform.  </p>
            </div>
        </div>
    </div>
</div>

<div>
    <h1>Deliver a better customer experience</h1>
    <p>While much of the maintenance and repairs market is fragmented, Oncore provides the solution. Our one point of contact ensures customers receive a professional and reliable service. </p>
    <div class="col-md-4 col-sm-4 notmobile">
        <span>Problems Oncore solves</span>
        <ul>
            <li>Unreliability</li>
            <li>     Homeowners managing multiple tradespeople </li>
            <li>    Low work standards </li>
            <li>    Poor customer service </li>
            <li>    Lack of industry connections </li>
        </ul>
    </div>
    <div class="col-md-8 col-sm-8 notmobile">
        <span>How Oncore solves them</span>
        <ul>
            <li>Oncore responds quickly and completes jobs on time and on budget</li>
            <li>One point of contact keeps jobs simple and organised  </li>
            <li>Project specialists manage every aspect of the service for you </li>
            <li>Oncore specialists provide customers with professional and reliable service </li> 
            <li>We act as supply partners to Refresh Renovations and Zones Landscaping </li>
        </ul>
    </div>
</div>

<div>
    <div>Exciting <strong>Growth</strong> Potential </div>
    <p>We estimate that each Oncore franchise will reach their full maturity within 5-6 years. The following is an example of an individual franchise owner’s growth potential. </p>
    <img src="svg/fw-infographic.svg" />
</div>


{% endblock content %}
