{% extends "layout.html" %}
{% block seocontent %}
<title>Franchise Enquiry</title>
<meta name="description" content="">
<meta name="keywords" content="">
    <style>#myVideo {
            right: 0;
            bottom: 0;
            width: 100%;
            height: auto;
        }
        @media only all and (min-width: 1440px){
            #myVideo {
                position: relative;
                top: -28%;
            }
        }
    </style>
{% endblock seocontent %}


{% block content %}
<div style="position: relative">
    <div id="wideslideshow" class="overlay white franchise">
        <video autoplay muted loop poster="/images/video-poster.jpg" id="myVideo" class="notmobile">
            <source src="/images/video.mp4" type="video/mp4">
        </video>
        <div class="overlay-container white">
            <div class="inner">
                <h1>Unique franchise opportunities. <br> Guaranteed leads. <br> National partnerships.</h1>
                <div class="intro-bottom">Oncore is looking for natural leaders to manage teams of maintenance professionals.
                </div>
                <div class="franchise-button">
                    <button class="cta-button">Get In Touch</button>
                    <button class="find-out-more">Find Out More</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="what-is-oncore">
    <div class="inner spacing">
        <h2>Why you should choose <strong>Oncore</strong></h2>
        <ul>
            <li>We are New Zealand’s go-to maintenance and repairs company.</li>
            <li>Guaranteed work available through our national and regional partnerships.</li>
            <li>Trusted by insurance companies and property managers.</li>
            <li>Part of the international Refresh Renovations & Zones Landscaping group.</li>
            <li>Delivering more professional, efficient, customer focused, cost effective and stress-free jobs.</li>
        </ul>
    </div>
</div>

<div class="three-boxes">
    <div class="services-three-cols inner-three-cols" id="services-box">
        <div class="col-md-4 col-sm-4">
            <div class="three-cols">
                <div class="box-icon"><img src="{{ siteUrl}}svg/vision.svg"></div>
                <div class="box-title">VISION
                </div>
                <p>Oncore aims to be the leading provider of repair, maintenance and insurance claim work in New Zealand.
                    Through our nationwide partnerships, and by providing unmatched customer service,
                    your business will begin with an instant source of leads and income.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="three-cols">
                <div class="box-icon"><img src="{{ siteUrl}}svg/tools.svg"></div>
                <div class="box-title">SERVICES
                </div>
                <p>Oncore offers both residential and commercial repairs, maintenance and installations.
                    Examples of our work include home repairs, building maintenance, painting, roofing and door
                    and window replacements. Oncore provides solutions for
                    whatever maintenance issues a homeowner may be facing.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="three-cols">
                <div class="box-icon"><img src="{{ siteUrl}}svg/creative.svg"></div>
                <div class="box-title">POINT OF DIFFERENCE
                </div>
                <p>Oncore is a standout in its field due to its partnerships and processes. Our partnerships
                    with insurance companies and property managers mean that their customers can
                    enjoy a high quality service, and you can start out with an instant customer base. </p>
            </div>
        </div>
    </div>
</div>

<div class="customer-experience">
    <div class="inner spacing">
        <h2>Providing <strong>high quality, reliable service</strong></h2>
        <p>Our nationwide network of franchise businesses ensure customers receive a consistent and professional service. </p>
        <div class="col-md-5 col-sm-5 spacing">
            <span>Problems Oncore solves</span>
            <ul>
                <li class="unsolve">Unreliability</li>
                <li class="unsolve">Homeowners managing multiple tradespeople</li>
                <li class="unsolve">Disappointing work quality</li>
                <li class="unsolve">Poor customer service</li>
                <li class="unsolve">Over time and over budget</li>
            </ul>
        </div>
        <div class=" col-md-7 col-sm-7">
            <span>How Oncore solves them</span>
            <ul>
                <li class="solve">Oncore responds quickly and completes jobs on time and on budget</li>
                <li class="solve">Our professional business managers act as your single point of contact</li>
                <li class="solve">Experienced project managers ensure excellent results every time</li>
                <li class="solve">Oncore specialists provide customers with a professional and reliable service</li>
                <li class="solve">Our systems, processes and people deliver jobs on time and on budget</li>
            </ul>
        </div>
    </div>
</div>

<div class="infographic">
    <div class="inner">
        <div class="growth-text">
            <h2>Exciting <strong>Growth</strong> Potential</h2>
            <p>We estimate that each Oncore franchise will reach their full maturity within 5-6 years. The following is
                an
                example of an individual franchise owner’s growth potential. </p>
        </div>
        <img class="info-image-desktop" src="{{ siteUrl}}svg/fw-infographic.svg"/>
        <img class="info-image-mobile" src="{{ siteUrl}}svg/fw-infographic-tablet.svg"/>
        <div class="disclaimer-text"><p>*Please note: This chart is based on assumption and is in no way guaranteed by
        Maintenance Franchise New Zealand Limited. We recommend discussing the growth potential of an Oncore franchise with an
        independent advisor. </p></div>
    </div>
</div>


<div class="block-franchise">
    <div class="inner">
        <h2>The <strong>value</strong> of becoming an Oncore franchisee</h2>
    </div>

    <div class="services-image-block">
        <img class="fleft" src="{{ siteUrl}}images/Traffic-Team-large.jpg"/>
        <div class="fleft">
            <div class="content-box">
                <div class="title">Part of the Refresh group</div>
                <div class="content"><p>Oncore is owned by <a href="https://www.traffic.net.nz/">Traffic</a>, New
                    Zealand’s specialist group in business
                    strategy and marketing.
                    In 2011 Traffic launched Refresh Renovations, followed by Zones Landscaping in 2014. Both
                    companies have completed
                    over 1,000 projects using a unique project management process and are industry leaders. Oncore
                    is designed to
                    compliment the services offered by Refresh and Zones, leaving customers with an all round
                    positive experience.</p></div>
                <p class="meet-director">MEET THE DIRECTORS <img width="16px" height="auto"
                                                                 src="{{siteUrl}}svg/baseline-keyboard_arrow_down-24px-green.svg"/>
                </p>
            </div>
        </div>
    </div>

    <div class="services-image-block">
        <img class="fright" src="{{ siteUrl}}images/franchise-page-image2.jpg"/>
        <div class="fleft ">
            <div class="content-box">
                <div class="title">World class systems and processes</div>
                <div class="content"><p>Our world class systems and processes are what make Oncore stand out. After
                    a fast call response,
                    Oncore specialists meet with clients for a consultation. Once the client’s home maintenance
                    needs have been discussed
                    the specialist will provide a quote and arrange for a contractor to complete the project.
                    Customers can use an online
                    portal to keep up with payments, dates and important information.</p></div>
            </div>
        </div>
    </div>

    <div class="services-image-block">
        <img class="fleft" src="{{ siteUrl}}images/franchise-page-image3.jpg"/>
        <div class="fleft ">
            <div class="content-box">
                <div class="title">A growing business asset</div>
                <div class="content"><p>With Oncore, the sky’s the limit. Once you have established your business
                    there is no restriction
                    to how large it can grow. The upfront costs are surprisingly small and you can invest in your
                    business as it grows,
                    with no upfront fit out or premises costs required. </p></div>
            </div>
        </div>
    </div>
</div>


<div class="franchise-block">
    <div class="inner">
        <div class="franchise-opp">
            <h2>Franchise opportunities around <strong>New Zealand</strong></h2>
            <ul>
                <li>Amazing opportunities available throughout
                    New Zealand
                </li>
                <li>Enter a $2.6 billion market with fantastic potential</li>
                <li>A small upfront cost of $50,000</li>
                <li>Full training, support and coaching given</li>
            </ul>
        </div>
        <div class="map">
            <img src="{{ siteUrl}}svg/newzealand.svg" width="100%"/>
        </div>
    </div>
</div>


<div class="customer-experience track-record">
    <div class="inner spacing">
        <h2>We have a <strong>proven</strong> track record</h2>
        <p class="spacing">Traffic has an International track record in market development and business growth. Meet the
            people behind Oncore and our other success stories - <a href="https://www.refreshrenovations.co.nz/">Refresh
                Renovations</a> and
            <a href="https://www.zones.co.nz/">Zones Landscaping</a>.</p>
    </div>

    <div class="inner">
        <div class="row-director">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="spacing-bottom" src="{{siteUrl}}images/Dan V-Head Shot-Grey.png" width="266px" height="266px"/>
                <h3 class="name">Dan Vincent</h3>
                <span class="description">Dan is the Managing Director of Oncore. He holds over 20 years experience in creating, developing and selling businesses and has worked within the
                international financial services industry for more than 10 years. He holds multiple degrees in marketing, management, political science and public relations. </span>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="spacing-bottom" src="{{siteUrl}}images/Traffic-Staff-2012-Chris-Caiger.jpg" width="266px"
                     height="266px"/>
                <h3 class="name">Chris Caiger</h3>
                <span class="description">Chris' high level of experience in marketing and business development led him to co-found Refresh Renovations and Zones Landscaping, alongside his
                other fellow Traffic directors. With over 30 years of experience in marketing and business development, Chris has significantly contributed to the global success of
                Refresh Renovations.</span>


            </div>
        </div>
        <div class="row-director">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="spacing-bottom" src="{{siteUrl}}images/Traffic-Staff-2012-Barry-Bloomfield.jpg"
                     width="266px" height="266px"/>
                <h3 class="name">Barry Bloomfield</h3>
                <span class="description">Barry is the co-founder and director of design for Refresh Renovations and Zones Landscaping. He holds a masters degree from the Royal College of
                Design in London and has worked with many of the world's most well known brands. The skills and experience he gained have been put toward developing the Refresh brand into
                what is now a world leading franchise business.</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="spacing-bottom" src="{{siteUrl}}images/Traffic-Staff-2012-Jon-Bridge.jpg" width="266px"
                     height="266px"/>
                <h3 class="name">Jon Bridge</h3>
                <span class="description">Jon is the co-founder of Refresh Renovations and Zones Landscaping. He puts his qualifications and experience in marketing, business consultancy
                and IT into growing the brands and has played a key role in the local international achievements. Jon holds a masters degree in marketing with first class honors and has
                supported multiple businesses through their expansion.</span>
            </div>
        </div>
    </div>
</div>

<div class="franchise-form">
    <div class="inner">
        <div style="overflow: auto">
            <h2 class="title">Is an Oncore franchise <strong>right for you?</strong></h2>
            <div class="three-cols">
                <div class="heading">BENEFITS
                </div>
                <ul>
                    <li>Build a significant business asset</li>
                    <li>Join a company with an established client base within a growing market</li>
                    <li>Receive ongoing business growth and marketing support from a large team of
                        specialists
                    </li>
                    <li>No experience necessary</li>
                    <li>Receive full initial training and ongoing coaching and support</li>
                    <li>Control your income</li>

                </ul>
            </div>
            <div class="three-cols">
                <div class="heading">REQUIRED SKILLS
                </div>
                <ul>
                    <li>No industry experience necessary - just a friendly personality and the desire to
                        build a successful business
                    </li>
                    <li>Great customer service skills</li>
                    <li>Strong ability to manage people and projects</li>
                    <li>Marketing and sales focused</li>
                    <li>Fantastic management skills
                    </li>
                    <li>Professional and well presented
                    </li>
                    <li>Business driven</li>

                </ul>
            </div>
            <div class="three-cols">
                <div class="heading">WHAT’S INVOLVED
                </div>
                <ul>
                    <li>Initial meeting and Oncore presentation
                    </li>
                    <li>Sign a confidentiality agreement & submit an information request</li>
                    <li>Complete your commercial due diligence
                    </li>
                    <li>Be offered a franchise territory, following a 2nd meeting
                    </li>
                    <li>Finalise your legal due diligence & sign contracts</li>
                    <li>Receive world class training & support in establishing your business!
                    </li>

                </ul>
            </div>
        </div>
        <h3 class="more-info">
            For more information, or to arrange a meeting and presentation, <strong>get in touch today</strong>.
        </h3>


    </div>
    <div class="form-banner">
        <form action="/forms/franchise-enquiry.php" method="post" id="franchise-enquiry">
            <!--<input type="hidden" name="g-recaptcha-response" id="captcha"/>-->
            <div class="row">
                <div class="col-md-12 input-label-wrapper">
                    <label for="formf-firstname">First Name</label>
                    <input type="text" class="form-control home-form"
                           aria-label="First name" name="firstname" id="formf-firstname"
                           data-prefix="formf"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 input-label-wrapper">
                    <label for="formf-lastname">Last Name</label>
                    <input type="text" class="form-control home-form"
                           aria-label="Last name" name="lastname"
                           id="formf-lastname" data-prefix="formf"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 input-label-wrapper">
                    <label for="formf-email">Email</label>
                    <input type="text" class="form-control home-form"
                           name="email" id="formf-email" data-prefix="formf"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 input-label-wrapper">
                    <!--<input type="tel" name="p-car-tel" class="form-control home-form"-->
                    <!--placeholder="Enter phone number" aria-label="Phone number"-->
                    <!--data-prefix="c-car"/>-->
                    <label for="formf-tel">Phone</label>
                    <input type="tel" class="form-control home-form phone-input"
                           name="tel" id="formf-tel"
                           data-prefix="formf" data-phoneformat="yes">
                </div>
            </div>

            <div class="row tick">
                <div class="col-sm-12 col-xs-12 input-label-wrapper">
                    <input type="checkbox" class="uniform-styles" name="privacy"
                           id="formf-privacy" checked="checked" data-prefix="formf"/>
                    <label for="formf-privacy"> I have read, understood and accepted the <a
                            href="/privacy-statement/" target="_blank">Privacy Policy</a>.</label>
                </div>
            </div>
            <div class="row tick">
                <div class="col-sm-12 col-xs-12 input-label-wrapper">
                    <input type="checkbox" class="uniform-styles" name="subscribe" id="formf-subscribe"
                           checked="checked"/>
                    <label for="formf-subscribe"> I consent to receiving marketing emails.</label>
                </div>
            </div>
            <div class="recaptcha-holder"></div>
            <input type="hidden" value="Franchise Enquiry" name="formname">

            <div class="row tick">
                <div class="col-md-6 col-xs-12 input-label-wrapper">
                    <input type="submit" class="btn btn-primary btn-block submitbutton" id="home-form-submit"
                           value="Send Enquiry"/>

                </div>
            </div>
            <div id="prog1" class="progress" style="display: none;"></div>
        </form>
    </div>
    <div style="height: 49px" class="justmobile"></div>

</div>

<div class="traffic-logo">
    <div class="inner">
        <div class="three-cols"><img onclick="window.open('https://www.traffic.net.nz/')" src="{{ siteUrl}}images/traffic-logo.png"/></div>
        <div class="three-cols"><img onclick="window.open('https://www.refreshrenovations.co.nz/')" src="{{ siteUrl}}svg/refresh_logo.svg"/></div>
        <div class="three-cols"><img onclick="window.open('https://www.zones.co.nz/')" src="{{ siteUrl}}images/logo-zones.png"/></div>
    </div>

</div>
{% endblock content %}

{% block scripts %}
<!--<script src="https://www.google.com/recaptcha/api.js?render=6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH"></script>-->
<!--<script src="{{ siteUrl}}js/recaptcha.js"></script>-->

<script>
    scrollDown($(".meet-director"), $(".track-record"));
    scrollDown($(".find-out-more"), $(".services-three-cols"));
    scrollDown($(".cta-button"), $(".form-banner"));
</script>
<script>
    // grecaptcha.ready(function () {
    //     grecaptcha.execute('6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH', {action: 'homepage'}).then(function (token) {
    //         $('#captcha').val(token);
    //     }); // this one when form submit please
    // });
</script>
    <!-- Activity name for this tag: MAINTENANCE (Oncore) Trademe -->
    <script type='text/javascript'>
        var axel = Math.random()+"";
        var a = axel * 10000000000000;
        document.write('<img src=" a +'?" width=1 height=1 border=0>');
    </script>
    <noscript>
        <img src="?" width=1 height=1 border=0>
    </noscript>
{% endblock scripts%}
