{% extends "layout.html" %}
{% block seocontent %}
<title>Franchise Enquiry</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock seocontent %}


{% block content %}
<div style="position: relative">
    <div id="wideslideshow" class="overlay white franchise">
        <img class="notmobile" src="{{ siteUrl}}images/franchise-page-banner.jpg"
             alt="Oncore - The key to faster, smoother jobs"/>
        <div class="overlay-container white">
            <div class="inner">
                <h1>Unique franchise opportunities. <br> Guaranteed leads. <br> National partnerships.</h1>
                <div class="intro-bottom">Oncore offers a steady stream of income and world-class business support.
                </div>
                <div class="franchise-button">
                    <button class="cta-button">Get In Touch</button>
                    <button class="find-out-more">Find Out More</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="what-is-oncore">
    <div class="inner spacing">
        <h2>What is <strong>Oncore</strong></h2>
        <ul>
            <li> • &nbsp We are New Zealand’s go-to maintenance and repairs company</li>
            <li> • &nbsp Bringing work to you through our national and regional partnerships</li>
            <li> • &nbsp Trusted by insurance companies and property managers</li>
            <li> • &nbsp Established supply partners - Refresh and Zones</li>
            <li> • &nbsp One point of contact provides clients with a reliable, professional experience</li>
        </ul>
    </div>
</div>

<div class="three-boxes">
    <div class="services-three-cols inner-three-cols" id="services-box">
        <div class="col-md-4 col-sm-4">
            <div class="three-cols">
                <div class="box-icon"><img src="{{ siteUrl}}svg/vision.svg"></div>
                <div class="box-title">VISION
                </div>
                <p>Oncore aims to be the main supplier of insurance claim maintenance and repair services in New
                    Zealand.
                    Through our partnerships, and by providing an unmatched quality of customer service, you can begin
                    your business with a high likelihood of an instant workflow and income. </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="three-cols">
                <div class="box-icon"><img src="{{ siteUrl}}svg/tools.svg"></div>
                <div class="box-title">SERVICES
                </div>
                <p>Oncore offers both residential and commercial repairs, maintenance and installations.
                    Examples of our work include leaky home repairs, moss and mould removal, general cleaning,
                    air conditioning installation and carpeting. Oncore provides solutions for
                    whatever maintenance issues a homeowner may be facing. </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="three-cols">
                <div class="box-icon"><img src="{{ siteUrl}}svg/creative.svg"></div>
                <div class="box-title">POINT OF DIFFERENCE
                </div>
                <p>Oncore is a standout in its field due to its partnerships and processes. Our partnerships
                    with insurance companies and property managers mean that their customers can
                    enjoy a high quality service, and you can start out with a secure business platform. </p>
            </div>
        </div>
    </div>
</div>

<div class="customer-experience">
    <div class="inner spacing">
        <h2>Deliver a <strong>better</strong> customer experience</h2>
        <p>While much of the maintenance and repairs market is fragmented, Oncore provides the solution. Our one point
            of contact ensures customers receive a professional and reliable service. </p>
        <div class="col-md-5 col-sm-5 spacing">
            <span>Problems Oncore solves</span>
            <ul>
                <li class="unsolve">Unreliability</li>
                <li class="unsolve">Homeowners managing multiple tradespeople</li>
                <li class="unsolve">Low work standards</li>
                <li class="unsolve">Poor customer service</li>
                <li class="unsolve">Lack of industry connections</li>
            </ul>
        </div>
        <div class=" col-md-7 col-sm-7">
            <span>How Oncore solves them</span>
            <ul>
                <li class="solve">Oncore responds quickly and completes jobs on time and on budget</li>
                <li class="solve">One point of contact keeps jobs simple and organised</li>
                <li class="solve">Project specialists manage every aspect of the service for you</li>
                <li class="solve">Oncore specialists provide customers with professional and reliable service</li>
                <li class="solve">We act as supply partners to Refresh Renovations and Zones Landscaping</li>
            </ul>
        </div>
    </div>
</div>

<div class="infographic">
    <div class="inner">
        <div class="growth-text">
            <h2>Exciting <strong>Growth</strong> Potential</h2>
            <p>We estimate that each Oncore franchise will reach their full maturity within 5-6 years. The following is
                an
                example of an individual franchise owner’s growth potential. </p>
        </div>
        <img class="info-image-desktop" src="{{ siteUrl}}svg/fw-infographic.svg"/>
        <img class="info-image-mobile" src="{{ siteUrl}}svg/fw-infographic-tablet.svg"/>
        <div class="disclaimer-text"><p>*Disclaimer: This chart is provided as an estimated example only. Maintenance
            Franchise New Zealand Limited in no way guarantees these results. </p></div>
    </div>
</div>


<div class="block-franchise">
    <div class="inner">
        <h2>The <strong>value</strong> of becoming an Oncore franchisee</h2>
    </div>

    <div class="services-image-block">
        <img class="fleft" src="{{ siteUrl}}images/Traffic-Team-large.jpg"/>
        <div class="fleft">
            <div class="content-box">
                <div class="title">Part of the Refresh group</div>
                <div class="content"><p>Oncore is owned by <a href="https://www.traffic.net.nz/">Traffic</a>, New
                    Zealand’s specialist group in business
                    strategy and marketing.
                    In 2011 Traffic launched Refresh Renovations, followed by Zones Landscaping in 2014. Both
                    companies have completed
                    over 1,000 projects using a unique project management process and are industry leaders. Oncore
                    is designed to
                    compliment the services offered by Refresh and Zones, leaving customers with an all round
                    positive experience.</p></div>
                <p class="meet-director">MEET THE DIRECTORS <img width="16px" height="auto"
                                                                 src="{{siteUrl}}svg/baseline-keyboard_arrow_down-24px-green.svg"/>
                </p>
            </div>
        </div>
    </div>

    <div class="services-image-block">
        <img class="fright" src="{{ siteUrl}}images/franchise-page-image2.jpg"/>
        <div class="fleft ">
            <div class="content-box">
                <div class="title">World class systems and processes</div>
                <div class="content"><p>Our world class systems and processes are what make Oncore stand out. After
                    a fast call response,
                    Oncore specialists meet with clients for a consultation. Once the client’s home maintenance
                    needs have been discussed
                    the specialist will provide a quote and arrange for a contractor to complete the project.
                    Customers can use an online
                    portal to keep up with payments, dates and important information.</p></div>
            </div>
        </div>
    </div>

    <div class="services-image-block">
        <img class="fleft" src="{{ siteUrl}}images/franchise-page-image3.jpg"/>
        <div class="fleft ">
            <div class="content-box">
                <div class="title">A growing business asset</div>
                <div class="content"><p>With Oncore, the sky’s the limit. Once you have established your business
                    there is no restriction
                    to how large it can grow. The upfront costs are surprisingly small and you can invest in your
                    business as it grows,
                    with no upfront fit out or premises costs required. </p></div>
            </div>
        </div>
    </div>
</div>


<div class="franchise-block">
    <div class="inner">
        <div class="franchise-opp">
            <h2>Franchise opportunities around <strong>New Zealand</strong></h2>
            <ul>
                <li> •&nbsp Amazing opportunities available throughout
                    New Zealand
                </li>
                <li> •&nbsp Future opportunities available in Australia, the United Kingdom and the United States</li>
                <li> •&nbsp Enter a $2.6 billion market with fantastic potential</li>
                <li> •&nbsp A small upfront cost of $50,000</li>
                <li> •&nbsp Full training given</li>
            </ul>
        </div>
        <div class="map">
            <img src="{{ siteUrl}}svg/newzealand.svg" width="100%"/>
        </div>
    </div>
</div>


<div class="customer-experience track-record">
    <div class="inner spacing">
        <h2>We have a <strong>proven</strong> track record</h2>
        <p class="spacing">Traffic has an International track record in market development and business growth. Meet the
            people behind Oncore and our other success stories - <a href="https://www.refreshrenovations.co.nz/">Refresh
                Renovations</a> and
            <a href="https://www.zones.co.nz/">Zones Landscaping</a></p>
    </div>

    <div class="inner">
        <div class="row-director">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="spacing-bottom" src="" width="266px" height="266px"/>
                <h3 class="name">Dan Vincent</h3>
                <span class="description">Dan is the Managing Director of Oncore. He holds over 20 years experience in creating, developing and selling businesses and has worked in the
                international financial services industry for more than 10 years. He holds multiple degrees in marketing, management, political science and public relations. </span>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="spacing-bottom" src="{{siteUrl}}images/Traffic-Staff-2012-Chris-Caiger.jpg" width="266px"
                     height="266px"/>
                <h3 class="name">Chris Caiger</h3>
                <span class="description">Traffic founder Chris Caiger holds over 30 years experience in marketing and business development. A Marketer of the Year award winner,
                Chris has directed and founded marketing projects within New Zealand and the UK. Refresh Renovations was one of these projects, which has quickly become a global success. </span>


            </div>
        </div>
        <div class="row-director">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="spacing-bottom" src="{{siteUrl}}images/Traffic-Staff-2012-Barry-Bloomfield.jpg"
                     width="266px" height="266px"/>
                <h3 class="name">Barry Bloomfield</h3>
                <span class="description">Barry is Traffic’s Director of Design. He moved to New Zealand from the UK in 1998 after building an impressive portfolio in design and branding.
                Barry holds a Masters Degree in Design from the Royal College of Art in London and he has worked for many of the world’s most famous brands. </span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="spacing-bottom" src="{{siteUrl}}images/Traffic-Staff-2012-Jon-Bridge.jpg" width="266px"
                     height="266px"/>
                <h3 class="name">Jon Bridge</h3>
                <span class="description">Jon has helped numerous businesses grow through his marketing, IT and business consulting skills.
                e holds a Masters Degree in Marketing with first class honours and has helped businesses of all sizes thrive, including his own. </span>
            </div>
        </div>
    </div>
</div>

<div class="franchise-form">
    <div class="inner">
        <div style="overflow: auto">
            <h2 class="title">Is an Oncore Franchise <strong>right for you?</strong></h2>
            <div class="three-cols">
                <div class="heading">BENEFITS
                </div>
                <ul>
                    <li>• &nbsp &nbspBuild a significant business asset</li>
                    <li>• &nbsp &nbspJoin a company with an established client base within a growing market</li>
                    <li>• &nbsp &nbspReceive ongoing business growth and marketing support from a large team of
                        specialists
                    </li>
                    <li>• &nbsp &nbspNo experience necessary</li>
                    <li>• &nbsp &nbspReceive full initial training</li>
                    <li>• &nbsp &nbspControl your income</li>

                </ul>
            </div>
            <div class="three-cols">
                <div class="heading">REQUIRED SKILLS
                </div>
                <ul>
                    <li>• &nbsp &nbspNo industry experience necessary - just a friendly personality and the desire to
                        build a successful business
                    </li>
                    <li>• &nbsp &nbspGreat customer service skills</li>
                    <li>• &nbsp &nbspStrong ability to manage people and projects</li>
                    <li>• &nbsp &nbspMarketing and sales focused</li>
                    <li>• &nbsp &nbspFantastic management skills
                    </li>
                    <li>• &nbsp &nbspProfessional and well presented
                    </li>
                    <li>• &nbsp &nbspBusiness driven</li>

                </ul>
            </div>
            <div class="three-cols">
                <div class="heading">WHAT’S INVOLVED
                </div>
                <ul>
                    <li>• &nbsp &nbspInitial meeting and Oncore presentation
                    </li>
                    <li>• &nbsp &nbspSign a confidentiality agreement & submit an information request</li>
                    <li>• &nbsp &nbspEnsure your commercial due diligence
                    </li>
                    <li>• &nbsp &nbspBe offered a franchise territory, following a 2nd meeting
                    </li>
                    <li>• &nbsp &nbspEnsure your legal due diligence & sign contracts</li>
                    <li>• &nbsp &nbspReceive world class training & support in establishing your business!
                    </li>

                </ul>
            </div>
        </div>
        <h3 class="more-info">
            For more information, or to arrange a meeting and presentation, <strong>get in touch today</strong>.
        </h3>


    </div>
    <div class="form-banner">
        <form action="/forms/franchise-enquiry.php" method="post" id="franchise-enquiry">
            <input type="hidden" name="g-recaptcha-response" id="captcha"/>
            <div class="row">
                <div class="col-md-12 input-label-wrapper">
                    <label for="formf-firstname">First Name</label>
                    <input type="text" class="form-control home-form"
                           aria-label="First name" name="firstname" id="formf-firstname"
                           data-prefix="formf"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 input-label-wrapper">
                    <label for="formf-lastname">Last Name</label>
                    <input type="text" class="form-control home-form"
                           aria-label="Last name" name="lastname"
                           id="formf-lastname" data-prefix="formf"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 input-label-wrapper">
                    <label for="formf-email">Email</label>
                    <input type="text" class="form-control home-form"
                           name="email" id="formf-email" data-prefix="formf"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 input-label-wrapper">
                    <!--<input type="tel" name="p-car-tel" class="form-control home-form"-->
                    <!--placeholder="Enter phone number" aria-label="Phone number"-->
                    <!--data-prefix="c-car"/>-->
                    <label for="formf-tel">Phone</label>
                    <input type="tel" class="form-control home-form phone-input"
                           name="tel" id="formf-tel"
                           data-prefix="formf" data-phoneformat="yes">
                </div>
            </div>

            <div class="row tick">
                <div class="col-sm-12 col-xs-12 input-label-wrapper">
                    <input type="checkbox" class="uniform-styles" name="privacy"
                           id="formf-privacy" checked="checked" data-prefix="formf"/>
                    <label for="formf-privacy"> I have read, understood and accepted the <a
                            href="/privacy-statement/" target="_blank">Privacy Policy</a>.</label>
                </div>
            </div>
            <div class="row tick">
                <div class="col-sm-12 col-xs-12 input-label-wrapper">
                    <input type="checkbox" class="uniform-styles" name="subscribe" id="formf-subscribe"
                           checked="checked"/>
                    <label for="formf-subscribe"> I consent to receiving marketing emails.</label>
                </div>
            </div>

            <div class="row tick">
                <div class="col-md-6 col-xs-12 input-label-wrapper">
                    <input type="submit" class="btn btn-primary btn-block submitbutton" id="home-form-submit"
                           value="Send Enquiry"/>

                </div>
            </div>
        </form>
    </div>
    <div style="height: 49px" class="justmobile"></div>

</div>

<div class="traffic-logo">
    <div class="inner">
        <div class="three-cols"><img src="{{ siteUrl}}images/traffic-logo.png"/></div>
        <div class="three-cols"><img src="{{ siteUrl}}svg/refresh_logo.svg"/></div>
        <div class="three-cols"><img src="{{ siteUrl}}images/logo-zones.png"/></div>
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js?render=6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH"></script>

<script>
    scrollDown($(".meet-director"), $(".track-record"));
    scrollDown($(".find-out-more"), $(".services-three-cols"));
    scrollDown($(".cta-button"), $(".form-banner"));
</script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH', {action: 'homepage'}).then(function (token) {
            $('#captcha').val(token);
        }); // this one when form submit please
    });
</script>

{% endblock scripts%}