{% extends "layout.html" %}
{% block seocontent %}
<title>Oncore</title>
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock seocontent %}
{% block content %}
<div style="position: relative">
    <div id="wideslideshow" class="overlay white">
        <img class="notmobile" src="images/Oncore-Handypeople.jpg" alt="Oncore - The key to faster, smoother jobs"/>
        <div class="overlay-container white">
            <h1>The key to faster, smoother jobs</h1>
            <div class="intro-bottom">Oncore is New Zealand's leading team for residential and commercial repairs,
                maintenance, insurance work, and installations.
            </div>
            <p class="learn-more">Learn more <img style="width: 12px" src="svg/baseline-keyboard_arrow_down-24px.svg">
            </p>
        </div>
    </div>
    <div class="form-banner">
        <h1>Get in touch</h1>
        <div class="row">
            <div class="col-md-12 input-label-wrapper">
                <input type="text" class="form-control home-form" placeholder="First name"
                       aria-label="First name" name="p-car-firstname" id="c-car-firstname"
                       data-prefix="c-car"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 input-label-wrapper">
                <input type="text" class="form-control home-form" placeholder="Last name"
                       aria-label="Last name" name="p-car-lastname" data-prefix="c-car"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 input-label-wrapper">
                <input type="text" name="p-car-email" class="form-control home-form"
                       placeholder="Email address" aria-label="Email address" id="c-car-email"
                       data-prefix="c-car"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 input-label-wrapper">
                <!--<input type="tel" name="p-car-tel" class="form-control home-form"-->
                <!--placeholder="Enter phone number" aria-label="Phone number"-->
                <!--data-prefix="c-car"/>-->

                <input type="tel" class="form-control home-form phone-input" placeholder="Phone number"
                       aria-label="Phone number" name="p-car-tel" id="mobile-s1" data-prefix="s1"
                       data-phoneformat="yes">
            </div>
        </div>

        <div class="row tick">
            <div class="col-sm-12 col-xs-12 input-label-wrapper">
                <input type="checkbox" class="uniform-styles" name="p-car-privacy"
                       id="c-car-privacy" aria-label="Privacy"
                       checked data-prefix="c-car"/>
                <label for="c-car-privacy"> I have read, understood and accepted the <a
                        href="/privacy-statement/" target="_blank">Privacy Policy</a>.</label>
            </div>
        </div>
        <div class="row tick">
            <div class="col-sm-12 col-xs-12 input-label-wrapper">
                <input type="checkbox" class="uniform-styles" name="p-car-subscribe"
                       id="c-car-subscribe" aria-label="Subscribe" checked/>
                <label for="c-car-subscribe"> I consent to receiving marketing emails.</label>
            </div>
        </div>

        <div class="row tick">
            <div class="col-md-6 col-xs-12 input-label-wrapper">
                <button type="submit" class="btn btn-primary btn-block" id="home-form-submit">Get in touch
                </button>
            </div>
        </div>
    </div>
    <div class="full-width-text-left">
        <p><strong>The Oncore process ensures your project is delivered to a high standard, on time and within your
            budget.</strong></p>
        <p>From your first consultation, through to project completion, Oncore provides one point of contact. This
            means no managing multiple trades, no project overruns and no stress.</p>
    </div>

</div>

<div class="home-process">
    <div>
        <img class="image-process" src="svg/comms.svg">
        <span>Initial </br> consultation</span>
    </div>
    <div class="light-arrow">
        <img src="svg/lightarrow.svg">
    </div>
    <div>
        <img class="image-process" src="svg/quote.svg">
        <span>Quote</span>
    </div>
    <div class="light-arrow">
        <img src="svg/lightarrow.svg">
    </div>
    <div>
        <img class="image-process" src="svg/tools.svg">
        <span>Contractor</span>
    </div>
    <div class="light-arrow">
        <img src="svg/lightarrow.svg">
    </div>
    <div>
        <img class="image-process" src="svg/projectmanage.svg">
        <span>High quality </br> management</span>
    </div>

    <p> Learn more <img style="width: 16px" src="svg/arrow-learn-more.svg"></p>
</div>
<div id="wrapper" style="padding-bottom: 50px">
    <div class="inner">
        <div class="full-width-text">
            <div class="title">Our maintenance and repair services</div>
            <p>Oncore provides both commercial and residential maintenance and repair services. Whatever the job, we can
                get it done.</p>
        </div>
        <div class="row justmobile">
            <div class="col-sm-12 col-xs-12">
                <ul class="help-wrap">
                    <li class="help">Repairs</li>
                    <li class="help">Property maintenance</li>
                    <li class="help">Decorating</li>
                    <li class="help">Painting</li>
                    <li class="help">Gibbing and plastering</li>
                    <li class="help">Plumbing</li>
                    <li class="help">Electrical</li>
                    <li class="help">Double glazing retrofitting</li>
                    <li class="help">Double glazing replacements</li>
                </ul>
            </div>
        </div>

        <div class="row middle-size">
            <div class="col-md-6 col-sm-6">
                <ul class="help-wrap">
                    <li class="help">Repairs</li>
                    <li class="help">Property maintenance</li>
                    <li class="help">Decorating</li>
                    <li class="help">Painting</li>
                    <li class="help">Gibbing and plastering</li>
                    <li class="help">Plumbing</li>
                    <li class="help">Electrical</li>
                    <li class="help">Double glazing retrofitting</li>
                    <li class="help">Double glazing replacements</li>
                </ul>
            </div>

            <div class="col-md-6 col-sm-6">
                <ul class="help-wrap">
                    <li class="help">Furniture assembly</li>
                    <li class="help">Appliance fitting</li>
                    <li class="help">Appliance installation</li>
                    <li class="help">Air conditioning installation</li>
                    <li class="help">Heat pump installation</li>
                    <li class="help">Water blasting</li>
                    <li class="help">Building cleaning</li>
                    <li class="help">Roof cleaning</li>
                    <li class="help">Path, driveway cleaning</li>
                </ul>
            </div>
        </div>

        <div class="row notmobile notmiddle-size">
            <div class="col-md-3">
                <ul class="help-wrap">
                    <li class="help">Repairs</li>
                    <li class="help">Property maintenance</li>
                    <li class="help">Decorating</li>
                    <li class="help">Painting</li>
                    <li class="help">Gibbing and plastering</li>
                    <li class="help">Plumbing</li>
                    <li class="help">Electrical</li>
                    <li class="help">Double glazing retrofitting</li>
                    <li class="help">Double glazing replacements</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="help-wrap">
                    <li class="help">Home automation</li>
                    <li class="help">Insulation</li>
                    <li class="help">Leak repairs</li>
                    <li class="help">Roofing and spouting</li>
                    <li class="help">Windows and doors</li>
                    <li class="help">Cupboards and shelves</li>
                    <li class="help">Carpet and flooring</li>
                    <li class="help">Tiling</li>
                    <li class="help">Locks and handles</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="help-wrap">
                    <li class="help">Furniture assembly</li>
                    <li class="help">Appliance fitting</li>
                    <li class="help">Appliance installation</li>
                    <li class="help">Air conditioning installation</li>
                    <li class="help">Heat pump installation</li>
                    <li class="help">Water blasting</li>
                    <li class="help">Building cleaning</li>
                    <li class="help">Roof cleaning</li>
                    <li class="help">Path, driveway cleaning</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="help-wrap">
                    <li class="help">Car park maintenance</li>
                    <li class="help">Gutter cleaning</li>
                    <li class="help">Paving</li>
                    <li class="help">Bricklaying</li>
                    <li class="help">Concreting</li>
                    <li class="help">Fence and gate repairs</li>
                    <li class="help">Garden maintenance</li>
                    <li class="help">Pergola assembly</li>
                    <li class="help">Garden shed assembly</li>
                </ul>
            </div>
        </div>
        <!--to develop bullet point-->
        <div class="see-more">
            <span>See more type of work <img style="width: 16px" src="svg/arrow.svg"></span></div>
    </div>
</div>

<div id="wideslideshow" class="overlay white banner">
    <img src="images/Bitmap.jpg" alt="Oncore - The key to faster, smoother jobs"/>
    <div class="overlay-container white">
        <h1>Ready to start a project?</h1>
        <div class="intro-bottom">Oncore specialises in doing everything related to taking care of your home, building
            or office. Get in touch today!
        </div>
        <button class="cta-button">Get in touch</button>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js?render=6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LdbAZkUAAAAAASwYCrJf97ls7NkQkYmpoDQUHVH', {action: 'homepage'}).then(function (token) {
        });
    });
</script>
{% endblock scripts%}
