<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block seocontent %}
    {# SEO FIELDS - DEFAULT BELOW #}
    <title>Oncore</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% endblock seocontent %}
    {% if currentSite.name == 'oncore.local' %}
    <meta name="robots" content="noindex, nofollow" />
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="{{ siteUrl}}css/font-awesome.min.css" media="all">
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,500,600,700' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" />
    <!--need update from here-->
    <link href="{{ siteUrl}}images/favicon-96x96.png" rel="shortcut icon" type="image/x-icon"/>
    <!--<link href="images/favicon.png" rel="apple-touch-icon" type="image/png"/>-->
    <!--to here-->
    <link rel="stylesheet" href="{{ siteUrl}}css/style.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" media="all">
    <link rel="stylesheet" href="{{ siteUrl}}css/normalize.min.css" media="all">
    <!---->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129576409-1"></script>

    <!-- Global site tag (gtag.js) - Google Ads: 776863757 -->
    <script> window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-129576409-1');
    gtag('config', 'AW-776863757'); </script>
    <script type="text/javascript">
        var _ss = _ss || [];
        _ss.push(['_setDomain', 'https://koi-3QNH83TKIO.marketingautomation.services/net']);
        _ss.push(['_setAccount', 'KOI-42KWHN6X54']);
        _ss.push(['_trackPageView']);
        (function() {
            var ss = document.createElement('script');
            ss.type = 'text/javascript'; ss.async = true;
            ss.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'koi-3QNH83TKIO.marketingautomation.services/client/ss.js?ver=1.1.1';
            var scr = document.getElementsByTagName('script')[0];
            scr.parentNode.insertBefore(ss, scr);
        })();
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body>
<!--<a href="#" id="back-to-top" title="Back to top">-->
<!--<div class="icon-top"></div>-->
<!--</a>-->
{% block navigation %}
{% include 'includes/navigation.html' %}
{% endblock navigation %}
<div id="wrapper" class="clearfix">
    {% block content %}

    {% endblock content%}

</div>
<!--</div>-->

{% block footer %}
{% include 'includes/footer.html' %}
{% endblock footer %}

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="">
            <h1>Newsletter sign up</h1>
            <form action="/forms/newsletter.php" method="post" id="newsletter-form">
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <input type="text" class="form-control home-form"
                               name="email" placeholder="Email"
                               id="newf-email" data-prefix="newf"/>
                    </div>
                </div>


                <div class="row tick">
                    <div class="col-sm-12 col-xs-12 input-label-wrapper">
                        <input type="checkbox" class="uniform-styles" name="privacy"
                               id="newf-privacy" checked="checked" data-prefix="newf"/>
                        <label for="newf-privacy"> I have read, understood and accepted the <a
                                href="/privacy-statement/" target="_blank">Privacy Policy</a>.</label>
                    </div>
                </div>
                <div class="row tick">
                    <div class="col-sm-12 col-xs-12 input-label-wrapper">
                        <input type="checkbox" class="uniform-styles" name="subscribe"  id="newf-subscribe"
                               checked="checked"/>
                        <label for="newf-subscribe"> I consent to receiving marketing emails.</label>
                    </div>
                </div>

                <div class="row tick">
                    <div class="col-md-12 col-xs-12 input-label-wrapper">
                        <input type="submit" class="btn btn-primary btn-block submitbutton" id="news-form-submit" value="Sign Up"/>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div id="new-step2" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="">
            <h1>Thanks for signing up.</h1>
            <p>Need maintenance, repair, installation, or insurance claim work done? Please provide us with some contact details below if you would like a local maintenance specialist to contact you.
            </p>
            <form action="/forms/newsletter.php" method="post" id="newsletter2-form">
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <input type="text" class="form-control home-form" placeholder="First name"
                               aria-label="First name" name="firstname" id="newf2-firstname"
                               data-prefix="newf2"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <input type="text" class="form-control home-form"
                               aria-label="Last name" name="lastname" placeholder="Last Name"
                               id="newf2-lastname" data-prefix="newf2"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <input type="text" class="form-control home-form"
                               name="email" placeholder="Email"
                               id="newf2-email" data-prefix="newf2"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 input-label-wrapper">
                        <input type="tel" class="form-control home-form phone-input" placeholder="Phone Number"
                               name="tel" id="newf2-tel"
                               data-prefix="newf2" data-phoneformat="yes">
                    </div>
                </div>

                <div class="row tick">
                    <div class="col-md-12 col-xs-12 input-label-wrapper">
                        <input type="submit" class="btn btn-primary btn-block submitbutton" id="news2-form-submit" value="Submit Enquiry"/>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="{{ siteUrl}}js/modernizr.js"></script>
<script src="{{ siteUrl}}js/main.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>



<script>
    var imgs = document.querySelectorAll('img');
    var lazyload = function () {
        var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
        var winTop = window.innerHeight;
        for (var i = 0; i < imgs.length; i++) {
            if (imgs[i].offsetTop < scrollTop + winTop && imgs[i].src == "") {
                imgs[i].src = imgs[i].getAttribute('data-src');
                imgs[i].classList.remove("lazy-load");
            }
        }
    }

    function throttle(method, delay) {
        var timer = null;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                method.apply(context, args);
            }, delay);
        }
    }

    window.onload = throttle(lazyload, 200);
    window.onscroll = throttle(lazyload, 200);

    $(document).ready(function () {

        $(".mobile-boxes").slick({
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1
        });



        if ($('#back-to-top').length) {
            var scrollTrigger = 100, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop > scrollTrigger) {
                        $('#back-to-top').addClass('show');
                    } else {
                        $('#back-to-top').removeClass('show');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('#back-to-top').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 700);
            });
        }

    });


    $(document).click(function (event) {
        var _con = $('#country-box');
        if (!_con.is(event.target) && _con.has(event.target).length === 0 && event.target != $("#country-top").get(0) && event.target != $("#country-top div").get(0) && event.target != $("#country-top .country-arrow").get(0)) {
            $("#country-box").hide(500);
        }
    });
    function sharePage(socialMedia){

        if(socialMedia === "facebook"){
            var url = "http://www.facebook.com/sharer.php?u=";
        }else if(socialMedia === "twitter"){
            var url = "https://twitter.com/share?url=";
        }else if(socialMedia === "googleplus"){
            var url = "https://plus.google.com/share?url=";
        }else if(socialMedia === "linkedin"){
            var url = "http://www.linkedin.com/shareArticle?mini=true&amp;url=";
        }else if(socialMedia === "pinterest"){
            var e=document.createElement('script');
            e.setAttribute('type','text/javascript');
            e.setAttribute('charset','UTF-8');
            e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);
            document.body.appendChild(e);
        }


        if($('#count').val() != null && $('#count').val() % 1 === 0){
            var newcount = Number($('#count').val())+1;
            $('#count').val(newcount);

            $.ajax({
                type: $('#sharingcount').attr('method'),
                url: $('#sharingcount').attr('action'),
                data: $('#sharingcount').serialize()
            });

            $("#shared-count").text(newcount);
        }
        if(socialMedia != "pinterest"){
            window.open(url+window.location.href, '_blank', 'toolbar=0,location=0,menubar=0');
        }
    }

    function scrollDown(button, destination) {
        button.click(function () {
            $('html, body').animate({scrollTop: destination.offset().top - 130}, 1000);
        });
    }

    $(function () {
        // $('.subscribe').click(function () {
        //     $("#myModal").css("display", "block");
        // })
        $('#myModal .close').click(function () {
            $("#myModal").css("display", "none");
        })
        $(document).on('click', function(e) {
            if(e.target.className == "subscribe"){
                $("#myModal").css("display", "block");
            } else {
                if (e.target.id == 'myModal') {
                    $("#myModal").css("display", "none");
                }
                if (e.target.id == 'new-step2') {
                    $("#new-step2").css("display", "none");
                }
            }

        })

    })


</script>
{% block scripts %}

{% endblock scripts%}
</body>

</html>