{% extends "layout.html" %}
{% block snippet %}
{% block seocontent %}
<title>{{ entry.seoPageTitle }} | Oncore</title>
<meta name="description"
      content="{{ entry.seoMetaDescription }}">
<meta name="keywords" content="{{ entry.seoMetaKeywords }}">
{% endblock seocontent %}
<!-- Event snippet for Oncore Consumer NZ Web enquiry conversions conversion page -->
    <style>

        #map-section {
            height: 550px;
            margin-top: 30px !important;
            margin-bottom: 30px !important
        }
        .map-title{font-weight:bold;color:#0079bb}
        .inputBox {
            width: 40%;
            height: 48px;
            float: left;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        #form {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border: solid 1px #4fae47;
            color: #ffffff;
            background-color: #4fae47;
            width: 136px;
            height: 48px;
            font-size: 14px;
            font-weight: bold;
            float: left;
        }
        #current-location {
            border-radius: 4px;
            border: solid 1px #4fae47;
            color: #ffffff;
            background-color: #4fae47;
            width: 267px;
            height: 48px;
            font-size: 14px;
            font-weight: bold;
            float: left;
        }
        .or {
            float: left;
        }
        #find-location {
            display: inline;
        }
    </style>
{% endblock snippet %}


{% block content %}
<div id="list-page">
    {% include 'includes/header-banner.html'  with { "image" : entry.bannerimage.first().Filename, "h1": "Our Locations", "breadcrumb": "<a
        href='/' >Home</a> / <a class='bold' href='/Our Locations/'>Our Locations</a>" } %}

    <div class="inner full-width-text-left list-page">
        <div class="col-md-8 col-xs-12">
            <p>{{ entry.pageIntroductionBoldText }}</p>
        </div>
        <div class="col-md-4 col-xs-12 innermobile">
        </div>
    </div>
    {% set myEntryQuery = craft.entries().section('location').all() %}
    {% for entry in myEntryQuery %}
        {% for contact in entry.contactAddress %}
            <input type="hidden" value="{{ contact.address }}|{{ entry.uri }}|{{ entry.h1heading }}|{{ contact.coveredAreas }}" class="address" />
            <h1>{{ entry.address }}</h1>
        {% endfor %}
    {% endfor %}
    <div class="inner">
        <div id="find-location">
            <input class="inputBox form-control" type="text" name="destination" id="destination" maxlength="35">
            <input type="submit" class="form" id="form" value="Find">
            <span class="or">or</span>
            <button id="current-location">Use my current location</button>
        </div>
    </div>
    <div class="inner">
        <div class="col-md-6" id="map-section"></div>
        <div class="col-md-6" id="nearby-location">
        </div>

    </div>


    {#{contact_address_sera}#}
    {#<input type="hidden" value="{address}|{url_title}|{page_h1_heading_sera}|{areas}" class="address" />#}
    {#{/contact_address_sera}#}

    {# Create an entry query with the 'section' and 'limit' parameters #}
    {# {% set myEntryQuery = craft.entries().section('articlePage').limit(4) %} #}



    {% include 'includes/footer-banner.html' %}
</div>
{% endblock content %}
{% block scripts %}

    <script>
        var titleLength = 47;
        var descriptionLength = 180;
        if ($(window).width() >= 768 && $(window).width() < 1024){
            titleLength = 30;
            descriptionLength = 100;
        } else if ($(window).width() >= 1024 && $(window).width() < 1249){
            titleLength = 35;
            descriptionLength = 120;
        }
        trimText(titleLength, $(".article-box .title"));
        trimText(descriptionLength, $(".article-box .description p"));
        function trimText(count, object){
            object.each(function () {
                var content = $(this).text();
                if (content.length > count) {

                    var c = content.substr(0, count);
                    $(this).html(c + "...");
                }
            })
        }
    </script>

    <script>
        var map;
        var markerList = [];
        function initMap() {
            var center = {lat: -41.838875, lng: 171.7799};
            var zoom = 5;

            var mapOptions = {
                zoom: zoom,
                center: center,
                zoomControl: true,
                scaleControl: true,
                styles: [
                    {
                        "featureType": "all",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "weight": "2.00"
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#9c9c9c"
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#f2f2f2"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape.man_made",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 45
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#7b7b7b"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#46bcec"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#e8e8e8"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#070707"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    }
                ]

            };
            map = new google.maps.Map(document.getElementById('map-section'), mapOptions);
            var lis = $('.address');
            for (var i = 0; i < lis.length; i++) {
                mapAddress(map, lis[i].value);
            }

        }

        function mapAddress(map, address) {
            var geocoder = new google.maps.Geocoder();
            var arr = address.split("|");
            if(arr[3]==""){
                if(arr[1]=="locations/auckland-central"){
                    var coveredAreas = "Parnell, Newmarket, Remuera, Grey Lynn, Onehunga";
                }else if(arr[1]=="locations/west-auckland"){
                    var coveredAreas = "Waitakere, Henderson, Glen Eden, New Lynn, Te Atatu";
                }else if(arr[1]=="locations/north-shore"){
                    var coveredAreas = "Takapuna, Devonport, Northcote, Albany, Glenfield";
                }else if(arr[1]=="locations/franklin"){
                    var coveredAreas = "Pukekohe, Waiuku, Wairoa";
                }else if(arr[1]=="locations/rodney"){
                    var coveredAreas = "Wellsford, Warkworth, Helensville, Kumeu, sMuriwai";
                }else if(arr[1]=="locations/manukau"){
                    var coveredAreas = "Manukau, East Tamaki, Otahuhu";
                }else if(arr[1]=="locations/manawatu"){
                    var coveredAreas = "Palmerston North, Feilding, Whanganui, Manawatu, Tangimoana, Kimbolton, Rongotea, Rangiwahia";
                }else if(arr[1]=="locations/invercargill"){
                    var coveredAreas = "Invercargill, Gore, Bluff, Fiordland, Riverton, Edendale, Lumsden, Winton";
                }else if(arr[1]=="locations/tauranga"){
                    var coveredAreas = "Tauranga, Mount Maunganui, Papamoa, Bethlehem, Te Puke, Te Puna, Omokoroa, Waihi";
                }else if(arr[1]=="locations/whangarei"){
                    var coveredAreas = "Whangarei, Dargaville, Kerikeri, Paihia, Waipu, Kaitaia, Opononi, Kaikohe";
                }else if(arr[1]=="locations/waikato"){
                    var coveredAreas = "Hamilton, Huntly, Raglan, Tokoroa, Cambridge, Tu Kuiti, Matamata, Tirau";
                }else if(arr[1]=="locations/hawkes-bay"){
                    var coveredAreas = "Napier, Hastings, Waipawa, Eskdale, Taradale, Havelock North, Ahuriri";
                }else if(arr[1]=="locations/queenstown-wanaka"){
                    var coveredAreas = "Queenstown, Wanaka";
                }else if(arr[1]=="locations/wellington"){
                    var coveredAreas = "Wellington Central, Porirua, Upper Hutt, Lower Hutt, Kapiti, Petone, Otaki, Miramar, Lyall Bay";
                }else if(arr[1]=="locations/thames-coromandel"){
                    var coveredAreas = "Thames, Whangamata, Tairua, Pauanui, Waihi, Paeroa, Whitianga, Coromandel Town";
                }else if(arr[1]=="locations/cambridge-surrounding-areas"){
                    var coveredAreas = "Cambridge, Ely, Bury St Edmunds, Duxford, Cambourne, Newmarket";
                }else if(arr[1]=="locations/surrey-hampshire"){
                    var coveredAreas = "Esher, Woking, Weybridge, Virginia Water, Chobham, Farnborough, Guildford, Aldershot, Farnham, Godalming, Haslemere, Cranleigh";
                }else if(arr[1]=="locations/north-nottinghamshire"){
                    var coveredAreas = "Chesterfield, Mansfield, Newark, Nottingham, Rufford, Southwell, Worksop";
                }else if(arr[1]=="locations/bristol"){
                    var coveredAreas = "Bristol, North Somerset, South Gloucestershire, Bath, North East Somerset";
                }else if(arr[1]=="locations/south-west-london"){
                    var coveredAreas = "Balham, Brixton, Chessington, Clapham, Hampton, Kew, Kingston Upon thames, Lambeth, Merton, Mitchamv, Morden, New Malden, Putney, Richmond Upon Thames, Roehampton, Streatham Common, Tooting, Wansworth, Surbiton, Teddington, Tolworth, Twickenham, Vauxhall, West Norwood";
                }else if(arr[1]=="locations/greater-london-south"){
                    var coveredAreas = "Addington, Beckenham, Biggin Hill, Bromley, Chislehurst, Croydon, Orpington, Selsdon, Sutton, Thornton Heath";
                }else if(arr[1]=="locations/pensacola"){
                    var coveredAreas = "Pensacola, Escambia, Santa Rosa Counties";
                }else if(arr[1]=="locations/gold-coast"){
                    var coveredAreas = "Gold Coast";
                }else if(arr[1]=="locations/sydney"){
                    var coveredAreas = "Inner West, Inner South West, Sutherland, South West, Outer West, Blue Mountains";
                }else if(arr[1]=="locations/Illawarra"){
                    var coveredAreas = "Illawarra";
                }else if(arr[1]=="locations/central-coast"){
                    var coveredAreas = "Central Coast";
                }else if(arr[1]=="locations/melbourne"){
                    var coveredAreas = "Inner East, South East, Mornington Peninsula, North East, Outer East, Inner, Inner South";
                }
            }else{
                var coveredAreas = arr[3];
            }

            geocoder.geocode({ 'address': arr[0] }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    var infowindow = new google.maps.InfoWindow();
                    var contentString = "<a href='/about-us/locations/" + arr[1] +"'><div class='map-title'>"+arr[2]+"</div><div class='map-address'><i class='fa fa-map-marker'></i> " + arr[0] + "</div><div>Covers the following areas:<br/><b>" + coveredAreas + "</b></div><br/><a class='map-link' href='" + arr[1] +"'>View location</a></a>";
                    var marker = new google.maps.Marker({
                        map: map,
                        title: arr[2],
                        icon: "https://mt.google.com/vt/icon?color=ff004C13&name=icons/spotlight/spotlight-waypoint-blue.png",
                        position: results[0].geometry.location
                    });
                    marker.addListener('click', function () {
                        map.setZoom(15);
                        map.setCenter(marker.getPosition());
                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);
                    });
                    markerList.push(marker);
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }


        var button = document.querySelector("input.form");
        var userSelectLat;
        var userSelectLng;
        var userMarker = [];
        var userCircle = [];
        //add an event listener which executes the callback function, geoLocation, when the Submit button is clicked
        button.addEventListener("click", getLocation);

        function getLocation(event) {
            clearPrevious(userMarker, userCircle);
            event.preventDefault();
            var in_area = [];
            //store city entered into a variable, put it in quotes, and add that to the geocode URL
            var city = document.querySelector("input#destination.inputBox").value;
            var cityInQuotes = "\"" + city + "\""
            var geocodeURL = "https://maps.googleapis.com/maps/api/geocode/json?address="+city+"&key=AIzaSyCg29UmrclswAOYDBkWeztNZbR45gLlz1w";
            //return JSON and
            // console.log(geocodeURL);
            $.get(geocodeURL,printCoordinates)
        }

        function printCoordinates(results) {
            if (results.status === "ZERO_RESULTS") {
                alert("Location not found. Try searching for a city or more specific location.")
            } else {
                userSelectLat = results.results[0].geometry.location.lat;
                userSelectLng = results.results[0].geometry.location.lng;
                // console.log('arrayresults = '+userSelectLat,userSelectLng);
            }
            //re-center map based on new location
            var relocate = new google.maps.LatLng(userSelectLat, userSelectLng);
            alert("setting the center to: " + relocate);
            map.setCenter(relocate);
            var marker = new google.maps.Marker({
                id: "user",
                map: map,
                position: relocate
            });
            marker.id = "searchID";
            userMarker.push(marker);
            map.setZoom(12);
            findNearby(document.querySelector("input#destination.inputBox").value, marker);

        }
        $('#current-location').click(function () {
            if (navigator.geolocation) {
                alert(1);
                navigator.geolocation.getCurrentPosition(function(pos) {
                    var position = {
                        lat: pos.coords.latitude,
                        lng: pos.coords.longitude
                    };
                    var marker = new google.maps.Marker({
                        map: map,
                        position: position
                    });
                    marker.id = "searchID";
                    userMarker.push(marker);
                    map.setZoom(12);
                    map.setCenter(marker.getPosition());
                    findNearby(position, marker);

                }, function(error) {
                    console.log("Browser not supported")
                });
            }

        })

        function clearPrevious(userMarker, userCircle){
            for (var i = 0; i < userMarker.length; i++) {
                if (userMarker[i].id == "searchID") {
                    //Remove the marker from Map
                    userMarker[i].setMap(null);
                    //Remove the marker from array.
                    userMarker.splice(i, 1);
                }
            }
            for(var i in userCircle) {
                userCircle[i].setMap(null);
            }
            userCircle = []; // this is if you really want to remove them, so you reset the variable.
        }

        function findNearby(address, marker){
            //In order to lookup the the position of a zip-code you can use the geocoding API:
            // https://developers.google.com/maps/documentation/geocoding/
            var geocode_api_base_url = "https://maps.googleapis.com/maps/api/geocode/json?";
            var params = {
                address : address,
                components : "country:nz",
                sensor : false,
                key: "AIzaSyCg29UmrclswAOYDBkWeztNZbR45gLlz1w",
            }
            // This is the result set of markers in area
            var in_area = [];

            //  http://maps.googleapis.com/maps/api/geocode/json?address=05673&components=country:US&sensor=false
            $.getJSON( geocode_api_base_url + $.param(params), function(data) {
                var location, search_area, in_area = [];

                location = data['results'][0]['geometry']['location'];

                // We create a circle to look within:
                search_area = {
                    map: map,
                    fillColor: '#AA0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    center : new google.maps.LatLng(location.lat, location.lon),
                    radius : 8046
                }

                search_area = new google.maps.Circle(search_area);
                userCircle.push(search_area);
                search_area.bindTo('center', marker, 'position');
                console.log(markerList);
                var title = [];
                $.each(markerList, function(i,marker) {
                    if(search_area.getBounds().contains(marker.getPosition()) && google.maps.geometry.spherical.computeDistanceBetween(search_area.getCenter(), marker.getPosition()) <= search_area.getRadius()){
                        in_area.push(marker);
                        title.indexOf(marker.getTitle()) === -1 ? title.push(marker.getTitle()) : console.log();
                    }
                });
                $("#nearby-location").html("");
                $.each(title, function (i, k){
                    $("#nearby-location").append("<li>"+k+"</li>");
                });
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg29UmrclswAOYDBkWeztNZbR45gLlz1w&callback=initMap&libraries=geometry"></script>


{% endblock scripts %}