{% extends "layout.html" %}

{% block content %}

<div id="wideslideshow" class="overlay white thank-you">
    <img src="{{siteUrl}}images/thank-you-banner.jpg"
         alt="Oncore - The key to faster, smoother jobs"/>
    <div class="overlay-container white">
        <div class="inner">
            <h1>Thank you for your enquiry</h1>
            <div class="intro-bottom">We will be in touch within the next 48 hours (business days).<br/>
                If you would like to call us immediately, please contact us on 0800 33 66 55.
            </div>
        </div>
    </div>
</div>

{% endblock content%}
