{% if craft.app.request.getSegment(2) == "franchise" %}
{% extends "leadpages/layout-FW.html" %}
{% else %}
{% extends "layout.html" %}
{% endif %}
{% block snippet %}
<!-- Event snippet for Oncore Consumer NZ Web enquiry conversions conversion page -->
<script> gtag('event', 'conversion', {'send_to': 'AW-776863757/hpycCKXnr5ABEI2AuPIC'}); </script>
    <script type="text/javascript">    fbq('track', 'Lead');
    </script>
{% endblock snippet %}
{% block content %}

<div id="wideslideshow" class="overlay white thank-you">
    <img src="{{siteUrl}}images/thank-you-banner.jpg"
         alt="Oncore - The key to faster, smoother jobs"/>
    <div class="overlay-container white">
        <div class="inner">
            <h1>Thank you for your enquiry</h1>
            <div class="intro-bottom">We will be in touch within the next 48 hours (2 business days).<br/>
                If you would like to call us immediately, please contact us on 0800 33 66 55.
            </div>
        </div>
    </div>
</div>

{% endblock content%}
